Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

style: reformat Python code with black at 100 char line length
  .flake8
  lambda/data-management-handler/index.py
  lambda/drs-agent-deployer/index.py
  lambda/execution-handler/index.py
  lambda/frontend-deployer/index.py
  lambda/notification-formatter/index.py
  lambda/orchestration-stepfunctions/index.py
  lambda/query-handler/index.py
  lambda/shared/account_utils.py
  lambda/shared/config_merge.py
  lambda/shared/conflict_detection.py
  lambda/shared/cross_account.py
  lambda/shared/drs_limits.py
  lambda/shared/drs_utils.py
  lambda/shared/execution_utils.py
  lambda/shared/launch_config_validation.py
  lambda/shared/notifications.py
  lambda/shared/rbac_middleware.py
  lambda/shared/response_utils.py
  lambda/shared/security_utils.py
  lambda/shared/staging_account_discovery.py
  lambda/shared/staging_account_models.py
Due: lint:python

chore: update pyproject.toml to use 100 char line length
  pyproject.toml
Due: none

fix: stabilize flaky parallelism property test
  tests/unit/test_multi_account_query_parallelism_property.py
Due: none

fix: update deploy script to use 100 char line length
  scripts/deploy.sh
Due: none

chore: add noqa comments for long lines and fix flake8 issues
  lambda/data-management-handler/index.py
  lambda/drs-agent-deployer/index.py
  lambda/execution-handler/index.py
  lambda/frontend-deployer/index.py
  lambda/notification-formatter/index.py
  lambda/orchestration-stepfunctions/index.py
  lambda/query-handler/index.py
  lambda/shared/conflict_detection.py
  lambda/shared/cross_account.py
  lambda/shared/drs_limits.py
  lambda/shared/rbac_middleware.py
  lambda/shared/security_utils.py
  lambda/shared/test_staging_account_models.py
Due: lint:python

chore: reformat with black at 100 character line length
  lambda/execution-handler/index.py
  lambda/frontend-deployer/index.py
Due: lint:python

test: disable deadline for timing-sensitive property tests
  tests/unit/test_failed_account_resilience_property.py
Due: none

fix: add missing API Gateway route for staging accounts sync
  cfn/api-gateway-infrastructure-methods-stack.yaml
  cfn/api-gateway-resources-stack.yaml
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: correctly query staging account capacity (direct + extended)
  lambda/query-handler/index.py
Due: lint:python

feat: auto-extend new DRS agents from staging accounts
  lambda/query-handler/index.py
Due: lint:python

style: black formatting
  lambda/query-handler/index.py
Due: lint:python

fix: use staging_name in auto-extend log message to resolve F841 flake8 warning
  lambda/query-handler/index.py
Due: lint:python

fix: resolve all flake8 warnings in test files
  .flake8
  tests/unit/test_account_breakdown_completeness_property.py
  tests/unit/test_account_utils_property.py
  tests/unit/test_account_utils_unit.py
  tests/unit/test_aws_approved_fields_property.py
  tests/unit/test_cli_operation_response_structure_property.py
  tests/unit/test_combined_capacity_aggregation_property.py
  tests/unit/test_config_merge_property.py
  tests/unit/test_conflict_detection_comprehensive.py
  tests/unit/test_data_management_staging_accounts.py
  tests/unit/test_empty_staging_accounts_default_property.py
  tests/unit/test_execution_handler_operations.py
  tests/unit/test_failed_account_resilience_property.py
  tests/unit/test_handle_add_staging_account.py
  tests/unit/test_handle_get_combined_capacity.py
  tests/unit/test_multi_account_query_parallelism_property.py
  tests/unit/test_orchestration_handler_role_arn.py
  tests/unit/test_per_account_status_calculation_property.py
  tests/unit/test_pre_creation_quota_validation.py
  tests/unit/test_query_handler_role_arn.py
  tests/unit/test_recovery_capacity_calculation_property.py
  tests/unit/test_staging_account_persistence_property.py
  tests/unit/test_staging_account_removal_property.py
  tests/unit/test_target_account_addition_property.py
  tests/unit/test_uninitialized_region_handling_property.py
  tests/unit/test_validate_staging_account_edge_cases.py
  tests/unit/test_validation_error_handling_property.py
  tests/unit/test_validation_result_completeness_property.py
  tests/unit/test_warning_generation_property.py
Due: none

fix: flake8 check now properly shows success when 0 warnings
  scripts/deploy.sh
Due: none

fix: remove problematic 2>&1 redirect in flake8 check
  scripts/deploy.sh
Due: none

fix: correct DRS capacity calculation to 300 per account (not per region)
  frontend/src/pages/Dashboard.tsx
  lambda/query-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: black formatting and flake8 line length
  lambda/query-handler/index.py
Due: lint:python

fix: only count accessible accounts for capacity calculation
  lambda/query-handler/index.py
  tests/unit/test_combined_capacity_aggregation_property.py
Due: lint:python

refactor: complete sections 1-2 of generic orchestration refactoring
  cfn/lambda-stack.yaml
  lambda/dr-orchestration-stepfunction/index.py
  lambda/execution-handler/index.py
  lambda/query-handler/index.py
  pyproject.toml
  tests/unit/test_execution_handler_start_wave.py
  tests/unit/test_query_handler_action_routing.py
  tests/unit/test_query_handler_poll_wave.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix: prevent redundant cross-account role assumption
  docs/troubleshooting/CROSS_ACCOUNT_ASSUME_ROLE_FIX.md
  lambda/shared/cross_account.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
