Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix(security): preserve data types in sanitize_dynamodb_input to fix wave progress
  lambda/shared/security_utils.py
Due: lint:python

fix(api): remove overly strict API Gateway validation that broke API responses
  lambda/api-handler/index.py
Due: lint:python

fix(ui): increase Status column width to prevent word wrapping
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix(api): improve error handling for request body sanitization
  lambda/api-handler/index.py
Due: lint:python

fix: restore API functionality by removing overly aggressive sanitization
  lambda/api-handler/index.py
Due: lint:python

fix(api): optimize list_executions performance to resolve timeouts
  lambda/api-handler/index.py
Due: lint:python

docs: update summary with API performance fix status
  LAMBDA_SECURITY_IMPLEMENTATION_SUMMARY.md
Due: none

fix(api): restore essential execution data while maintaining performance
  lambda/api-handler/index.py
Due: lint:python

restore: complete original list_executions functionality
  lambda/api-handler/index.py
Due: lint:python

fix(lambda): increase API handler timeout to handle security processing
  cfn/lambda-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: loosen API security to resolve timeout issues
  lambda/api-handler/index.py
  lambda/shared/rbac_middleware.py
  lambda/shared/security_utils.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
