Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

debug: add console logging to diagnose missing Terminate Instances button
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: correct canTerminate logic to handle 'unknown' wave status
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: resolve TypeScript errors in canTerminate logic
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: implement proper AWS console navigation behavior
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
  frontend/src/App.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
Due: validate:frontend-types, lint:frontend

fix: add workflow conflict prevention scripts and update development workflow
  scripts/check-workflow.sh
  scripts/push
  scripts/safe-push.sh
Due: none

fix: add workflow conflict prevention scripts and update development workflow
  .kiro/steering/development-workflow.md
  scripts/check-workflow.sh
  scripts/push
  scripts/safe-push.sh
Due: none

fix: handle cancelled executions with stale 'started' wave status for terminate button
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: properly handle wave completion status and partial executions
  CHANGELOG.md
  README.md
  docs/guides/DEPLOYMENT_AND_OPERATIONS_GUIDE.md
  frontend/src/pages/ExecutionDetailsPage.tsx
  lambda/api-handler/index.py
  lambda/execution-poller/index.py
  scripts/sync-to-deployment-bucket.sh
Due: validate:frontend-types, lint:python, lint:frontend

fix: properly handle wave completion status and partial executions
  .amazonq/rules/amazonq-project-context.md
  .kiro/steering/project-context.md
  CHANGELOG.md
  README.md
  docs/guides/DEPLOYMENT_AND_OPERATIONS_GUIDE.md
  frontend/src/pages/ExecutionDetailsPage.tsx
  lambda/api-handler/index.py
  lambda/execution-poller/index.py
  scripts/sync-to-deployment-bucket.sh
Due: validate:frontend-types, lint:python, lint:frontend

fix: add DynamoDB save operation to reconcile_wave_status_with_drs function
  lambda/api-handler/index.py
Due: lint:python

fix: resolve ExecutionDetailsPage navigation stuck issue
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: revert ExecutionDetailsPage to reference stack approach
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: simplify ExecutionDetailsPage to match reference stack navigation
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend
