Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-only, deploy-lambda-only-dev, deploy-frontend-only-dev, deploy-cfn-only-dev, deploy-full-dev

Path conditions:
  docs-only: any of: docs/**/*, *.md, .kiro/**/*
  deploy-lambda-only-dev: any of: lambda/**/*, package_lambda.py
  deploy-frontend-only-dev: any of: frontend/**/*
  deploy-cfn-only-dev: any of: cfn/**/*
  deploy-full-dev: (any of: lambda/**/*, cfn/**/*) or ((any of: lambda/**/*, frontend/**/*) or ((any of: cfn/**/*, frontend/**/*) or (any of: scripts/**/*, package_lambda.py, pyproject.toml, requirements*.txt)))

refactor(types): strengthen Wave DRSJobDetails typing
  frontend/src/components/WaveProgress.tsx
  frontend/src/types/index.ts
Due: deploy-frontend-only-dev, deploy-full-dev

refactor(types): resolve remaining REVIEW markers and weak types
  frontend/src/components/AccountManagementPanel.tsx
  frontend/src/components/TargetAccountSettingsModal.tsx
  frontend/src/components/WaveProgress.tsx
Due: deploy-frontend-only-dev, deploy-full-dev

refactor(deps): break api.ts <-> drsQuotaService circular dependency
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/services/api.ts
  frontend/src/types/drs-quota.ts
Due: deploy-frontend-only-dev, deploy-full-dev

refactor(errors): log previously-silent except/pass handlers
  lambda/data-management-handler/index.py
Due: deploy-lambda-only-dev, deploy-full-dev

refactor(dedup): extract shared enrichment helper in recovery_instance_sync
  frontend/src/components/LaunchConfigProgressModal.tsx
  lambda/shared/recovery_instance_sync.py
Due: deploy-lambda-only-dev, deploy-frontend-only-dev, deploy-full-dev

fix(build): resolve build errors surfaced by full vite build
  frontend/src/components/ConfigExportPanel.tsx
  frontend/src/components/WaveProgress.tsx
  frontend/src/types/staging-accounts.ts
  frontend/src/types/window.d.ts
Due: deploy-frontend-only-dev, deploy-full-dev

style: black-format print statement to fit on one line
  lambda/data-management-handler/index.py
Due: deploy-lambda-only-dev, deploy-full-dev

chore(deps): npm audit fix — resolve 7 high-severity advisories
  frontend/package-lock.json
Due: deploy-frontend-only-dev, deploy-full-dev

test(cross_account): update DRS client assertions for botocore Config
  tests/unit/test_cross_account_unit.py
Due: none

chore(dead-code): remove dead tag-sync stubs from query-handler
  lambda/query-handler/index.py
  tests/unit/test_query_handler_new_operations.py
  tests/unit/test_query_handler_new_operations_property.py
Due: deploy-lambda-only-dev, deploy-full-dev

test(conftest): reset all module-level caches to fix flaky property tests
  tests/unit/conftest.py
Due: none

test(update-protection-group): mock conflict check and account-id
  tests/unit/test_update_protection_group_property.py
Due: none

test(update-protection-group): fully mock all AWS-touching paths
  tests/unit/test_update_protection_group_property.py
Due: none

fix(deploy): add --forked to fast-path pytest invocation
  scripts/deploy-main-stack.sh
Due: deploy-full-dev

chore(steering): publish generic Kiro steering files
  .gitignore
  .kiro/steering/frontend-standards.md
  .kiro/steering/security-standards.md
Due: docs-only

docs: reconcile documentation with code source of truth
  README.md
  docs/architecture/ARCHITECTURE.md
  docs/architecture/CFN_TEMPLATE_ORGANIZATION.md
  docs/architecture/api-handler-decomposition.md
  docs/deployment/CICD_GUIDE.md
  docs/deployment/CI_CD_ENFORCEMENT.md
  docs/deployment/DEV_ENVIRONMENT_SETUP.md
  docs/deployment/QUICK_START_GUIDE.md
  docs/guides/DEPLOYMENT_GUIDE.md
  docs/guides/EXTERNAL_ID_MIGRATION_GUIDE.md
  docs/guides/TESTING_GUIDE.md
  docs/reference/API_ENDPOINTS_CURRENT.md
Due: docs-only

docs: reconcile reference, guides, and troubleshooting docs with code
  docs/guides/DEPLOYMENT_FLEXIBILITY_GUIDE.md
  docs/guides/DEVELOPER_GUIDE.md
  docs/reference/DRS_IAM_AND_PERMISSIONS_REFERENCE.md
  docs/reference/ORCHESTRATION_ROLE_SPECIFICATION.md
  docs/reference/REFERENCE_DIRECTORY_ANALYSIS.md
  docs/reference/REFERENCE_UPDATE_SUMMARY.md
  docs/troubleshooting/CROSS_ACCOUNT_FIX_COMPLETE.md
  docs/troubleshooting/DEPLOYMENT_TROUBLESHOOTING_GUIDE.md
  docs/troubleshooting/DRS_EXECUTION_TROUBLESHOOTING_GUIDE.md
  docs/troubleshooting/EXTERNAL_ID_STANDARDIZATION_COMPLETE.md
  docs/troubleshooting/SNS_NOTIFICATIONS.md
  docs/troubleshooting/handler-troubleshooting.md
Due: docs-only

docs: reconcile analysis and requirements docs code references
  docs/analysis/AUTOMATIC_STAGING_ACCOUNT_SYNC.md
  docs/analysis/DRS_QUOTA_LOAD_TEST_SUMMARY.md
  docs/analysis/MAX_SERVERS_PER_JOB_GAUGE_FIXED.md
  docs/analysis/ORCHESTRATION_REFACTORING_TEST_SUMMARY.md
  docs/analysis/PER_REGION_QUOTA_FIX.md
  docs/analysis/PRE_CREATION_QUOTA_VALIDATION_FINAL_STATUS.md
  docs/analysis/PRE_CREATION_QUOTA_VALIDATION_VERIFICATION.md
  docs/analysis/RECOVERY_CAPACITY_FIX_COMPLETE.md
  docs/analysis/STAGING_ACCOUNT_REFRESH_FIX.md
  docs/analysis/TEST_FIXES_SUMMARY.md
  docs/analysis/lambda-handler-assessment.md
  docs/deployment/DEPLOYMENT_DIRECTORY_ANALYSIS.md
  docs/guides/TESTING_GUIDE.md
  docs/requirements/CODEBASE_ANALYSIS.md
  docs/requirements/PARTIAL_EXECUTION_STATUS_ENHANCEMENT.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_TECHNOLOGY_STACK.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
Due: docs-only

docs: reconcile API, handler, and deployment docs to match code
  docs/guides/DEVELOPER_GUIDE.md
  docs/reference/API_ENDPOINTS_CURRENT.md
  docs/requirements/CODEBASE_ANALYSIS.md
  docs/requirements/PARTIAL_EXECUTION_STATUS_ENHANCEMENT.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/troubleshooting/DEPLOYMENT_TROUBLESHOOTING_GUIDE.md
Due: docs-only

docs: fix broken reference links in developer guide
  docs/guides/DEVELOPER_GUIDE.md
Due: docs-only

test: remove duplicate frontend-builder tests
  tests/python/test_frontend_builder_full.py
  tests/python/test_frontend_builder_local.py
  tests/python/test_frontend_builder_simple.py
Due: none

feat(waf): enable CloudFront WAF in lockout-safe Count mode
  cfn/main-stack.yaml
  cfn/waf/webacl-stack.yaml
  scripts/deploy-main-stack.sh
Due: deploy-cfn-only-dev, deploy-full-dev

fix(frontend): resolve npm audit vulnerabilities and document xstate peer warning
  frontend/.npmrc
  frontend/package-lock.json
Due: deploy-frontend-only-dev, deploy-full-dev

chore(deploy): harden deployment bucket creation
  scripts/deploy-main-stack.sh
Due: deploy-full-dev

fix(drs): align cross-account role External ID to orchestrator standard
  cfn/drs-target-account-setup-stack.yaml
Due: deploy-cfn-only-dev, deploy-full-dev

fix(frontend): use public AWS logo URL in top navigation
  frontend/src/components/cloudscape/AppLayout.tsx
Due: deploy-frontend-only-dev, deploy-full-dev

docs: retire QA environment and record shared-services deployment
  CHANGELOG.md
  README.md
Due: docs-only

docs: fix README links/license and bump version to 6.2.0
  README.md
  pyproject.toml
Due: docs-only, deploy-full-dev

docs: Reorganize README documentation sections
  README.md
Due: docs-only

docs: Update login disclaimer to recommend Kiro
  frontend/src/pages/LoginPage.tsx
Due: deploy-frontend-only-dev, deploy-full-dev

fix(frontend): use public AWS logo URL on login page
  frontend/src/pages/LoginPage.tsx
Due: deploy-frontend-only-dev, deploy-full-dev

chore: Archive legacy scripts
  archive/scripts/setup-dev-environment.sh
  archive/scripts/ssm-document-drs-agent-installer.yaml
Due: none

docs: Document cross-account DRS extension prerequisite
  CHANGELOG.md
  README.md
Due: docs-only

feat(drs): Add DRS source-network export bucket IaC
  cfn/drs-source-network-bucket-stack.yaml
Due: deploy-cfn-only-dev, deploy-full-dev
