Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

feat: migrate database schema to camelCase for performance optimization
  camelcase-migration-plan.md
  lambda/api-handler/index.py
  lambda/bucket-cleaner/index.py
  lambda/execution-finder/index.py
  lambda/execution-poller/index.py
  lambda/frontend-builder/index.py
  lambda/orchestration-stepfunctions/index.py
  scripts/migrate-to-camelcase.py
  scripts/remove-transform-functions.py
Due: lint:python

docs: update CHANGELOG for v1.4.0 camelCase migration
  CHANGELOG.md
Due: none

feat: complete frontend camelCase migration for performance optimization
  frontend/src/components/ProtectionGroupDialog.tsx
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/types/index.ts
Due: validate:frontend-types, lint:frontend

fix: update executeRecoveryPlan API call to use camelCase fields
  frontend/src/services/api.ts
Due: validate:frontend-types, lint:frontend

feat: add comprehensive camelCase validation to CI/CD pipeline
  .github/workflows/deploy.yml
  frontend/src/components/LaunchConfigSection.tsx
  scripts/validate-camelcase-consistency.sh
Due: validate:frontend-types, lint:frontend

feat: complete camelCase database migration for performance optimization
  CHANGELOG.md
  frontend/src/pages/ExecutionDetailsPage.tsx
  lambda/api-handler/index.py
  lambda/execution-finder/index.py
  lambda/execution-poller/index.py
  lambda/orchestration-stepfunctions/index.py
  lambda/shared/security_utils.py
  scripts/migrate-backend-to-camelcase.py
  scripts/validate-camelcase-consistency.sh
Due: validate:frontend-types, lint:python, lint:frontend

fix: resolve createProtectionGroup field name mismatch
  lambda/api-handler/index.py
  scripts/validate-camelcase-consistency.sh
Due: lint:python

fix: complete camelCase migration validation fixes
  lambda/api-handler/index.py
  scripts/validate-camelcase-consistency.sh
Due: lint:python

fix(backend): update security validation to use camelCase field names
  lambda/shared/security_utils.py
Due: lint:python

fix(api): fix DynamoDB update expression to use camelCase field name
  lambda/api-handler/index.py
Due: lint:python

docs: update CHANGELOG with camelCase validation fix
  CHANGELOG.md
Due: none

fix: force Lambda redeployment to clear Python bytecode cache
  lambda/api-handler/index.py
Due: lint:python

debug: add logging to trace PascalCase validation issue
  lambda/api-handler/index.py
Due: lint:python

fix: force Lambda deployment to clear cached PascalCase validation
  lambda/api-handler/index.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
