Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix(ci): use ECR Public images to avoid Docker Hub rate limits
  .gitlab-ci.yml
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix(ci): treat cfn-lint warnings-only (exit 4) as success
  .gitlab-ci.yml
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix(test): fix async userEvent cleanup in CapacityDetailsModal test
  frontend/src/components/__tests__/CapacityDetailsModal.test.tsx
Due: validate:frontend-types, lint:frontend

fix(cfn): add API Gateway CloudWatch Logs role for fresh account deployment
  cfn/api-gateway-deployment-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix(cfn): add API Gateway account setting and trust policy for CloudWatch Logs
  cfn/api-gateway-deployment-stack.yaml
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix(cfn): add CloudWatch Logs permissions to orchestration role for API Gateway
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs: update steering and setup docs with deployed stack outputs
  .kiro/steering/aws-stack-protection.md
Due: none

docs: update all docs, examples, README, CHANGELOG with new project/account/region references
  CHANGELOG.md
  README.md
  docs/analysis/AUTOMATIC_STAGING_ACCOUNT_SYNC.md
  docs/analysis/DASHBOARD_UX_IMPROVEMENTS.md
  docs/analysis/DRS_QUOTA_LOAD_TEST_SUMMARY.md
  docs/analysis/MAX_SERVERS_PER_JOB_GAUGE_FIXED.md
  docs/analysis/MAX_SERVERS_PER_JOB_GAUGE_FIX_COMPLETE.md
  docs/analysis/ORCHESTRATION_REFACTORING_TEST_SUMMARY.md
  docs/analysis/PER_REGION_QUOTA_FIX.md
  docs/analysis/PRE_CREATION_QUOTA_VALIDATION_FINAL_STATUS.md
  docs/analysis/PRE_CREATION_QUOTA_VALIDATION_VERIFICATION.md
  docs/analysis/RECOVERY_CAPACITY_FIX_COMPLETE.md
  docs/analysis/STAGING_ACCOUNT_REFRESH_FIX.md
  docs/analysis/TERMINATE_BUTTON_FIX_PLAN.md
  docs/api-reference/DATA_MANAGEMENT_HANDLER_API.md
  docs/api-reference/QUERY_HANDLER_API.md
  docs/architecture/ARCHITECTURE.md
  docs/architecture/LAMBDA_HANDLERS_ARCHITECTURE.md
  docs/deployment/CI_CD_ENFORCEMENT.md
  docs/deployment/DEPLOYMENT_DIRECTORY_ANALYSIS.md
  docs/deployment/DEV_ENVIRONMENT_SETUP.md
  docs/deployment/PER_SERVER_CONFIG_DEPLOYMENT_2026_01_28.md
  docs/guides/DEVELOPER_GUIDE.md
  docs/guides/MIGRATION_GUIDE.md
  docs/iam/ORCHESTRATION_ROLE_POLICY.md
  docs/performance/DRS_CAPACITY_CACHING_PERFORMANCE_FIX.md
  docs/reference/SECURITY.md
  docs/troubleshooting/AUTHENTICATION_ISSUES.md
  docs/troubleshooting/CROSS_ACCOUNT_ASSUME_ROLE_FIX.md
  docs/troubleshooting/CROSS_ACCOUNT_FIX_COMPLETE.md
  docs/troubleshooting/EXTERNAL_ID_STANDARDIZATION_COMPLETE.md
  examples/cdk/docs/IAM_ROLE_INTEGRATION.md
  examples/cdk/docs/STEPFUNCTIONS_INTEGRATION.md
Due: none

refactor: move examples/ under docs/examples/ for cleaner repo structure
  CHANGELOG.md
  README.md
  docs/examples/bash/README.md
  docs/examples/bash/dr_ci_pipeline.sh
  docs/examples/cdk/README.md
  docs/examples/cdk/bin/dr-orchestration.ts
  docs/examples/cdk/cdk.json
  docs/examples/cdk/docs/DYNAMODB_INTEGRATION.md
  docs/examples/cdk/docs/IAM_ROLE_INTEGRATION.md
  docs/examples/cdk/docs/STEPFUNCTIONS_INTEGRATION.md
  docs/examples/cdk/lib/dr-orchestration-stack.ts
  docs/examples/cdk/package.json
  docs/examples/cdk/tsconfig.json
  docs/examples/eventbridge/README.md
  docs/examples/eventbridge/lambda-invocation-example.json
  docs/examples/python/README.md
  docs/examples/python/complete_dr_workflow.py
  docs/examples/python/iam-policy.json
  docs/examples/stepfunctions/README.md
  docs/examples/stepfunctions/lambda-invocation-example.json
Due: none

docs: add rollback instructions for v6.0.1-PreSpecRefactoring tag
  README.md
Due: none

fix(frontend): ensure accountId passed to tag resolution endpoint
  REGION_STATUS_MIGRATION_COMPLETE.md
  frontend/src/components/ProtectionGroupDialog.tsx
  frontend/src/services/api.ts
  scripts/utilities/analyze_wave1_servers.py
  scripts/utilities/create_protection_group.py
  scripts/utilities/create_wave1_actual_servers.py
  scripts/utilities/create_wave1_database_protection_group.py
  scripts/utilities/create_wave1_protection_group.sh
  scripts/utilities/create_wave1_protection_group_api.py
  scripts/utilities/create_wave1_protection_group_simple.py
  scripts/utilities/explore_inventory_tags.py
  scripts/utilities/fix_wave1_protection_group.py
  scripts/utilities/force_nested_stack_update.sh
  scripts/utilities/sync_drs_tables.py
  scripts/utilities/test_assume_with_lambda_role.py
  scripts/utilities/test_deployment_verification.py
  scripts/utilities/test_lambda_assume_role.py
Due: validate:frontend-types, lint:frontend

fix(deploy): frontend-only should trigger Lambda deployer via CloudFormation
  scripts/deploy.sh
Due: none

fix(execution): extract sourceServerID from tag resolution results
  lambda/execution-handler/index.py
Due: lint:python

fix(query): remove unnecessary f-string without placeholders
  lambda/query-handler/index.py
Due: lint:python

chore(cfn): suppress W3005 explicit DependsOn warnings
  .cfnlintrc.yaml
Due: validate:cloudformation, validate:cloudformation-aws

chore: track .cfnlintrc.yaml in version control
  .gitignore
Due: none

fix(frontend): auto-switch account context when editing protection groups
  frontend/src/components/ProtectionGroupDialog.tsx
Due: validate:frontend-types, lint:frontend

fix(frontend): reload EC2 resources when account context changes
  frontend/src/components/LaunchConfigSection.tsx
Due: validate:frontend-types, lint:frontend

fix(tests): update query_drs_servers_by_tags mocks to return server objects
  tests/unit/test_execution_handler_start_wave.py
Due: none
