Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: update ExecutionDetails to use simplified WaveProgress props
  frontend/src/components/ExecutionDetails.tsx
Due: validate:frontend-types, lint:frontend

fix: mock boto3 before import in unit tests to prevent region error
  tests/python/unit/test_drs_service_limits.py
Due: none

feat: enhance WaveProgress with table view, smart status detection, and AWS console links
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

feat(WaveProgress): replace Region column with Launch Time column
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix(rbac): fix path normalization bug and add comprehensive tests
  .gitignore
  lambda/shared/rbac_middleware.py
  tests/python/unit/test_api_handler.py
  tests/python/unit/test_rbac_enforcement.py
  tests/python/unit/test_rbac_middleware.py
  tests/python/unit/test_security_utils.py
Due: lint:python

docs: update RBAC documentation with correct role names and permission matrix
  CHANGELOG.md
  README.md
  docs/security/RBAC_SECURITY_TESTING_PLAN.md
  docs/security/RBAC_SECURITY_TESTING_STATUS.md
Due: none

fix(rbac): add missing recovery-instances endpoint permission
  lambda/shared/rbac_middleware.py
  tests/python/unit/test_rbac_middleware.py
Due: lint:python

docs: update RBAC documentation and CI/CD guides for v1.4.6
  CHANGELOG.md
  README.md
  docs/Enterprise_DR_Orchestration_Platform_PRD.md
  docs/guides/API_REFERENCE_GUIDE.md
  docs/guides/ORCHESTRATION_INTEGRATION_GUIDE.md
  docs/guides/deployment/GITHUB_ACTIONS_CICD_GUIDE.md
  docs/security/RBAC_SECURITY_TESTING_STATUS.md
Due: none

docs: fix Enterprise PRD API examples and inaccuracies
  CHANGELOG.md
  docs/Enterprise_DR_Orchestration_Platform_PRD.md
Due: none

docs: add Reference Implementation Code section with GitHub links
  CHANGELOG.md
  docs/Enterprise_DR_Orchestration_Platform_PRD.md
Due: none

docs: restructure Enterprise PRD into modular documents
  CHANGELOG.md
  docs/Enterprise_DR_Orchestration_Platform_PRD.md
  docs/enterprise-prd/01-reference-implementation.md
  docs/enterprise-prd/02-dr-orchestration-patterns.md
  docs/enterprise-prd/03-api-integration.md
  docs/enterprise-prd/04-technology-adapters.md
  docs/enterprise-prd/05-iam-security.md
  docs/enterprise-prd/06-architecture.md
  docs/enterprise-prd/07-implementation.md
  docs/enterprise-prd/README.md
Due: none
