Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: update camelCase validation script to exclude AWS API field references
  scripts/validate-camelcase-consistency.sh
Due: none

fix: resolve TypeScript syntax errors in types file
  frontend/src/types/index.ts
Due: validate:frontend-types, lint:frontend

fix: resolve all TypeScript field name errors for camelCase migration
  frontend/src/components/WaveConfigEditor.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
Due: validate:frontend-types, lint:frontend

fix: trigger Lambda deployment for EC2 resources loading issue
  lambda/api-handler/index.py
Due: lint:python

fix(frontend): add basic test files to resolve vitest warning
  frontend/src/test/setup.ts
  frontend/src/tests/basic.tests.ts
  frontend/vite.config.ts
Due: validate:frontend-types, lint:frontend

fix(ci): resolve AWS profile error in GitHub Actions
  scripts/load-deployment-config.sh
  scripts/validate-frontend-config.sh
Due: none

fix(ec2): correct AWS API field references from camelCase to PascalCase
  lambda/api-handler/index.py
Due: lint:python

fix(validation): exclude AWS API field references from camelCase validation
  scripts/validate-camelcase-consistency.sh
Due: none

fix: use PascalCase InstanceType for AWS EC2 launch template API
  lambda/api-handler/index.py
Due: lint:python

fix: exclude AWS API InstanceType from camelCase validation
  scripts/validate-camelcase-consistency.sh
Due: none

fix: use PascalCase for DRS API field names in launch configuration
  lambda/api-handler/index.py
  scripts/validate-camelcase-consistency.sh
Due: lint:python

debug: add enhanced logging to identify 400 Bad Request cause
  lambda/api-handler/index.py
Due: lint:python

fix: correct camelCase field names in protection group updates
  lambda/api-handler/index.py
Due: lint:python

debug: add logging to protection group update function
  lambda/api-handler/index.py
Due: lint:python
