Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: always update DynamoDB with server statuses during wave polling
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: set execution status to POLLING when DRS job starts
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: allow workflow_dispatch to trigger deployments
  .github/workflows/deploy.yml
Due: none

fix: add security_utils.py to execution-poller and execution-finder Lambda packages
  lambda/execution-finder/security_utils.py
  lambda/execution-poller/security_utils.py
Due: lint:python

fix(qa-stack): increase execution timeout threshold from 30 minutes to 1 year
  cfn/lambda-stack.yaml
  execution-poller-payload.json
  poller-payload.json
Due: validate:cloudformation, validate:cloudformation-aws

fix(qa-stack): increase execution timeout threshold from 30 minutes to 1 year
  .kiro/steering/qa-stack-fix-focus.md
  cfn/lambda-stack.yaml
  execution-poller-payload.json
  poller-payload.json
Due: validate:cloudformation, validate:cloudformation-aws

fix(qa-stack): add region-specific DRS client to execution-poller
  .kiro/steering/qa-stack-fix-focus.md
  cfn/lambda-stack.yaml
  lambda/execution-poller/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix(qa-stack): add region-specific DRS client to execution-poller
  cfn/lambda-stack.yaml
  lambda/execution-poller/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix: reorganize Lambda folder structure and update imports
  ORCHESTRATION_FIX_LOG.md
  lambda/api-handler/index.py
  lambda/execution-finder/index.py
  lambda/execution-poller/index.py
  lambda/frontend-builder/index.py
  lambda/notification-formatter/index.py
  lambda/rbac_middleware.py
  lambda/security_utils.py
  lambda/shared/rbac_middleware.py
  payload-base64.txt
Due: lint:python

fix: correct Lambda packaging to maintain shared folder structure
  .github/workflows/deploy.yml
  ORCHESTRATION_FIX_LOG.md
  payload-base64.txt
  scripts/sync-to-deployment-bucket.sh
Due: none

fix: execution-poller now sets wave status to DRS job status
  ORCHESTRATION_FIX_LOG.md
  lambda/execution-poller/index.py
Due: lint:python

docs: update orchestration fix log with DRS job step tracking success
  ORCHESTRATION_FIX_LOG.md
Due: none

fix: update frontend config to point to QA stack API endpoint
  frontend/public/aws-config.json
Due: validate:frontend-types, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
