Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

feat: implement enhanced DRS status display and fix timeout configuration
  SYSTEMATIC_COMMIT_ANALYSIS.md
  cfn/lambda-stack.yaml
  commit_list.txt
  diagnose_execution.py
  diagnose_execution_detailed.py
  execution_analysis.py
  fix_stuck_execution.py
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/components/WaveProgress.tsx
  frontend/src/types/index.ts
  lambda/api-handler/index.py
  lambda/execution-poller/index.py
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

feat: implement enhanced DRS status display and fix timeout configuration
  .kiro/specs/execution-polling-system-fix/design.md
  .kiro/specs/execution-polling-system-fix/requirements.md
  .kiro/specs/execution-polling-system-fix/tasks.md
  .kiro/steering/qa-stack-fix-focus.md
  SYSTEMATIC_COMMIT_ANALYSIS.md
  cfn/lambda-stack.yaml
  commit_list.txt
  diagnose_execution.py
  diagnose_execution_detailed.py
  execution_analysis.py
  fix_stuck_execution.py
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/components/WaveProgress.tsx
  frontend/src/types/index.ts
  lambda/api-handler/index.py
  lambda/execution-poller/index.py
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix(frontend): resolve TypeScript compilation errors
  frontend/src/components/WaveProgress.tsx
  frontend/src/types/index.ts
Due: validate:frontend-types, lint:frontend

fix(frontend): update configuration to match current stack
  aws-config.json
  frontend/public/aws-config.json
Due: validate:frontend-types, lint:frontend

fix(frontend): remove hardcoded references to old stack endpoints
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/PermissionsContext.tsx
Due: validate:frontend-types, lint:frontend

feat: implement comprehensive configuration management prevention system
  .github/workflows/deploy.yml
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/PermissionsContext.tsx
  scripts/pre-commit-config-check.sh
  scripts/validate-frontend-config.sh
Due: validate:frontend-types, lint:frontend

feat: enhance WaveProgress with AWS design system visual indicators
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix: resolve TypeScript compilation errors in WaveProgress component
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix: enhance API to return complete server details with recovery instance info
  fix_execution_manually.py
  fix_server_instance_ids.py
  fix_server_recovery_instances.py
  lambda/api-handler/index.py
  populate_server_details.py
  trigger_reconcile.py
Due: lint:python

fix: enhance API to return complete server details with recovery instance info
  .kiro/specs/execution-polling-system-fix/tasks.md
  fix_execution_manually.py
  fix_server_instance_ids.py
  fix_server_recovery_instances.py
  lambda/api-handler/index.py
  populate_server_details.py
  trigger_reconcile.py
Due: lint:python

fix: enhance legacy servers path to include recovery instance details
  check_missing_fields.py
  lambda/api-handler/index.py
Due: lint:python

fix: enhance enrich_execution_with_server_details to include recovery instance details
  lambda/api-handler/index.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
