Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

Add frontend/dist/ to gitignore (build artifacts)
  .gitignore
Due: none

Remove frontend/dist/ from git tracking (now in gitignore)
  frontend/dist/assets/index-Ci4E6TmJ.css
  frontend/dist/assets/index-ag80oUgP.js
  frontend/dist/assets/vendor-aws-1qfFVWRO.js
  frontend/dist/assets/vendor-cloudscape-B8XRFzRN.css
  frontend/dist/assets/vendor-cloudscape-DvIB2xEp.js
  frontend/dist/assets/vendor-http-DuHxbQuH.js
  frontend/dist/assets/vendor-react-D2p37RnT.js
  frontend/dist/aws-config.json
  frontend/dist/favicon.svg
  frontend/dist/index.html
  frontend/dist/vite.svg
Due: validate:frontend-types, lint:frontend

Update gitignore: add temp files, MCP docs, and dev scripts
  .gitignore
Due: none

Remove .git_commit_msg.txt from tracking
  .git_commit_msg.txt
Due: none

Redesign Getting Started page - more concise with better icons
  frontend/src/pages/GettingStartedPage.tsx
Due: validate:frontend-types, lint:frontend

Recovery Plans: Replace Plan ID column with copy icon only
  frontend/src/pages/RecoveryPlansPage.tsx
Due: validate:frontend-types, lint:frontend

feat: Add existing recovery instances check before starting drill
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/services/api.ts
  lambda/index.py
Due: validate:frontend-types, lint:python, lint:frontend

feat(api): Add check-existing-instances endpoint with source tracking
  cfn/api-stack.yaml
  cfn/api-stack.yaml.bak
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  lambda/index.py
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

docs: Update CHANGELOG and README for v1.5.0
  CHANGELOG.md
  README.md
Due: none

docs: Update requirements docs for v1.5.0 features
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
Due: none

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
