Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

feat: add compact capacity summary and System Status page
  frontend/src/App.tsx
  frontend/src/components/CompactCapacitySummary.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/SystemStatusPage.tsx
Due: validate:frontend-types, lint:frontend

fix: use lowercase status values in SystemStatusPage
  frontend/src/pages/SystemStatusPage.tsx
Due: validate:frontend-types, lint:frontend

feat: simplify Add Staging Account modal and connect to real API
  frontend/src/components/AddStagingAccountModal.tsx
  frontend/src/components/__tests__/AddStagingAccountModal.test.tsx
Due: validate:frontend-types, lint:frontend

fix: correct staging account validation API path
  frontend/src/components/CapacityGauge.tsx
  frontend/src/pages/SystemStatusPage.tsx
  frontend/src/services/__tests__/staging-accounts-api.test.ts
  frontend/src/services/staging-accounts-api.ts
Due: validate:frontend-types, lint:frontend

fix: improve flaky property test for account ID validation
  tests/unit/test_account_utils_property.py
Due: none

feat: auto-discover staging accounts using DRS list-staging-accounts API
  lambda/data-management-handler/index.py
  lambda/shared/staging_account_discovery.py
Due: lint:python

fix: correct capacity calculation for extended source servers
  lambda/query-handler/index.py
Due: lint:python

docs: add comprehensive DRS service quota documentation
  docs/reference/DRS_QUOTA_VALIDATION_AUDIT.md
  docs/reference/DRS_SERVICE_LIMITS_AND_CAPABILITIES.md
  docs/reference/DRS_SERVICE_QUOTAS_COMPLETE.md
Due: none

fix: improve UI text and remove add staging account from edit modal
  frontend/src/components/TargetAccountSettingsModal.tsx
  frontend/src/pages/SystemStatusPage.tsx
Due: validate:frontend-types, lint:frontend

refactor: convert TargetAccountSettingsModal to read-only view
  frontend/src/components/TargetAccountSettingsModal.tsx
Due: validate:frontend-types, lint:frontend

style: apply black formatting to query-handler
  lambda/query-handler/index.py
Due: lint:python

fix: restore correct multi-account capacity model (300 per account)
  lambda/query-handler/index.py
  tests/unit/test_combined_capacity_aggregation_property.py
  tests/unit/test_handle_get_combined_capacity.py
Due: lint:python

fix: update property tests for multi-account capacity model
  tests/unit/test_combined_capacity_aggregation_property.py
Due: none

fix: exclude extended source servers from replicating count
  lambda/query-handler/index.py
Due: lint:python

fix: update test mocks for new _count_drs_servers signature
  tests/unit/test_uninitialized_region_handling_property.py
Due: none

fix: properly parse ARN to identify extended source servers
  lambda/query-handler/index.py
Due: lint:python

feat: add endpoint to discover staging accounts from DRS extended source servers
  lambda/query-handler/index.py
Due: lint:python

feat: auto-discover staging accounts in settings modal
  frontend/src/components/TargetAccountSettingsModal.tsx
Due: validate:frontend-types, lint:frontend

feat: add API Gateway endpoint for staging account discovery
  cfn/api-gateway-infrastructure-methods-stack.yaml
  cfn/api-gateway-resources-stack.yaml
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: correct staging account discovery endpoint routing and test
  frontend/src/components/TargetAccountSettingsModal.tsx
  lambda/query-handler/index.py
  tests/unit/test_account_utils_property.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: use correct API endpoint path for staging account discovery
  frontend/src/components/TargetAccountSettingsModal.tsx
Due: validate:frontend-types, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
