Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: Complete cleanup and preparation for fresh deployment
  .gitignore
  README.md
  buildspecs/deploy-infra-buildspec.yml
  buildspecs/test-buildspec.yml
  cfn/codepipeline-stack.yaml
  docs/implementation/ENHANCEMENT_ROADMAP.md
Due: validate:cloudformation, validate:cloudformation-aws

docs: Add Git troubleshooting section for CodeCommit 403 errors
  README.md
Due: none

fix: Include source files in test stage artifacts for downstream stages
  buildspecs/test-buildspec.yml
Due: none

fix: Resolve DeployInfrastructure stage buildspec file issue
  cfn/codepipeline-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

feat(infrastructure): Add S3 bucket cleanup automation for CloudFormation
  cfn/codecommit-stack.yaml
  cfn/frontend-stack.yaml
  cfn/lambda-stack.yaml
  lambda/bucket-cleaner.zip
  lambda/bucket-cleaner/index.py
  lambda/bucket-cleaner/requirements.txt
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

feat: Complete S3 bucket cleanup automation and fix deployment issues
  README.md
  cfn/codecommit-stack.yaml
  cfn/codepipeline-stack.yaml
  cfn/lambda-stack.yaml
  docs/CI_CD_PLATFORM_SELECTION.md
  docs/guides/deployment/FRESH_DEPLOYMENT_GUIDE.md
  lambda/bucket-cleaner.zip
  lambda/bucket-cleaner/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix: Format bucket cleaner Lambda function to comply with Black 79-char line limit
  lambda/bucket-cleaner/index.py
Due: lint:python

fix: Split oversized CloudFormation template to resolve 51,200 character limit
  cfn/api-auth-stack.yaml
  cfn/api-gateway-stack.yaml
  cfn/api-stack-rbac-backup.yaml
  cfn/master-template.yaml
  docs/CI_CD_PLATFORM_SELECTION.md
Due: validate:cloudformation, validate:cloudformation-aws

fix: Remove backup CloudFormation template causing cfn-lint validation failures
  cfn/api-stack-rbac-backup.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: Correct Cognito UserPool Tags property to UserPoolTags
  cfn/api-auth-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: Apply Black formatting to bucket-cleaner Lambda function
  lambda/bucket-cleaner/index.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
