Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

refactor: Remove redundant /config directory and update documentation
  config/README.md
  config/environments/.env.test.template
Due: none

fix: Update CodeBuild permissions troubleshooting guide with correct root cause analysis
  docs/guides/troubleshooting/CODEBUILD_PERMISSIONS_FIX.md
Due: none

fix: Use dynamic STACK_NAME in deploy-infra buildspec
  buildspecs/deploy-infra-buildspec.yml
Due: none

fix: Improve stack deployment logic in deploy-infra buildspec
  buildspecs/deploy-infra-buildspec.yml
Due: none

fix(cfn): correct API stack description - remove Step Functions reference
  cfn/api-stack-rbac.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix(buildspec): set EnableAutomatedDeployment=false to prevent pipeline from redeploying its own CI/CD infrastructure
  buildspecs/deploy-infra-buildspec.yml
Due: none

fix(buildspec): implement AWS bootstrap pattern for CI/CD deployment
  .amazonq/rules/amazonq-project-context.md
  .gitignore
  .gitlab-ci.yml
  .kiro/steering/project-context.md
  CHANGELOG.md
  README.md
  aws-config.json
  buildspecs/build-buildspec-minimal.yml
  buildspecs/build-buildspec-new.yml
  buildspecs/deploy-infra-buildspec-clean.yml
  cfn/codebuild-projects-stack.yaml
  docs/guides/DEVELOPMENT_WORKFLOW_GUIDE.md
  docs/guides/ORCHESTRATION_INTEGRATION_GUIDE.md
  docs/guides/S3_SYNC_AUTOMATION.md
  docs/guides/troubleshooting/COGNITO_PASSWORD_RESET_FIX.md
  docs/guides/troubleshooting/UPDATE_ROLLBACK_COMPLETE_FIX.md
  scripts/com.user.document-sync.plist
  scripts/setup-document-sync.sh
  scripts/sync-documents.sh
  scripts/sync-to-deployment-bucket.sh
  ssm-documents/AWSDisasterRecovery-InstallDRAgentOnInstance.yaml
  ssm-documents/createEC2BackupImageAndLaunchTemplate.yaml
  ssm-documents/drTestBubbleCreationAndRestore.yaml
  ssm-documents/drs-orchestration-runbook.yaml
  ssm-documents/post-launch-health-check.yaml
  ssm-documents/restoreEC2BackupImageFromLaunchTemplate.yaml
  ssm-documents/updateDRSLaunchSettingsAndTags.yaml
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix(buildspec): implement AWS bootstrap pattern for CI/CD deployment
  .gitignore
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  aws-config.json
  buildspecs/build-buildspec-minimal.yml
  buildspecs/build-buildspec-new.yml
  buildspecs/deploy-infra-buildspec-clean.yml
  cfn/codebuild-projects-stack.yaml
  docs/guides/DEVELOPMENT_WORKFLOW_GUIDE.md
  docs/guides/ORCHESTRATION_INTEGRATION_GUIDE.md
  docs/guides/S3_SYNC_AUTOMATION.md
  docs/guides/troubleshooting/COGNITO_PASSWORD_RESET_FIX.md
  docs/guides/troubleshooting/UPDATE_ROLLBACK_COMPLETE_FIX.md
  scripts/com.user.document-sync.plist
  scripts/setup-document-sync.sh
  scripts/sync-documents.sh
  scripts/sync-to-deployment-bucket.sh
  ssm-documents/AWSDisasterRecovery-InstallDRAgentOnInstance.yaml
  ssm-documents/createEC2BackupImageAndLaunchTemplate.yaml
  ssm-documents/drTestBubbleCreationAndRestore.yaml
  ssm-documents/drs-orchestration-runbook.yaml
  ssm-documents/post-launch-health-check.yaml
  ssm-documents/restoreEC2BackupImageFromLaunchTemplate.yaml
  ssm-documents/updateDRSLaunchSettingsAndTags.yaml
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix: Add NotificationEmail parameter to infrastructure deployment
  buildspecs/deploy-infra-buildspec.yml
Due: none

fix: Make test buildspec resilient to missing test directories
  buildspecs/test-buildspec.yml
Due: none

fix: Disable test stage in pipeline temporarily
  cfn/codepipeline-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: Complete cleanup and preparation for fresh deployment
  .gitignore
  README.md
  buildspecs/deploy-infra-buildspec.yml
  buildspecs/test-buildspec.yml
  cfn/codepipeline-stack.yaml
  docs/implementation/ENHANCEMENT_ROADMAP.md
Due: validate:cloudformation, validate:cloudformation-aws

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
