Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: resolve TypeScript build errors - remove textTransform prop, add NodeJS types, exclude test files from build
  frontend/src/components/CapacityDashboard.tsx
  frontend/src/components/CapacityDetailsModal.tsx
  frontend/tsconfig.app.json
Due: validate:frontend-types, lint:frontend

fix: replace hardcoded mock data with real API call to getCombinedCapacity
  frontend/src/components/CapacityDashboard.tsx
Due: validate:frontend-types, lint:frontend

fix: correct API endpoint path from /api/accounts to /accounts/targets
  frontend/src/services/staging-accounts-api.ts
Due: validate:frontend-types, lint:frontend

fix: resolve all npm audit vulnerabilities (23 high → 0)
  frontend/.npmrc
  frontend/package-lock.json
  frontend/package.json
  scripts/deploy.sh
Due: validate:frontend-types, lint:frontend

docs: add comprehensive security fixes summary
  SECURITY_FIXES_COMPLETE.md
Due: none

docs: add scripts and tests public exposure completion summary
  SCRIPTS_TESTS_PUBLIC_EXPOSURE_COMPLETE.md
Due: none

refactor: move root markdown docs to archive/docs
  archive/docs/SCRIPTS_TESTS_PUBLIC_EXPOSURE_COMPLETE.md
  archive/docs/SCRIPTS_TESTS_SECURITY_ANALYSIS.md
  archive/docs/SECURITY_FIXES_COMPLETE.md
Due: none

fix: support /accounts/targets/{id}/capacity path format
  lambda/query-handler/index.py
Due: lint:python

style: apply black formatting
  lambda/query-handler/index.py
Due: lint:python

fix: remove /api prefix from capacity endpoint path matching
  lambda/query-handler/index.py
Due: lint:python

fix: add availableSlots to combined capacity response
  lambda/query-handler/index.py
Due: lint:python

feat: add compact capacity summary and System Status page
  frontend/src/App.tsx
  frontend/src/components/CompactCapacitySummary.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/SystemStatusPage.tsx
Due: validate:frontend-types, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
