Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix(execution): restore job log event status derivation with DRS-compatible values
  lambda/execution-handler/index.py
Due: lint:python

fix(frontend): sort DRS job events newest first
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

style: apply black formatting to lambda directory (line-length=120)
  lambda/execution-handler/index.py
Due: lint:python

fix(frontend): group DRS job events by time and type like DRS Console
  fix_all_tests.py
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix(execution): query COMPLETED executions to update wave statuses after completion
  lambda/execution-handler/index.py
Due: lint:python

fix(frontend): freeze wave duration when completed
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

chore: ignore frontend coverage directory
  .gitignore
Due: none

fix(frontend): add defensive logging for wave duration calculation
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix: cache completed wave durations to prevent continuous updates
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix(lambda): fix regression test failures in orchestration and execution handlers
  lambda/dr-orchestration-stepfunction/index.py
  lambda/execution-handler/index.py
Due: lint:python

fix(deploy): map dr-orch-sf Lambda to correct S3 zip key
  scripts/deploy.sh
Due: none

fix(notifications): send pause email when execution pauses between waves
  lambda/dr-orchestration-stepfunction/index.py
  lambda/shared/notifications.py
  tests/unit/test_notification_formatter_html.py
  tests/unit/test_notification_formatter_property.py
  tests/unit/test_notifications_publishing_unit.py
Due: lint:python

feat(notifications): add Lambda Function URL for one-click pause resume/cancel
  cfn/lambda-stack.yaml
  lambda/dr-orchestration-stepfunction/index.py
  lambda/execution-handler/index.py
  lambda/shared/notifications.py
  tests/unit/test_notifications_property.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix(notifications): use CloudShell CLI commands for pause resume/cancel (no API dependency)
  cfn/lambda-stack.yaml
  lambda/dr-orchestration-stepfunction/index.py
  lambda/execution-handler/index.py
  lambda/shared/notifications.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix(notifications): use CloudShell CLI commands for pause resume/cancel (no API dependency)
  lambda/shared/notifications.py
Due: lint:python

fix(notifications): use CloudShell CLI commands for pause resume/cancel (no API dependency)
  tests/unit/test_notification_formatter_html.py
Due: none

fix(notifications): use CloudShell CLI commands for pause resume/cancel
  cfn/lambda-stack.yaml
  cfn/notification-stack.yaml
  lambda/notification-formatter/index.py
  package_lambda.py
  scripts/deploy.sh
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix(orchestration): reconstruct state from DynamoDB on resume so CLI callback works
  cfn/step-functions-stack.yaml
  lambda/dr-orchestration-stepfunction/index.py
  lambda/shared/notifications.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix(notifications): all SNS emails use plain text (SNS email protocol cannot render HTML)
  lambda/shared/notifications.py
Due: lint:python
