Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

docs: restructure Enterprise PRD into modular documents
  CHANGELOG.md
  docs/Enterprise_DR_Orchestration_Platform_PRD.md
  docs/enterprise-prd/01-reference-implementation.md
  docs/enterprise-prd/02-dr-orchestration-patterns.md
  docs/enterprise-prd/03-api-integration.md
  docs/enterprise-prd/04-technology-adapters.md
  docs/enterprise-prd/05-iam-security.md
  docs/enterprise-prd/06-architecture.md
  docs/enterprise-prd/07-implementation.md
  docs/enterprise-prd/README.md
Due: none

fix: correct pluggable architecture - technologies have varied failover mechanisms
  reference-App.tsx
  reference-ExecutionDetailsPage.tsx
  reference-build/index-B3B6xzlQ.js
  reference-build/index-DQ3P1g1z.css
  reference-build/vendor-aws-uz1sLEVm.js
  reference-build/vendor-http-fQJBIoto.js
  reference-build/vendor-mui-core-DfwLAmRl.js
  reference-build/vendor-mui-extended-BU3nLhQd.css
  reference-build/vendor-mui-extended-CjMQYT6J.js
  reference-build/vendor-react-0O18VZk2.js
Due: none

docs: update README link to modular Enterprise PRD
  README.md
Due: none

docs: sync enterprise PRD with archive dr-orchestration-artifacts
  CHANGELOG.md
  docs/enterprise-prd/02-dr-orchestration-patterns.md
  docs/enterprise-prd/04-technology-adapters.md
  docs/enterprise-prd/05-iam-security.md
Due: none

docs: add CMF learnings for enterprise orchestration platform
  CHANGELOG.md
  docs/enterprise-prd/08-cmf-learnings.md
  docs/enterprise-prd/README.md
Due: none

docs: add DRS Tools learnings document for enterprise orchestration
  CHANGELOG.md
  docs/enterprise-prd/09-drs-tools-learnings.md
  docs/enterprise-prd/README.md
Due: none

docs: align enterprise PRD modules with dr-orchestration-artifacts (v1.8)
  CHANGELOG.md
  docs/enterprise-prd/02-dr-orchestration-patterns.md
  docs/enterprise-prd/04-technology-adapters.md
  docs/enterprise-prd/README.md
Due: none

docs: add enterprise integration plan with 16-week roadmap (v1.9)
  CHANGELOG.md
  docs/enterprise-prd/10-integration-plan.md
  docs/enterprise-prd/README.md
Due: none

fix: add lowercase 'completed' to COMPLETED_STATUSES set
  lambda/execution-poller/index.py
Due: lint:python

fix: restore terminate instances functionality to ExecutionDetailsPage
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: update WaveProgress props to match current interface
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
