Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

feat: implement smart rendering for terminate instances dialog
  frontend/src/components/TerminateInstancesDialog.tsx
Due: validate:frontend-types, lint:frontend

fix: add recovery instances API endpoint and update terminate dialog
  frontend/src/components/TerminateInstancesDialog.tsx
  lambda/api-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: add recovery instances API endpoint and update terminate dialog
  .kiro/steering/project-context.md
  frontend/src/components/TerminateInstancesDialog.tsx
  lambda/api-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: correct API client import path in TerminateInstancesDialog
  frontend/src/components/TerminateInstancesDialog.tsx
Due: validate:frontend-types, lint:frontend

fix: use default import for apiClient in TerminateInstancesDialog
  frontend/src/components/TerminateInstancesDialog.tsx
Due: validate:frontend-types, lint:frontend

fix: add getRecoveryInstances method to ApiClient and update dialog
  frontend/src/components/TerminateInstancesDialog.tsx
  frontend/src/services/api.ts
Due: validate:frontend-types, lint:frontend

fix: add missing ExecutionRecoveryInstancesResourceId parameter to master template
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: force redeployment of recovery instances API methods
  cfn/api-gateway-operations-methods-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

emergency: fix terminate instances dialog API integration
  .github/workflows/deploy.yml
  CHANGELOG.md
  README.md
  cfn/api-gateway-resources-stack.yaml
  docs/Enterprise_DR_Orchestration_Platform_PRD.md
  frontend/package-lock.json
  frontend/package.json
  scripts/check-deployment-scope.sh
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:frontend

emergency: fix terminate instances dialog API integration
  .amazonq/rules/amazonq-project-context.md
  .github/workflows/deploy.yml
  .kiro/steering/development-workflow.md
  CHANGELOG.md
  README.md
  cfn/api-gateway-resources-stack.yaml
  docs/Enterprise_DR_Orchestration_Platform_PRD.md
  frontend/package-lock.json
  frontend/package.json
  scripts/check-deployment-scope.sh
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:frontend

fix: critical syntax error in Lambda function causing 502 errors
  lambda/api-handler/index.py
Due: lint:python

emergency: fix critical Lambda syntax error and sync script function names
  scripts/sync-to-deployment-bucket.sh
Due: none

fix: remove console.log spam from instancesAlreadyTerminated check
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend
