Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: Wave dependencies bug - convert 1-based WaveIds to 0-based frontend indices
  cfn/api-stack-rbac.yaml
  cfn/api-stack.yaml
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
  docs/reference/DISASTER_RECOVERY_API_REFERENCE.md
  frontend/public/aws-config.json
  frontend/src/components/AccountManagementPanel.tsx
  frontend/src/components/AccountSelector.tsx
  frontend/src/components/PasswordChangeForm.tsx
  frontend/src/contexts/AccountContext.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/GettingStartedPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/services/api.ts
  lambda/api-handler.zip
  lambda/deploy_lambda.py
  lambda/execution-finder.zip
  lambda/execution-poller.zip
  lambda/frontend-builder.zip
  lambda/index.py
  lambda/orchestration-stepfunctions.zip
  lambda/rbac_middleware.py
  scripts/add-current-account.py
  scripts/deploy-prod-stack.sh
  scripts/deploy-rbac-stack.sh
  scripts/fix-cognito-stack.sh
  scripts/manage-user-roles.py
  scripts/monitor-prod-deployment.sh
  scripts/sync-to-deployment-bucket.sh
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

feat: Implement comprehensive RBAC system for Import/Export configuration features
  README.md
  cfn/api-stack-rbac.yaml
  cfn/api-stack.yaml
  cfn/lambda-stack.yaml
  docs/security/RBAC_SECURITY_TESTING_PLAN.md
  docs/security/RBAC_SECURITY_TESTING_STATUS.md
  frontend/src/App.tsx
  frontend/src/components/AccountManagementPanel.tsx
  frontend/src/components/PermissionAware.tsx
  frontend/src/components/ProtectionGroupDialog.tsx
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/contexts/PermissionsContext.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  lambda/api-handler.zip
  lambda/index.py
  lambda/rbac_middleware.py
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Archive CHANGELOG.md entries and update RBAC documentation
  CHANGELOG.md
  CHANGELOG_ARCHIVE.md
  README.md
Due: none

security: Apply comprehensive security fixes for CWE vulnerabilities
  cfn/cross-account-role-stack.yaml
  cfn/database-stack.yaml
  frontend/src/aws-config.ts
  frontend/src/components/AccountRequiredGuard.tsx
  frontend/src/components/ConfigExportPanel.tsx
  frontend/src/components/DRSQuotaStatus.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/WaveProgress.tsx
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/services/api.ts
  lambda/execution_registry.py
  lambda/index.py
  lambda/orchestration_stepfunctions.py
  lambda/poller/execution_finder.py
  lambda/poller/execution_poller.py
  scripts/create-test-user.sh
  scripts/package-frontend-builder.sh
  scripts/validate-templates.sh
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Fix TypeScript syntax error in RecoveryPlansPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
Due: validate:frontend-types, lint:frontend

Update documentation with security fixes and correct dates
  CHANGELOG.md
  README.md
Due: none

Documentation cleanup and infrastructure accuracy updates
  README.md
  cfn/api-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

Documentation cleanup and infrastructure accuracy updates
  README.md
  archive/cfn/README.md
  archive/cfn/api-stack.yaml
Due: none

ci: Update GitLab CI/CD pipeline to reflect current architecture
  .gitlab-ci.yml
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Fix React hooks error #310 in WaveProgress component
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

Fix Terminate Instances button showing during active execution
  lambda/index.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
