Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: simplify API Gateway architecture validation script
  scripts/validate-api-architecture.sh
Due: none

fix: correct API Gateway validation script name in workflow
  .github/workflows/deploy.yml
  CAMELCASE_MIGRATION_TRACKING.md
Due: none

fix: resolve GitHub Actions test hanging issue
  CAMELCASE_MIGRATION_TRACKING.md
  tests/python/unit/test_api_handler.py
Due: none

fix: add timeout to pytest in GitHub Actions to prevent hanging
  .github/workflows/deploy.yml
  CAMELCASE_MIGRATION_TRACKING.md
Due: none

fix: resolve test hanging issue by adding missing environment variables
  .github/workflows/deploy.yml
  CAMELCASE_MIGRATION_TRACKING.md
  tests/python/unit/test_api_handler.py
  tests/python/unit/test_drs_service_limits.py
Due: none

fix: exclude problematic test files that cause hanging in CI
  .github/workflows/deploy.yml
Due: none

feat: implement enterprise-grade tight security RBAC and fix all test issues
  CAMELCASE_MIGRATION_TRACKING.md
  lambda/shared/rbac_middleware.py
  lambda/shared/security_utils.py
  tests/python/unit/test_rbac_enforcement.py
Due: lint:python

fix: implement tight security RBAC and resolve test hanging issues
  CAMELCASE_MIGRATION_TRACKING.md
  lambda/shared/rbac_middleware.py
  tests/python/unit/test_api_handler.py
Due: lint:python

fix: enable full test coverage in GitHub Actions pipeline
  .github/workflows/deploy.yml
Due: none

docs: update tracking document with deployment status
  CAMELCASE_MIGRATION_TRACKING.md
Due: none

fix: exclude problematic tests to unblock infrastructure deployment
  .github/workflows/deploy.yml
  CAMELCASE_MIGRATION_TRACKING.md
  TEST_HANGING_ISSUE_DOCUMENTATION.md
Due: none

feat: trigger camelCase database schema deployment
  cfn/database-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs: update tracking document with deployment trigger explanation
  CAMELCASE_MIGRATION_TRACKING.md
Due: none

feat: force infrastructure deployment for camelCase schema migration
  cfn/database-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws
