Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: Preserve PAUSED status in recalculate_execution_status function
  lambda/index.py
Due: lint:python

feat: implement scheduled tag synchronization and fix EventBridge validation
  SCHEDULED_TAG_SYNC_IMPLEMENTATION.md
  cfn/api-stack-rbac.yaml
  cfn/eventbridge-stack.yaml
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
  frontend/src/components/SettingsModal.tsx
  frontend/src/components/TagSyncConfigPanel.tsx
  frontend/src/services/api.ts
  lambda/api-handler.zip
  lambda/index.py
  lambda/orchestration_stepfunctions.py
  tag-sync-payload.json
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix: EventBridge authentication bypass for automated tag sync
  CHANGELOG.md
  README.md
  lambda/index.py
Due: lint:python

feat: Enhanced EventBridge Security Validation for Tag Sync
  lambda/index.py
Due: lint:python

docs: Update CHANGELOG and README with EventBridge security enhancements
  CHANGELOG.md
  README.md
Due: none

docs: Update master architecture requirements to v2.1 with EventBridge security
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_COMPONENT_LIBRARY.md
  docs/requirements/UX_PAGE_SPECIFICATIONS.md
  docs/requirements/UX_TECHNOLOGY_STACK.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
  docs/requirements/UX_VISUAL_DESIGN_SYSTEM.md
Due: none

docs: Add missing features to Product Requirements Document
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
Due: none

docs: Complete architecture documentation alignment with current implementation
  README.md
  docs/architecture/ARCHITECTURAL_DESIGN_DOCUMENT.md
  docs/architecture/ARCHITECTURE_DIAGRAMS.md
  docs/architecture/AWS-DRS-Orchestration-Architecture-Comprehensive.drawio
  docs/architecture/AWS-DRS-Orchestration-Architecture-Current.drawio
  docs/architecture/AWS_SERVICES_ARCHITECTURE_DEEP_DIVE.md
Due: none

docs: Identify architecture-requirements alignment gaps
  .env.test.template
  SCHEDULED_TAG_SYNC_IMPLEMENTATION.md
  docs/API_ENDPOINTS_CURRENT.md
  docs/architecture/AWS-DRS-Orchestration-Architecture-Comprehensive.drawio
  docs/guides/API_REFERENCE_GUIDE.md
  docs/guides/CICD_PIPELINE_GUIDE.md
  docs/guides/DEPLOYMENT_AND_OPERATIONS_GUIDE.md
  docs/guides/DEPLOYMENT_RECOVERY_GUIDE.md
  docs/guides/ORCHESTRATION_INTEGRATION_GUIDE.md
  docs/guides/S3_SYNC_AUTOMATION.md
  docs/guides/TROUBLESHOOTING_GUIDE.md
  docs/handoff/SOLUTION_HANDOFF_GUIDE.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_COMPONENT_LIBRARY.md
  docs/requirements/UX_TECHNOLOGY_STACK.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
  docs/troubleshooting/CLOUDFORMATION_DEPLOYMENT_ISSUES.md
  docs/troubleshooting/IAM_ROLE_ANALYSIS_DRS_PERMISSIONS.md
Due: none

docs: Update architecture to v2.1 with EventBridge security and tag sync
  docs/architecture/ARCHITECTURAL_DESIGN_DOCUMENT.md
  docs/architecture/AWS_SERVICES_ARCHITECTURE_DEEP_DIVE.md
Due: none
