Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: move worker detection before API Gateway validation
  lambda/api-handler/index.py
Due: lint:python

docs: update CHANGELOG and README for v1.4.1 async worker fix
  CHANGELOG.md
  README.md
Due: none

fix: resolve AWS logo CORS error by using local logo files
  frontend/public/aws-logo.png
  frontend/public/aws-logo@2x.png
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/pages/LoginPage.tsx
Due: validate:frontend-types, lint:frontend

fix: implement automatic JWT token refresh to prevent navigation timeout
  frontend/src/contexts/AuthContext.tsx
Due: validate:frontend-types, lint:frontend

feat: replace fixed auto-logout with activity-based inactivity timeout
  frontend/src/contexts/AuthContext.tsx
  frontend/src/services/api.ts
  frontend/src/utils/activityTracker.ts
Due: validate:frontend-types, lint:frontend

fix: resolve TypeScript circular dependency errors in AuthContext
  frontend/src/contexts/AuthContext.tsx
Due: validate:frontend-types, lint:frontend

fix: remove duplicate startInactivityTimer function declaration
  frontend/src/contexts/AuthContext.tsx
Due: validate:frontend-types, lint:frontend

fix: remove excessive debug logging from authentication system
  frontend/index.html
  frontend/src/contexts/AuthContext.tsx
Due: validate:frontend-types, lint:frontend

feat: enhance security scanning to match CodePipeline capabilities
  .github/workflows/deploy.yml
Due: none

docs: update CI/CD documentation for enhanced security scanning
  README.md
  docs/guides/deployment/ACTIVATE_CICD_GUIDE.md
  docs/guides/deployment/CICD_SETUP_GUIDE.md
  docs/guides/deployment/GITHUB_ACTIONS_SETUP_GUIDE.md
Due: none

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
