Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix(notifications): all SNS emails use plain text (SNS email protocol cannot render HTML)
  lambda/shared/notifications.py
Due: lint:python

fix(orchestration): pass executionName to ResumeWavePlan for DynamoDB state reconstruction
  cfn/step-functions-stack.yaml
  lambda/dr-orchestration-stepfunction/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix(notifications): improve email formatting with DRS context and structured sections
  lambda/shared/notifications.py
Due: lint:python

fix(notifications): add CLI feedback and DRS context to all email notifications
  lambda/shared/notifications.py
Due: lint:python

fix(orchestration): merge waves on DynamoDB write to prevent race condition between resume and enrichment
  lambda/dr-orchestration-stepfunction/index.py
  lambda/execution-handler/index.py
Due: lint:python

feat(notifications): real DynamoDB status query after resume/cancel, fix wave number display
  lambda/dr-orchestration-stepfunction/index.py
  lambda/shared/notifications.py
Due: lint:python

feat(deploy): auto-sync to Code.AWS mirror on deploy
  scripts/deploy.sh
Due: none

feat(notifications): SNS pause/resume email with CloudShell CLI and DynamoDB status feedback
  drs-orchestration-config-2026-02-12T16-47-22.json
  drs-orchestration-config-2026-02-12T17-09-47.json
  drs-orchestration-config-2026-02-12T19-26-25.json
  drs-orchestration-config-2026-02-12T21-28-50.json
Due: none

docs: add v5.0.0 and v6.0.0 feature writeups to README
  CHANGELOG.md
  README.md
  pyproject.toml
Due: none

feat: migrate project to hrp-drs-tech-adapter on account 891376951562
  .gitlab-ci.yml
  .kiro/steering/aws-stack-protection.md
  .kiro/steering/cicd-workflow-enforcement.md
  .pre-commit-config.yaml
  CODEOWNERS
  cfn/api-gateway-core-methods-stack.yaml
  cfn/api-gateway-core-stack.yaml
  cfn/api-gateway-deployment-stack.yaml
  cfn/api-gateway-infrastructure-methods-stack.yaml
  cfn/api-gateway-operations-methods-stack.yaml
  cfn/api-gateway-resources-stack.yaml
  cfn/database-stack.yaml
  cfn/github-oidc-stack.yaml
  cfn/master-template.yaml
  cfn/waf-stack.yaml
  docs/scripts/deploy.sh
  examples/bash/dr_ci_pipeline.sh
  pyproject.toml
  requirements-dev.txt
  scripts/deploy-drs-agents-lambda.sh
  scripts/deploy.sh
  scripts/empty-frontend-buckets.sh
  tests/unit/test_execution_handler_accountcontext_fix.py
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

feat: migrate project to aws-drs-orchestration on account 123456789012
  .gitlab-ci.yml
  .kiro/steering/aws-stack-protection.md
  .pre-commit-config.yaml
  CODEOWNERS
  cfn/api-gateway-operations-methods-stack.yaml
  cfn/api-gateway-resources-stack.yaml
  cfn/database-stack.yaml
  cfn/github-oidc-stack.yaml
  cfn/master-template.yaml
  docs/scripts/deploy.sh
  pyproject.toml
  requirements-dev.txt
  scripts/deploy.sh
  tests/unit/test_execution_handler_accountcontext_fix.py
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix: align tests with actual implementation and update AWS profile
  .kiro/hooks/commit-before-deploy.kiro.hook
  scripts/deploy.sh
  tests/unit/test_dr_orchestration_handler_invocations.py
  tests/unit/test_notification_formatter_html.py
  tests/unit/test_notifications_publishing_unit.py
Due: none

fix(ci): resolve cyclic stage dependency in GitLab pipeline
  .gitlab-ci.yml
  frontend/package-lock.json
  requirements-dev.txt
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix(cfn): skip WAF CLOUDFRONT scope when deploying outside us-east-1
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix(ci): remove GitLab security templates causing cyclic stage deps
  .gitlab-ci.yml
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix(ci): add .pre/.post stages to align with instance security policy
  .gitlab-ci.yml
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix(ci): add 'scan' stage required by instance security policy
  .gitlab-ci.yml
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix(ci): match exact stage order from instance security policy
  .gitlab-ci.yml
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix(ci): remove docker tag requirement for shared runners
  .gitlab-ci.yml
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix(deps): upgrade safety to 3.7.0 to resolve pydantic conflict with semgrep
  requirements-dev.txt
Due: none

fix(ci): use default python image for all jobs to avoid Docker Hub rate limits
  .gitlab-ci.yml
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix(ci): use ECR Public images to avoid Docker Hub rate limits
  .gitlab-ci.yml
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
