Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

Add invocation source display to History and Execution Details wireframes
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
Due: none

Remove phase markers from requirements documents
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
Due: none

Add invocation source tracking to README features
  README.md
Due: none

Align .amazonq memory-bank docs with requirements docs
  .amazonq/rules/memory-bank/product.md
  .amazonq/rules/memory-bank/structure.md
  .amazonq/rules/memory-bank/tech.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
Due: none

Add pre-built deployment artifacts for easy customer deployment
  .gitignore
  frontend/dist/assets/index-Ci4E6TmJ.css
  frontend/dist/assets/index-ag80oUgP.js
  frontend/dist/assets/vendor-aws-1qfFVWRO.js
  frontend/dist/assets/vendor-cloudscape-B8XRFzRN.css
  frontend/dist/assets/vendor-cloudscape-DvIB2xEp.js
  frontend/dist/assets/vendor-http-DuHxbQuH.js
  frontend/dist/assets/vendor-react-D2p37RnT.js
  frontend/dist/aws-config.json
  frontend/dist/favicon.svg
  frontend/dist/index.html
  frontend/dist/vite.svg
  lambda/api-handler.zip
  lambda/execution-finder.zip
  lambda/execution-poller.zip
  lambda/orchestration-stepfunctions.zip
Due: validate:frontend-types, lint:frontend

Replace aws-config.json with placeholder (injected by CloudFormation)
  frontend/dist/aws-config.json
Due: validate:frontend-types, lint:frontend

Fix protection group edit restrictions and description clearing
  frontend/src/components/ProtectionGroupDialog.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
Due: validate:frontend-types, lint:frontend

Fix server conflict detection for recovery plans with tag-based protection groups
  lambda/index.py
Due: lint:python

Replace react-hot-toast with CloudScape Flashbar notifications
  frontend/src/App.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
Due: validate:frontend-types, lint:frontend

Fix update_recovery_plan API response to use camelCase transformation
  lambda/index.py
Due: lint:python

Apply code formatting and minor fixes to frontend components
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/components/ServerDiscoveryPanel.tsx
  frontend/src/components/ServerListItem.tsx
  frontend/src/components/ServerSelector.tsx
  frontend/src/components/WaveConfigEditor.tsx
Due: validate:frontend-types, lint:frontend
