Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix(execution): add cross-account support for recovery instance detection
  lambda/execution-handler/index.py
Due: lint:python

fix(execution): add current account check for cross-account detection
  lambda/execution-handler/index.py
Due: lint:python

fix(data-management): add cross-account support for recovery instance check
  lambda/data-management-handler/index.py
Due: lint:python

debug: add logging to check account context extraction
  lambda/data-management-handler/index.py
Due: lint:python

debug: add comprehensive logging to check_existing_recovery_instances
  lambda/data-management-handler/index.py
Due: lint:python

debug: add XDEBUG logs at function entry
  lambda/data-management-handler/index.py
Due: lint:python

fix(data-management): retrieve externalId from target accounts table for cross-account role assumption
  lambda/data-management-handler/index.py
Due: lint:python

fix(data-management): remove fallback to target_accounts_table for tag sync config to prevent data corruption
  lambda/data-management-handler/index.py
Due: lint:python

refactor(frontend): remove tag sync status display and polling from dashboard
  frontend/src/pages/Dashboard.tsx
Due: validate:frontend-types, lint:frontend

feat(execution): populate DRS source server Name tags immediately on wave initiation
  lambda/execution-handler/index.py
Due: lint:python

fix(execution): use PascalCase sourceServerID for enrich_server_data compatibility
  lambda/execution-handler/index.py
Due: lint:python

fix(execution): simplify Name tag retrieval - query DRS directly in start_drs_recovery_for_wave
  lambda/execution-handler/index.py
Due: lint:python

Add CloudScape component recommendations for UX improvements
  .checkov.yaml
  cfn/api-gateway-deployment-stack.yaml
  cfn/frontend-stack.yaml
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
  frontend/src/contexts/AccountContext.tsx
  lambda/shared/drs_utils.py
  scripts/deploy.sh
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix(execution): use start_drs_recovery_for_wave in start_wave_recovery to populate Name tags
  lambda/execution-handler/index.py
Due: lint:python

test(execution): fix all start_wave_recovery tests to mock start_drs_recovery_for_wave
  tests/unit/test_execution_handler_start_wave.py
Due: none

fix(frontend): remove non-functional termination progress bar
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

feat(auth): implement 45-minute auto-logout to prevent token expiry issues
  frontend/src/contexts/AuthContext.tsx
Due: validate:frontend-types, lint:frontend

fix(execution): use cross-account credentials in reconcile_wave_status_with_drs for DRS and EC2 queries
  lambda/execution-handler/index.py
Due: lint:python

fix(execution): add missing Optional import
  lambda/execution-handler/index.py
Due: lint:python

fix(execution): include ERROR status in terminal wave condition for enrichment
  lambda/execution-handler/index.py
Due: lint:python

feat(execution): add get_execution_details operation for direct Lambda invocation
  lambda/execution-handler/index.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
