Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: improve ExecutionsPage auto-refresh with better dependency tracking
  frontend/src/pages/ExecutionsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: revert to v1.3.0 auto-refresh pattern, add paused status
  frontend/src/pages/ExecutionsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: use ref-based polling for ExecutionsPage auto-refresh
  frontend/src/pages/ExecutionsPage.tsx
Due: validate:frontend-types, lint:frontend

docs: add comprehensive cross-account role policy document
  docs/deployment/CROSS_ACCOUNT_ROLE_POLICY.md
Due: none

docs: add version history analysis and tag renaming scripts
  VERSION_HISTORY_ANALYSIS.md
  scripts/cleanup-old-tags.sh
  scripts/delete-old-tags-remote.sh
  scripts/rename-tags-complete.sh
  scripts/rename-tags.sh
Due: none

feat: add detailed descriptions to all version tags
  scripts/add-detailed-tag-descriptions.sh
Due: none

fix: update tag cleanup script to keep descriptive tags only
  scripts/delete-all-old-tags-from-github.sh
Due: none

feat: implement SNS notification integration for execution events
  cfn/lambda-stack.yaml
  lambda/orchestration-stepfunctions/index.py
  lambda/shared/notifications.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix: trigger Lambda rebuild to include notifications module
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: prevent cancel during active wave execution
  lambda/api-handler/index.py
Due: lint:python

fix: allow cancel anytime but only cancel upcoming waves
  lambda/api-handler/index.py
Due: lint:python

chore: cleanup version history analysis file
  VERSION_HISTORY_ANALYSIS.md
  docs/implementation/MAJOR_REFACTORING_DEC2024_JAN2025.md
Due: none

fix: show progress bar for paused executions
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: force Lambda rebuild to include notifications module
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: remove endTime when resuming execution after cancellation
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

docs: update S3_SYNC_AUTOMATION.md to reflect GitHub Actions workflow
  CHANGELOG.md
  docs/changelog/CHANGELOG_FULL_HISTORY.md
  docs/guides/S3_SYNC_AUTOMATION.md
Due: none

debug: add detailed logging for SNS notification failures
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: correct field name for EC2 instance details in wave completion
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: SNS notification IAM policy and completed wave display
  cfn/lambda-stack.yaml
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/pages/ExecutionsPage.tsx
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:frontend

fix: show partial progress for in-progress waves
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

feat: granular progress tracking with server-level detail
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix: restore get_recovery_instances endpoint for terminate dialog
  lambda/api-handler/index.py
Due: lint:python

debug: add logging to get_recovery_instances function
  lambda/api-handler/index.py
Due: lint:python

fix: simplify get_recovery_instances to read from database serverStatuses
  lambda/api-handler/index.py
Due: lint:python

feat: add code quality checker and fix recovery instances endpoint
  .github/workflows/deploy.yml
  scripts/check-code-quality.py
Due: none

fix: remove temporal references and improve comment clarity
  docs/troubleshooting/EC2_DETAILS_FIELD_NAME_FIX.md
  docs/troubleshooting/RECOVERY_INSTANCES_ENDPOINT_FIX.md
  docs/troubleshooting/SNS_APPROVAL_WORKFLOW_ANALYSIS.md
  docs/troubleshooting/SNS_NOTIFICATIONS_TROUBLESHOOTING.md
  docs/troubleshooting/SNS_NOTIFICATION_FIX.md
  docs/troubleshooting/SSM_APPROVAL_AUTHENTICATION_ANALYSIS.md
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/services/api.ts
  lambda/api-handler/index.py
  lambda/orchestration-stepfunctions/index.py
  scripts/manage-user-roles.py
  scripts/migrate-backend-to-camelcase.py
  scripts/migrate-to-camelcase.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: clarify migration script comments are for one-time conversion
  scripts/migrate-backend-to-camelcase.py
  scripts/migrate-to-camelcase.py
Due: none

feat: exclude backup and migration files from code quality checks
  scripts/check-code-quality.py
Due: none

docs: create documentation improvement task
  docs/tasks/DOCUMENTATION_IMPROVEMENT.md
  scripts/check-code-quality.py
Due: none

fix: resolve all PEP 8 formatting issues in Lambda functions
  lambda/api-handler/index.py
  lambda/bucket-cleaner/index.py
  lambda/execution-finder/index.py
  lambda/execution-poller/index.py
  lambda/frontend-builder/index.py
  lambda/notification-formatter/index.py
  lambda/orchestration-stepfunctions/index.py
  lambda/shared/notifications.py
  lambda/shared/rbac_middleware.py
  lambda/shared/security_utils.py
Due: lint:python

fix: update frontend dependencies to resolve security vulnerabilities
  frontend/package-lock.json
Due: validate:frontend-types, lint:frontend

fix: exclude AWS API PascalCase fields from camelCase validation
  scripts/validate-camelcase-consistency.sh
Due: none

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
