Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-only, deploy-lambda-only-dev, deploy-frontend-only-dev, deploy-cfn-only-dev, deploy-full-dev

Path conditions:
  docs-only: any of: docs/**/*, *.md, .kiro/**/*
  deploy-lambda-only-dev: any of: lambda/**/*, package_lambda.py
  deploy-frontend-only-dev: any of: frontend/**/*
  deploy-cfn-only-dev: any of: cfn/**/*
  deploy-full-dev: (any of: lambda/**/*, cfn/**/*) or ((any of: lambda/**/*, frontend/**/*) or ((any of: cfn/**/*, frontend/**/*) or (any of: scripts/**/*, package_lambda.py, pyproject.toml, requirements*.txt)))

docs: add SNS/EventBridge/Step Functions integration architecture
  README.md
  cfn/api-gateway-core-methods-stack.yaml
  cfn/api-gateway-core-stack.yaml
  cfn/api-gateway-deployment-stack.yaml
  cfn/api-gateway-infrastructure-methods-stack.yaml
  cfn/api-gateway-operations-methods-stack.yaml
  cfn/api-gateway-resources-stack.yaml
  cfn/eventbridge-stack.yaml
  cfn/waf-stack.yaml
  docs/architecture/SNS_EVENTBRIDGE_STEPFUNCTIONS_INTEGRATION.md
  package_lambda.py
Due: docs-only, deploy-lambda-only-dev, deploy-cfn-only-dev, deploy-full-dev

docs: update spec analysis to reflect archived completed specs
  .kiro/specs/SPEC_COMPLETION_ANALYSIS.md
Due: docs-only

docs: remove sensitive account information from README
  README.md
Due: docs-only

docs: update Future Enhancements to reflect archived completed specs
  README.md
Due: docs-only

refactor: reorder specs - AllowLaunchingIntoInstance to 04, Recovery Instance to 05
  .kiro/specs/04-drs-allow-launching-into-instance/AWSM-1111- Implement DRS Orchestration Module.md
  .kiro/specs/04-drs-allow-launching-into-instance/INTEGRATION_DECISION.md
  .kiro/specs/04-drs-allow-launching-into-instance/LAMBDA_HANDLERS_ARCHITECTURE.md
  .kiro/specs/04-drs-allow-launching-into-instance/README.md
  .kiro/specs/04-drs-allow-launching-into-instance/STATUS.md
  .kiro/specs/04-drs-allow-launching-into-instance/design.md
  .kiro/specs/04-drs-allow-launching-into-instance/requirements.md
  .kiro/specs/04-drs-allow-launching-into-instance/tasks.md
  .kiro/specs/05-recovery-instance-sync/.config.kiro
  .kiro/specs/05-recovery-instance-sync/design.md
  .kiro/specs/05-recovery-instance-sync/requirements.md
  .kiro/specs/05-recovery-instance-sync/tasks.md
  .kiro/specs/06-inventory-sync-refactoring/.config.kiro
  .kiro/specs/06-inventory-sync-refactoring/STATUS.md
  .kiro/specs/06-inventory-sync-refactoring/design.md
  .kiro/specs/06-inventory-sync-refactoring/requirements.md
  .kiro/specs/06-inventory-sync-refactoring/tasks.md
  .kiro/specs/07-query-handler-read-only-audit/design.md
  .kiro/specs/07-query-handler-read-only-audit/requirements.md
  .kiro/specs/07-query-handler-read-only-audit/suggestions.md
  .kiro/specs/07-query-handler-read-only-audit/tasks.md
  README.md
Due: docs-only

docs: remove duplicate spec entries in Future Enhancements table
  README.md
Due: docs-only

docs: update Enhancement Categories with new spec numbering
  README.md
Due: docs-only

feat(active-region-filtering): complete staging sync refactoring to data-management-handler
  .kiro/specs/01-active-region-filtering/tasks.md
  CODEOWNERS
  cfn/eventbridge-stack.yaml
  cfn/master-template.yaml
  lambda/data-management-handler/index.py
  lambda/query-handler/index.py
  lambda/shared/active_region_filter.py
  lambda/shared/inventory_query.py
  lambda/shared/launch_config_service.py
  pyproject.toml
  tests/__init__.py
  tests/unit/__init__.py
  tests/unit/test_active_region_filtering_property.py
  tests/unit/test_active_region_tag_sync_property.py
  tests/unit/test_data_management_staging_sync_routing.py
  tests/unit/test_eventbridge_cfn_validation.py
  tests/unit/test_inventory_query_property.py
  tests/unit/test_inventory_query_unit.py
  tests/unit/test_inventory_sync_property.py
  tests/unit/test_staging_sync_property.py
  tests/unit/test_tag_sync_property.py
Due: docs-only, deploy-lambda-only-dev, deploy-cfn-only-dev, deploy-full-dev

fix(staging-sync): use sourceServerArn instead of arn field
  lambda/data-management-handler/index.py
Due: deploy-lambda-only-dev, deploy-full-dev

fix(staging-sync): handle both arn and sourceServerArn fields
  lambda/data-management-handler/index.py
Due: deploy-lambda-only-dev, deploy-full-dev

fix(iam): add drs:CreateExtendedSourceServer permission for staging sync
  cfn/master-template.yaml
Due: deploy-cfn-only-dev, deploy-full-dev

feat(spec-01): complete CloudWatch metrics and inventory fallback updates
  .kiro/specs/01-active-region-filtering/tasks.md
  README.md
  docs/STAGING_ACCOUNT_SYNC_IAM_REQUIREMENTS.md
  lambda/query-handler/index.py
  lambda/shared/active_region_filter.py
  lambda/shared/inventory_query.py
  tests/unit/test_inventory_fallback_property.py
  tests/unit/test_query_handler_read_only.py
  tests/unit/test_staging_account_sync_comprehensive.py
Due: docs-only, deploy-lambda-only-dev, deploy-full-dev

feat(active-region-filtering): complete spec-01 implementation
  .kiro/specs/01-active-region-filtering/tasks.md
  CHANGELOG.md
  README.md
  lambda/shared/active_region_filter.py
  lambda/shared/inventory_query.py
  tests/integration/test_active_region_filtering_integration.py
  tests/performance/test_active_region_filtering_performance.py
  tests/unit/test_account_utils_property.py
  tests/unit/test_aws_approved_fields_property.py
  tests/unit/test_conflict_detection_comprehensive.py
  tests/unit/test_create_protection_group_launch_config_integration.py
  tests/unit/test_data_management_staging_accounts.py
  tests/unit/test_error_handling_data_management_handler.py
  tests/unit/test_error_handling_execution_handler.py
  tests/unit/test_error_handling_property.py
  tests/unit/test_error_handling_query_handler.py
Due: docs-only, deploy-lambda-only-dev, deploy-full-dev

fix(deploy): improve test failure detection and add isolation fixtures
  frontend/package-lock.json
  frontend/package.json
  requirements-dev.txt
  scripts/deploy.sh
  tests/unit/conftest.py
  tests/unit/test_data_management_response_format.py
  tests/unit/test_error_handling_query_handler.py
  tests/unit/test_iam_audit_logging_property.py
Due: deploy-frontend-only-dev, deploy-full-dev
