Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: populate resolvedServers for explicit server selection mode
  .hypothesis/examples/1e9edb555dd11943/da25a4fecbc05e68
  .hypothesis/examples/29ab481d02367c9d/8efc2d1758692487
  .hypothesis/examples/29ab481d02367c9d/d9a49ce6724eb022
  .hypothesis/examples/29ab481d02367c9d/f2dad0cf97455835
  .hypothesis/examples/31f0bac90e9231ab/8d2ce87d86f55fcf
  .hypothesis/examples/31f0bac90e9231ab/bec021b4f368e306
  .hypothesis/examples/3210e9efc5b22257/16e902fa7fbae431
  .hypothesis/examples/3210e9efc5b22257/26cb06a5f1e8b895
  .hypothesis/examples/3210e9efc5b22257/cd6bd1dcfebeffe9
  .hypothesis/examples/3b3a09c344c8975d/8d2ce87d86f55fcf
  .hypothesis/examples/3f90dab247386be5/8d2ce87d86f55fcf
  .hypothesis/examples/415bfc45a7904124/6d0a93c3cc6d4a5e
  .hypothesis/examples/4775810771d74956/bec021b4f368e306
  .hypothesis/examples/6f0a6c0703dc9e32/7c2db09d310ece0b
  .hypothesis/examples/8937fe10abbed034/f1b77e96607ba1dc
  .hypothesis/examples/9eb717293ede5575/6d9fd92af257f93f
  .hypothesis/examples/a7bab098e81394a2/7089cef4b92d73cc
  .hypothesis/examples/b44aa4fa18d2912d/4266ee8f1b715dd4
  .hypothesis/examples/b44aa4fa18d2912d/68f128b44b41f6d5
  .hypothesis/examples/b44aa4fa18d2912d/b0dfdf0b4ce7ba44
  .hypothesis/examples/beee1e51379ad534/8d2ce87d86f55fcf
  .hypothesis/examples/beee1e51379ad534/bec021b4f368e306
  .hypothesis/examples/d43c08ee80f9450d/baef15614ebab5ba
  .hypothesis/examples/e4edb2f259414c39/cd6bd1dcfebeffe9
  .hypothesis/examples/f3c364404a2a4c43/7089cef4b92d73cc
  .hypothesis/examples/f58562da0b7d0920/7089cef4b92d73cc
  .hypothesis/examples/f65369a90d0979ca/bec021b4f368e306
  .hypothesis/unicode_data/15.0.0/charmap.json.gz
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  frontend/src/components/ProtectionGroupDialog.tsx
  frontend/src/components/ServerConfigHistoryPanel.tsx
  frontend/src/components/__tests__/ConfigExportPanel.integration.tests.tsx
  frontend/src/components/__tests__/ConfigImportPanel.integration.tests.tsx
  frontend/src/components/__tests__/ConfigImportPanel.integration.tests.tsx.bak
  frontend/src/components/__tests__/ConfigImportPanel.integration.tests.tsx.complex
  frontend/src/components/__tests__/ProtectionGroupDialog.integration.tests.tsx
  frontend/src/components/__tests__/ServerConfigBadge.tests.tsx.complex
  frontend/src/components/__tests__/ServerConfigHistoryPanel.test.tsx
  frontend/src/components/__tests__/ServerConfigurationTab.tests.tsx.complex
Due: validate:frontend-types, lint:frontend

docs: add deployment summary for per-server launch template fix
  docs/deployment/PER_SERVER_CONFIG_DEPLOYMENT_2026_01_28.md
Due: none

feat: add EC2 resource dropdowns to server launch config dialog
  frontend/src/components/ServerLaunchConfigDialog.tsx
  frontend/src/components/__tests__/ServerLaunchConfigDialog.tests.tsx
Due: validate:frontend-types, lint:frontend

fix: temporarily disable IP validation API call until backend endpoint is implemented
  frontend/src/components/StaticIPInput.tsx
Due: validate:frontend-types, lint:frontend

feat: simplify IP validation - check format and CIDR range only
  frontend/src/components/ServerLaunchConfigDialog.tsx
  frontend/src/components/StaticIPInput.tsx
Due: validate:frontend-types, lint:frontend

fix: only validate IP when complete (4 octets) or on blur
  frontend/src/components/StaticIPInput.tsx
Due: validate:frontend-types, lint:frontend

fix: ensure CIDR validation blocks save when IP out of range
  frontend/src/components/StaticIPInput.tsx
Due: validate:frontend-types, lint:frontend

Add debug logging for CIDR validation issue
  frontend/src/components/ServerLaunchConfigDialog.tsx
  frontend/src/components/StaticIPInput.tsx
Due: validate:frontend-types, lint:frontend

Fix CIDR validation: validate on save, reduce debounce, improve validation triggers
  frontend/src/components/ServerLaunchConfigDialog.tsx
  frontend/src/components/StaticIPInput.tsx
Due: validate:frontend-types, lint:frontend

Fix: Apply per-server launch configs (including static IP) to AWS DRS when saving
  lambda/data-management-handler/index.py
Due: lint:python

fix: resolve frontend test failures - fix API mock setup and loading state handling
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  .kiro/steering/cicd-workflow-enforcement.md
  aws-config.json
  frontend/src/components/__tests__/ServerLaunchConfigDialog.tests.tsx
Due: validate:frontend-types, lint:frontend

chore: remove debug logging from frontend components
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  frontend/src/components/ServerLaunchConfigDialog.tsx
  frontend/src/components/StaticIPInput.tsx
Due: validate:frontend-types, lint:frontend

fix: disable DRS copyPrivateIp when static IP is specified
  lambda/data-management-handler/index.py
Due: lint:python

fix: add async/await to all ServerLaunchConfigDialog tests
  frontend/src/components/__tests__/ServerLaunchConfigDialog.tests.tsx
Due: validate:frontend-types, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
