Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: pass accountId to source server discovery API
  frontend/src/components/ProtectionGroupDialog.tsx
  frontend/src/components/ServerDiscoveryPanel.tsx
  frontend/src/components/ServerSelector.tsx
  frontend/src/services/api.ts
Due: validate:frontend-types, lint:frontend

test: add AccountProvider to ProtectionGroupDialog tests
  frontend/src/components/__tests__/ProtectionGroupDialog.integration.tests.tsx
Due: validate:frontend-types, lint:frontend

fix: account-aware server discovery and remove customer references
  ACCOUNT_AWARENESS_COMPLETE_SUMMARY.md
  ACCOUNT_FILTERING_FIX_SUMMARY.md
  frontend/src/components/ProtectionGroupDialog.tsx
  lambda/orchestration-stepfunctions/index.py
  lambda/query-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

chore: comment out DRS agent deployer (under development)
  cfn/lambda-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: query DRS servers from target account, not orchestration account
  lambda/query-handler/index.py
Due: lint:python

fix: extract role name from roleArn in get_drs_source_servers for cross-account DRS queries
  lambda/query-handler/index.py
Due: lint:python

docs: add cross-account DRS query fix summary
  CROSS_ACCOUNT_DRS_QUERY_FIX_SUMMARY.md
Due: none

fix: set isCurrentAccount=False in account_context for cross-account DRS queries
  lambda/query-handler/index.py
Due: lint:python

fix: enable cross-account DRS queries and enforce git push
  ACCOUNT_AWARENESS_COMPLETE_SUMMARY.md
  ACCOUNT_FILTERING_FIX_SUMMARY.md
  CROSS_ACCOUNT_DRS_QUERY_FIX_SUMMARY.md
  EXTERNAL_ID_UPDATE_SUMMARY.md
  cfn/master-template.yaml
  scripts/deploy.sh
Due: validate:cloudformation, validate:cloudformation-aws

fix: add External ID support for cross-account role assumption
  lambda/query-handler/index.py
  lambda/shared/cross_account.py
Due: lint:python

test: fix import issues in staging account tests
  lambda/shared/staging_account_models.py
  lambda/shared/test_staging_account_models.py
  tests/unit/test_staging_account_persistence_property.py
Due: lint:python

fix: improve S3 bucket deletion safety in frontend deployer
  lambda/frontend-deployer/index.py
Due: lint:python

fix: update frontend to use standardized role name without environment suffix
  frontend/src/components/AccountManagementPanel.tsx
Due: validate:frontend-types, lint:frontend

fix: resolve TypeScript build errors - remove textTransform prop, add NodeJS types, exclude test files from build
  frontend/src/components/CapacityDashboard.tsx
  frontend/src/components/CapacityDetailsModal.tsx
  frontend/tsconfig.app.json
Due: validate:frontend-types, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
