Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

debug: add logging for pause/resume troubleshooting
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: complete camelCase migration for DynamoDB field names
  frontend/src/pages/ExecutionDetailsPage.tsx
  lambda/api-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: apply Protection Group launchConfig to DRS before recovery
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

docs: update README
  README.md
Due: none

docs: update README with current solution information (v1.3.0)
  README.md
Due: none

docs: update README CloudFormation and Lambda sections with accurate details
  README.md
Due: none

docs: add explanation for API Gateway stack split due to CloudFormation limits
  README.md
Due: none

docs: add 51,200 bytes template body limit to CloudFormation explanation
  README.md
Due: none

docs: remove version line from README
  README.md
Due: none

docs: add bulk launch settings management feature to README
  README.md
Due: none

docs: clarify supported DRS operations in README
  README.md
Due: none

fix: populate instanceId, privateIp, instanceType in server statuses on wave completion
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: preserve server details during polling and set launchTime on completion
  lambda/orchestration-stepfunctions/index.py
Due: lint:python
