Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: add lambda:TagResource and lambda:UntagResource permissions to CodeBuild role
  cfn/codebuild-projects-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: prevent pipeline from updating CI/CD stacks
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

feat(cicd): migrate from AWS CodePipeline to GitHub Actions
  .github/workflows/deploy.yml
  buildspecs/build-buildspec.yml
  buildspecs/deploy-frontend-buildspec.yml
  buildspecs/deploy-infra-buildspec.yml
  buildspecs/security-buildspec.yml
  buildspecs/test-buildspec.yml
  buildspecs/validate-buildspec.yml
  cfn/codebuild-projects-stack.yaml
  cfn/codecommit-stack.yaml
  cfn/codepipeline-stack.yaml
  cfn/github-oidc-stack.yaml
  cfn/master-template.yaml
  docs/guides/deployment/GITHUB_ACTIONS_SETUP_GUIDE.md
Due: validate:cloudformation, validate:cloudformation-aws

feat(cicd): migrate from AWS CodePipeline to GitHub Actions
  .github/workflows/deploy.yml
  .kiro/steering/project-context.md
  buildspecs/build-buildspec.yml
  buildspecs/deploy-frontend-buildspec.yml
  buildspecs/deploy-infra-buildspec.yml
  buildspecs/security-buildspec.yml
  buildspecs/test-buildspec.yml
  buildspecs/validate-buildspec.yml
  cfn/codebuild-projects-stack.yaml
  cfn/codecommit-stack.yaml
  cfn/codepipeline-stack.yaml
  cfn/github-oidc-stack.yaml
  cfn/master-template.yaml
  docs/guides/deployment/GITHUB_ACTIONS_SETUP_GUIDE.md
Due: validate:cloudformation, validate:cloudformation-aws

feat(cicd): add missing security validations to GitHub Actions
  .github/workflows/deploy.yml
Due: none

docs: update CI/CD documentation for GitHub Actions migration
  .gitlab-ci.yml
  README.md
  aws-config.json
  docs/guides/DEVELOPMENT_WORKFLOW_GUIDE.md
  docs/guides/SOLUTION_HANDOFF_GUIDE.md
  docs/guides/deployment/ACTIVATE_CICD_GUIDE.md
  docs/guides/deployment/CICD_SETUP_GUIDE.md
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

docs: update CI/CD documentation for GitHub Actions migration
  .amazonq/rules/amazonq-project-context.md
  .gitlab-ci.yml
  README.md
  aws-config.json
  docs/guides/DEVELOPMENT_WORKFLOW_GUIDE.md
  docs/guides/SOLUTION_HANDOFF_GUIDE.md
  docs/guides/deployment/ACTIVATE_CICD_GUIDE.md
  docs/guides/deployment/CICD_SETUP_GUIDE.md
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

docs: update requirements documents to v2.2 for v1.3.0 release
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_COMPONENT_LIBRARY.md
  docs/requirements/UX_PAGE_SPECIFICATIONS.md
  docs/requirements/UX_TECHNOLOGY_STACK.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
  docs/requirements/UX_VISUAL_DESIGN_SYSTEM.md
Due: none

docs: update requirements and CI/CD documentation for GitHub Actions
  CHANGELOG.md
  README.md
  docs/CI_CD_PLATFORM_SELECTION.md
  docs/guides/CICD_PIPELINE_GUIDE.md
  docs/guides/deployment/GITHUB_ACTIONS_SETUP_GUIDE.md
  docs/implementation/INFRASTRUCTURE_IMPROVEMENTS.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_PAGE_SPECIFICATIONS.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
  docs/security/SECURITY_IMPLEMENTATION_PLAN.md
  frontend/src/services/api.ts
Due: validate:frontend-types, lint:frontend

docs: update requirements and CI/CD documentation for GitHub Actions
  .kiro/steering/project-context.md
  CHANGELOG.md
  README.md
  docs/CI_CD_PLATFORM_SELECTION.md
  docs/guides/CICD_PIPELINE_GUIDE.md
  docs/guides/deployment/GITHUB_ACTIONS_SETUP_GUIDE.md
  docs/implementation/INFRASTRUCTURE_IMPROVEMENTS.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_PAGE_SPECIFICATIONS.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
  docs/security/SECURITY_IMPLEMENTATION_PLAN.md
  frontend/src/services/api.ts
Due: validate:frontend-types, lint:frontend

fix(api): add ApiDeploymentTimestamp to force API Gateway redeployment
  .github/workflows/deploy.yml
  cfn/api-gateway-stack.yaml
  cfn/master-template.yaml
  scripts/sync-to-deployment-bucket.sh
Due: validate:cloudformation, validate:cloudformation-aws

fix(frontend): prevent stale aws-config.json from being committed
  frontend/.gitignore
  frontend/public/aws-config.template.json
  frontend/src/components/WaveConfigEditor.tsx
Due: validate:frontend-types, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
