Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

refactor: improve EventBridge security validation and code formatting
  lambda/api-handler/index.py
Due: lint:python

fix: correct EventBridge tag sync validation to use direct Lambda invocation pattern
  lambda/api-handler/index.py
Due: lint:python

fix: correct EventBridge validation logic to remove API Gateway context requirement
  lambda/api-handler/index.py
Due: lint:python

fix: implement direct EventBridge invocation pattern like DRS tools archive
  cfn/eventbridge-stack.yaml
  lambda/api-handler/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix: remove leftover YAML braces causing CloudFormation validation error
  cfn/eventbridge-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

milestone: EventBridge scheduled tag sync fully restored and functional
  .git_milestone_commit.txt
Due: none

chore: clean up temporary milestone commit file
  .git_milestone_commit.txt
Due: none

feat: trigger immediate manual sync when tag sync settings are updated
  lambda/api-handler/index.py
Due: lint:python

fix: implement asynchronous manual sync trigger for settings updates
  lambda/api-handler/index.py
Due: lint:python

docs: update README and CHANGELOG for v1.7.0 EventBridge tag sync enhancement
  CHANGELOG.md
  README.md
Due: none

fix: remove debug console logs from ExecutionDetailsPage
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
