Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

Fix Getting Started page card alignment with fitHeight and flex layout
  frontend/src/pages/GettingStartedPage.tsx
Due: validate:frontend-types, lint:frontend

Fix sync script to deploy frontend to actual S3 bucket + CloudFront invalidation
  frontend/src/pages/GettingStartedPage.tsx
  scripts/sync-to-deployment-bucket.sh
Due: validate:frontend-types, lint:frontend

Enhance Getting Started page with improved Quick Start Guide
  frontend/src/pages/GettingStartedPage.tsx
Due: validate:frontend-types, lint:frontend

Add unit tests for DRS service limits validation
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/test/setup.ts
  frontend/vite.config.ts
Due: validate:frontend-types, lint:frontend

Add backend unit tests for DRS service limits validation
  README.md
  tests/python/unit/test_drs_service_limits.py
Due: none

Add DRS service limits test documentation
  README.md
  docs/validation/DRS_SERVICE_LIMITS_TESTING.md
Due: none

feat: DRS Capacity auto-refresh, all 28 regions, improved error handling
  README.md
  cfn/api-stack.yaml
  docs/PROJECT_DEVELOPMENT_SUMMARY.md
  docs/PROJECT_STATUS.md
  docs/implementation/MULTI_ACCOUNT_SUPPORT_IMPLEMENTATION_PLAN.md
  docs/screenshots/01-login.png
  frontend/src/pages/Dashboard.tsx
  lambda/index.py
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Add Cross-Account DRS Monitoring doc and update Multi-Account implementation
  README.md
  docs/implementation/CROSS_ACCOUNT_DRS_MONITORING_IMPLEMENTATION.md
  docs/implementation/MULTI_ACCOUNT_DRS_IMPLEMENTATION.md
  docs/implementation/MULTI_ACCOUNT_SUPPORT_IMPLEMENTATION_PLAN.md
  frontend/src/pages/RecoveryPlansPage.tsx
Due: validate:frontend-types, lint:frontend

chore: Update steering rules for output suppression and workflow triggers
  .kiro/steering/terminal-rules.md
  .kiro/steering/update-requirements-workflow.md
Due: none

docs: Add steering workflow automation and output suppression rules
  CHANGELOG.md
  README.md
Due: none

docs: Add git commit hash to CHANGELOG entry
  CHANGELOG.md
Due: none

docs: Consolidate December 10 CHANGELOG entries into single section
  CHANGELOG.md
Due: none
