Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: Add Wave button not working in Recovery Plans
  .github/workflows/deploy.yml
  cfn/api-gateway-stack.yaml
  docs/guides/DEVELOPMENT_WORKFLOW_GUIDE.md
  frontend/public/aws-config.json
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/components/WaveConfigEditor.tsx
  scripts/redeploy-api-gateway.sh
  scripts/sync-to-deployment-bucket.sh
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:frontend

fix: resolve API field name mismatch for recovery plan creation
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/components/WaveConfigEditor.tsx
  lambda/api-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: resolve TypeScript errors in WaveConfigEditor button handlers
  frontend/src/components/WaveConfigEditor.tsx
Due: validate:frontend-types, lint:frontend

fix: Wave names not persisting on recovery plan save
  lambda/api-handler/index.py
Due: lint:python

fix: Ensure wave names persist during create and update operations
  lambda/api-handler/index.py
Due: lint:python

fix: Use proper frontend-to-backend field transformation for wave names
  lambda/api-handler/index.py
Due: lint:python

fix: Match reference stack data format for wave persistence
  lambda/api-handler/index.py
Due: lint:python

test: Trigger pipeline validation for code compliance check
  .pipeline-test
Due: none

feat: implement enterprise-class API Gateway deployment solution
  cfn/api-gateway-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: correct Lambda function property name for reserved concurrency
  cfn/api-gateway-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
