Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix(tests): update query_drs_servers_by_tags mocks to return server objects
  tests/unit/test_execution_handler_start_wave.py
Due: none

fix(frontend): use protection group accountId for EC2 resource loading
  frontend/src/components/LaunchConfigSection.tsx
  frontend/src/components/ProtectionGroupDialog.tsx
Due: validate:frontend-types, lint:frontend

fix(frontend): error if no accountId instead of fallback
  frontend/src/components/LaunchConfigSection.tsx
Due: validate:frontend-types, lint:frontend

fix: cross-account EC2 queries, deploy.sh frontend-only, and role name resolution
  analyze_ec2_resources.py
  cfn-lint-w2001-analysis.md
  cfn-lint-w2001-detailed-analysis.md
  docs/TEST.md
  frontend/src/components/LaunchConfigSection.tsx
  frontend/src/components/ServerLaunchConfigDialog.tsx
  frontend/src/components/__tests__/ServerLaunchConfigDialog.tests.tsx
  frontend/src/services/api.ts
  lambda/data-management-handler/index.py
  lambda/query-handler/index.py
  lambda/shared/conflict_detection.py
  lambda/shared/cross_account.py
  scripts/deploy.sh
  scripts/utilities/clear_and_resync_inventory.py
  scripts/utilities/sync_drs_tables.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: increase dr-orch-sf Lambda timeout from 120s to 300s
  cfn/lambda-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs: update CHANGELOG and README for v6.1.0 release
  CHANGELOG.md
  README.md
Due: none

docs(specs): add launch-config-preapplication requirements and design
  .kiro/specs/launch-config-preapplication/.config.kiro
  .kiro/specs/launch-config-preapplication/design.md
  .kiro/specs/launch-config-preapplication/requirements.md
Due: none

docs(launch-config): add version control best practices for granular rollback
  .kiro/specs/launch-config-preapplication/requirements.md
Due: none

docs(launch-config): convert open questions to design decisions
  .kiro/specs/launch-config-preapplication/requirements.md
Due: none

docs(readme): add launch-config-preapplication as #1 priority in future enhancements
  README.md
Due: none

feat(launch-config): add launch config service foundation
  lambda/shared/launch_config_service.py
Due: lint:python

feat(cfn): combine cross-account role and agent installer into single stack
  CHANGELOG.md
  README.md
  archive/code/cfn/cross-account-role-stack.yaml
  archive/code/cfn/drs-agent-installer-stack.yaml
  cfn/drs-target-account-setup-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

test(launch-config): add unit tests for update integration
  .kiro/specs/launch-config-preapplication/tasks.md
  tests/unit/test_update_protection_group_launch_config_integration.py
Due: none

feat(cfn): standardize SSM document name and add multi-region deployment
  README.md
  cfn/drs-target-account-setup-stack.yaml
  cfn/ssm-document-drs-agent-installer.yaml
  scripts/deploy-ssm-document-multi-region.sh
Due: validate:cloudformation, validate:cloudformation-aws

feat(launch-config): implement launch configuration pre-application feature
  .kiro/specs/launch-config-preapplication/design.md
  .kiro/specs/launch-config-preapplication/tasks.md
  cfn/api-gateway-core-methods-stack.yaml
  cfn/api-gateway-resources-stack.yaml
  cfn/master-template.yaml
  lambda/data-management-handler/index.py
  lambda/execution-handler/index.py
  lambda/query-handler/index.py
  lambda/shared/drs_utils.py
  lambda/shared/launch_config_service.py
  lambda/shared/security_utils.py
  pyproject.toml
  tests/integration/test_launch_config_api_integration.py
  tests/integration/test_launch_config_e2e_integration.py
  tests/performance/__init__.py
  tests/performance/test_launch_config_performance.py
  tests/unit/test_create_protection_group_launch_config_integration.py
  tests/unit/test_data_management_apply_launch_configs.py
  tests/unit/test_data_management_get_launch_config_status.py
  tests/unit/test_data_management_operations_property.py
  tests/unit/test_execution_handler_start_wave.py
  tests/unit/test_execution_handler_wave_optimization.py
  tests/unit/test_launch_config_schema_property.py
  tests/unit/test_launch_config_schema_unit.py
  tests/unit/test_launch_config_service_property.py
  tests/unit/test_launch_config_service_unit.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix(execution): remove expensive enrichment from basic execution details endpoint
  lambda/data-management-handler/index.py
  lambda/execution-handler/index.py
  lambda/query-handler/index.py
  lambda/shared/drs_utils.py
  lambda/shared/launch_config_service.py
  lambda/shared/security_utils.py
Due: lint:python

fix(data-management): resolve tag-based server selection at protection group creation
  lambda/data-management-handler/index.py
Due: lint:python

style: apply black formatting to data-management-handler
  lambda/data-management-handler/index.py
Due: lint:python

fix(data-management): add isCurrentAccount flag for cross-account tag resolution
  lambda/data-management-handler/index.py
Due: lint:python

fix(launch-config): add pytest fixture to reset DynamoDB globals for test isolation
  tests/unit/test_launch_config_service_property.py
  tests/unit/test_launch_config_service_unit.py
Due: none

fix(launch-config): add environment variable fixture for test isolation
  tests/unit/test_launch_config_service_property.py
  tests/unit/test_launch_config_service_unit.py
Due: none

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
