Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: remove unused variables and imports in frontend
  frontend/src/components/WaveProgress.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/services/api.ts
Due: validate:frontend-types, lint:frontend

fix: centralize terminate button logic in backend
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/types/index.ts
  lambda/api-handler/index.py
  lambda/shared/drs_utils.py
  lambda/shared/execution_utils.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: execution details page not updating after resume from pause
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/services/api.ts
Due: validate:frontend-types, lint:frontend

fix: recovery plan status shows active execution status
  frontend/src/pages/RecoveryPlansPage.tsx
Due: validate:frontend-types, lint:frontend

fix: restore currentWave tracking lost in camelCase migration
  lambda/api-handler/index.py
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

debug: add logging to trace currentWave calculation
  lambda/api-handler/index.py
Due: lint:python

fix: check both Waves and waves fields for backward compatibility with old executions
  docs/analysis/TERMINATE_BUTTON_FIX_PLAN.md
  docs/analysis/TERMINATE_BUTTON_HISTORY.md
  docs/tasks/TERMINATE_BUTTON_FIX_HANDOFF.md
  lambda/api-handler/index.py
  lambda/shared/execution_utils.py
Due: lint:python

fix: start polling when execution loads, not just when status changes
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: add instanceType to EC2 details and trigger frontend rebuild
  EVENING_SESSION_SUMMARY.md
  STATUS_SUMMARY.md
  docs/tasks/POLLING_FIX.md
  docs/tasks/TERMINATE_BUTTON_FIX_HANDOFF.md
  lambda/api-handler/index.py
  lambda/execution-poller/index.py
  scripts/fix-waves-field.py
Due: lint:python

fix: execution duration now updates in real-time
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

docs: update evening session summary with duration fix
  EVENING_SESSION_SUMMARY.md
Due: none

fix: frontend deployment when infrastructure skipped
  .github/workflows/deploy.yml
Due: none

fix: test_drs_service_limits.py import path and re-enable in CI
  .github/workflows/deploy.yml
  tests/python/unit/test_drs_service_limits.py
Due: none

fix: handle skipped infrastructure deployment in frontend deploy condition
  .github/workflows/deploy.yml
Due: none

fix: frontend-only deployment should allow docs changes
  .github/workflows/deploy.yml
Due: none

fix: execution details page auto-refresh after resume
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

docs: update evening session summary with resume auto-refresh fix
  EVENING_SESSION_SUMMARY.md
Due: none

fix: exclude frontend-only from deploy-frontend job
  .github/workflows/deploy.yml
Due: none

fix: simplify frontend deployment to single job
  .github/workflows/deploy.yml
Due: none

docs: update evening session summary with workflow fix
  EVENING_SESSION_SUMMARY.md
Due: none

feat: add workflow concurrency control to prevent overlapping runs
  .github/workflows/deploy.yml
Due: none

docs: update CI/CD documentation with generic placeholders and concurrency control
  CHANGELOG.md
  README.md
  docs/deployment/CI_CD_CONFIGURATION_SUMMARY.md
  docs/guides/DEVELOPMENT_WORKFLOW_GUIDE.md
  docs/guides/deployment/GITHUB_ACTIONS_CICD_GUIDE.md
Due: none

docs: update evening session summary with tasks 7-8
  EVENING_SESSION_SUMMARY.md
Due: none

docs: create comprehensive sensitive data purge log for git history cleanup
  SENSITIVE_DATA_PURGE_LOG.md
Due: none

docs: phase 1 consolidation - remove 29 obsolete files
  DOCS_CONSOLIDATION_PLAN.md
  docs/architecture/ARCHITECTURE_DIAGRAMS.md
  docs/architecture/NAMING_CONVENTION_ANALYSIS.md
  docs/architecture/STEP_FUNCTIONS_ANALYSIS.md
  docs/changelog/CHANGELOG_FULL_HISTORY.md
  docs/deployment/CI_CD_PLATFORM_SELECTION.md
  docs/deployment/CROSS_ACCOUNT_ROLE_POLICY.md
  docs/deployment/GITHUB_SECRETS_CONFIGURATION.md
  docs/deployment/INCIDENT_REPORT_STACK_DELETION.md
  docs/deployment/REPOSITORY_CLEANUP_PLAN.md
  docs/deployment/ROOT_DOCS_ORGANIZATION.md
  docs/deployment/STACK_RESTORATION_COMPLETE.md
  docs/deployment/UPDATED_CICD_PIPELINE_GUIDE.md
  docs/guides/DEVELOPMENT_WORKFLOW_GUIDE.md
  docs/guides/S3_SYNC_AUTOMATION.md
  docs/guides/deployment/FRESH_DEPLOYMENT_GUIDE.md
  docs/guides/development/ide-integration-testing.md
  docs/guides/development/ide-troubleshooting-faq.md
  docs/guides/development/pycharm-setup.md
  docs/guides/troubleshooting/CODEBUILD_PERMISSIONS_FIX.md
  docs/guides/troubleshooting/COGNITO_PASSWORD_RESET_FIX.md
  docs/guides/troubleshooting/DRS_SERVICE_LIMITS_TESTING.md
  docs/guides/troubleshooting/UPDATE_ROLLBACK_COMPLETE_FIX.md
  docs/implementation/API_GATEWAY_ARCHITECTURE_COMPLIANCE.md
  docs/implementation/MAJOR_REFACTORING_DEC2024_JAN2025.md
  docs/implementation/PARAMETERIZATION_SUMMARY.md
  docs/tasks/DOCUMENTATION_IMPROVEMENT.md
  docs/tasks/POLLING_FIX.md
  docs/tasks/TERMINATE_BUTTON_FIX_HANDOFF.md
  docs/troubleshooting/EC2_DETAILS_FIELD_NAME_FIX.md
  docs/troubleshooting/RECOVERY_INSTANCES_ENDPOINT_FIX.md
  docs/troubleshooting/SSM_APPROVAL_AUTHENTICATION_ANALYSIS.md
  scripts/sanitize-docs.sh
Due: none

docs: phase 2 consolidation - create API_AND_INTEGRATION_GUIDE.md (1/8)
  DOCS_CONSOLIDATION_STATUS.md
  docs/guides/API_AND_INTEGRATION_GUIDE.md
Due: none

docs: consolidate developer documentation into comprehensive guide
  docs/guides/DEVELOPER_GUIDE.md
Due: none

docs: phase 2 consolidation - create FEATURES.md (3/8)
  DOCS_CONSOLIDATION_STATUS.md
  docs/implementation/FEATURES.md
Due: none

docs: phase 2 consolidation - create ROADMAP.md (4/8)
  DOCS_CONSOLIDATION_STATUS.md
  docs/implementation/ROADMAP.md
Due: none

docs: consolidate architecture documentation (5/8 complete)
  DOCS_CONSOLIDATION_STATUS.md
  docs/architecture/ARCHITECTURE.md
Due: none

docs: consolidate deployment guides into DEPLOYMENT_GUIDE.md
  docs/guides/DEPLOYMENT_GUIDE.md
Due: none

docs: rename GITHUB_ACTIONS_CICD_GUIDE.md to CICD_GUIDE.md
  DOCS_CONSOLIDATION_STATUS.md
  docs/guides/CICD_GUIDE.md
Due: none

docs: delete source files after consolidation
  DOCS_CONSOLIDATION_PLAN.md
  docs/architecture/ARCHITECTURAL_DESIGN_DOCUMENT.md
  docs/architecture/AWS_SERVICES_ARCHITECTURE_DEEP_DIVE.md
  docs/guides/API_REFERENCE_GUIDE.md
  docs/guides/DEPLOYMENT_AND_OPERATIONS_GUIDE.md
  docs/guides/DEVELOPMENT_WORKFLOW_GUIDE.md
  docs/guides/LOCAL_DEVELOPMENT.md
  docs/guides/ORCHESTRATION_INTEGRATION_GUIDE.md
  docs/guides/TESTING_AND_QUALITY_ASSURANCE.md
  docs/guides/deployment/FRESH_DEPLOYMENT_GUIDE.md
  docs/implementation/AUTOMATION_AND_ORCHESTRATION.md
  docs/implementation/CROSS_ACCOUNT_FEATURES.md
  docs/implementation/DRS_SOURCE_SERVER_MANAGEMENT.md
  docs/implementation/ENHANCEMENT_ROADMAP.md
  docs/implementation/INFRASTRUCTURE_IMPROVEMENTS.md
  docs/implementation/NOTIFICATIONS_AND_MONITORING.md
  docs/implementation/RECOVERY_ENHANCEMENTS.md
  docs/implementation/SCHEDULED_TAG_SYNC_IMPLEMENTATION.md
  docs/implementation/SNS_NOTIFICATION_SYSTEM.md
Due: none

docs: mark Phase 2 consolidation complete
  DOCS_CONSOLIDATION_STATUS.md
Due: none

docs: update README with consolidated documentation links
  README.md
Due: none

docs: mark documentation consolidation complete
  DOCS_CONSOLIDATION_STATUS.md
Due: none

docs: add consolidation completion summary
  DOCS_CONSOLIDATION_COMPLETE.md
Due: none

docs: add comprehensive git history purge guide
  GIT_HISTORY_PURGE_GUIDE.md
Due: none

docs: add git history purge quick start guide
  GIT_PURGE_QUICK_START.md
Due: none

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
