Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: prevent redundant cross-account role assumption
  docs/troubleshooting/CROSS_ACCOUNT_ASSUME_ROLE_FIX.md
  lambda/shared/cross_account.py
Due: lint:python

fix: standardize ExternalId to hardcoded value for all cross-account roles
  cfn/cross-account-role-stack.yaml
  lambda/data-management-handler/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix: add missing externalId to account_context in apply_launch_config_to_servers
  lambda/data-management-handler/index.py
Due: lint:python

feat: add cross-account tag sync support and remove debug logging
  .flake8
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
  cfn/step-functions-stack.yaml
  create-pg-event.json
  deploy-cross-account-role-to-target.sh
  docs/analysis/ORCHESTRATION_REFACTORING_TEST_SUMMARY.md
  docs/troubleshooting/CROSS_ACCOUNT_FIX_COMPLETE.md
  docs/troubleshooting/EXTERNAL_ID_STANDARDIZATION_COMPLETE.md
  frontend/src/components/AccountSelector.tsx
  frontend/src/components/CapacityDashboard.tsx
  frontend/src/components/ProtectionGroupDialog.tsx
  frontend/src/contexts/AccountContext.tsx
  frontend/src/hooks/useStagingAccountRefresh.ts
  frontend/src/pages/ProtectionGroupsPage.tsx
  lambda/data-management-handler/index.py
  lambda/dr-orchestration-stepfunction/index.py
  lambda/drs-agent-deployer/index.py
  lambda/execution-handler/index.py
  lambda/frontend-deployer/index.py
  lambda/notification-formatter/index.py
  lambda/orchestration-stepfunctions/index.py
  lambda/query-handler/index.py
  lambda/shared/conflict_detection.py
  lambda/shared/cross_account.py
  lambda/shared/drs_limits.py
  lambda/shared/drs_utils.py
  lambda/shared/launch_config_validation.py
  lambda/shared/notifications.py
  lambda/shared/rbac_middleware.py
  lambda/shared/security_utils.py
  lambda/shared/staging_account_discovery.py
  lambda/shared/staging_account_models.py
  package_lambda.py
  pg-db-servers.json
  pyproject.toml
  scripts/deploy.sh
  tests/unit/test_dr_orchestration_handler_invocations.py
  tests/unit/test_query_handler_query_servers.py
  update-target-account-external-id.sh
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix: filter out target account from DRS trusted staging accounts
  STAGING_ACCOUNT_AUTO_EXTEND_FIX_COMPLETE.md
  STAGING_ACCOUNT_AUTO_EXTEND_RESTORATION.md
  cfn/drs-agent-installer-stack.yaml
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
  create-pg-event.json
  deploy-cross-account-role-to-target.sh
  frontend/src/components/RegionalCapacitySection.tsx
  lambda/data-management-handler/index.py
  lambda/orchestration-stepfunctions/index.py
  lambda/query-handler/index.py
  lambda/shared/cross_account.py
  lambda/shared/staging_account_discovery.py
  package_lambda.py
  pg-db-servers.json
  scripts/deploy.sh
  tests/unit/test_handle_get_combined_capacity.py
  update-target-account-external-id.sh
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix: filter target account from DRS staging account discovery
  lambda/shared/staging_account_discovery.py
Due: lint:python

fix: remove incorrect filter in staging account discovery
  lambda/shared/staging_account_discovery.py
Due: lint:python

debug: add logging to show all staging account IDs returned by API
  lambda/shared/staging_account_discovery.py
Due: lint:python

feat: implement automatic staging account discovery
  lambda/query-handler/index.py
  lambda/shared/staging_account_discovery.py
Due: lint:python

style: black formatting
  lambda/query-handler/index.py
  lambda/shared/staging_account_discovery.py
Due: lint:python

fix: revert to proper staging account discovery from target account
  lambda/query-handler/index.py
  lambda/shared/staging_account_discovery.py
Due: lint:python

fix: use default credentials when querying current account for staging servers
  lambda/query-handler/index.py
Due: lint:python

feat: add staging account button back to target account settings modal
  frontend/src/components/TargetAccountSettingsModal.tsx
Due: validate:frontend-types, lint:frontend

refactor: remove automatic staging account discovery, keep only auto-extend
  lambda/query-handler/index.py
  lambda/shared/staging_account_discovery.py
Due: lint:python

fix: use standardized external ID for staging accounts
  frontend/src/components/AddStagingAccountModal.tsx
Due: validate:frontend-types, lint:frontend

test: update tests for standardized external ID
  frontend/src/components/__tests__/AddStagingAccountModal.test.tsx
Due: validate:frontend-types, lint:frontend

test: fix external ID assertion to expect exactly 2 matches
  frontend/src/components/__tests__/AddStagingAccountModal.test.tsx
Due: validate:frontend-types, lint:frontend

docs: complete staging account auto-extend fix documentation
  STAGING_ACCOUNT_AUTO_EXTEND_FIX_COMPLETE.md
Due: none

fix: correct API endpoint paths for staging accounts
  frontend/src/services/staging-accounts-api.ts
Due: validate:frontend-types, lint:frontend

test: update API endpoint paths in tests
  frontend/src/services/__tests__/staging-accounts-api.test.ts
Due: validate:frontend-types, lint:frontend

docs: update with API endpoint path fix
  STAGING_ACCOUNT_AUTO_EXTEND_FIX_COMPLETE.md
Due: none

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
