Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

feat: restore to working commit 4bc502a and add modern CI/CD pipeline
  .github/workflows/deploy.yml
  scripts/check-deployment-scope.sh
  scripts/sync-to-deployment-bucket.sh
Due: none

feat: restore to working commit 6724fcd and add modern CI/CD pipeline
  .github/workflows/deploy.yml
  scripts/check-deployment-scope.sh
  scripts/sync-to-deployment-bucket.sh
Due: none

feat: deploy fresh stack with working DRS endpoints and modern CI/CD
  .github/workflows/deploy.yml
  CHANGELOG.md
Due: none

feat: trigger fresh stack deployment with working DRS endpoints
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: include missing Lambda functions in GitHub Actions build
  .github/workflows/deploy.yml
Due: none

fix: correct Lambda packaging to match working sync script logic
  .github/workflows/deploy.yml
Due: none

feat: add missing frontend-only deployment job to GitHub Actions
  .github/workflows/deploy.yml
Due: none

fix: frontend-only deployment should run all quality gates
  .github/workflows/deploy.yml
Due: none

feat: restore comprehensive validation stage with all missing tests and security scripts
  .github/workflows/deploy.yml
  scripts/check-cloudscape-compliance.sh
  scripts/generate-security-summary.py
Due: none

fix: update frontend-only deployment dependencies and sync script validation
  .github/workflows/deploy.yml
  scripts/sync-to-deployment-bucket.sh
Due: none

fix: update fresh stack configuration and resolve Lambda import issues
  FRESH_STACK_DEPLOYMENT_SUMMARY.md
  lambda/api-handler/index.py
  scripts/sync-to-deployment-bucket.sh
Due: lint:python

fix: recovery plan creation success message showing 'undefined'
  lambda/api-handler/index.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
