Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: remove invalid parentheses from CloudFormation tag values
  .github/workflows/deploy.yml
Due: none

fix: deploy pre-performance optimization code to new stack (v2) to bypass stuck stack
  .github/workflows/deploy.yml
  deploy-archive-properly.md
  deploy-working-archive.sh
  emergency-deploy-archive.sh
  force-update.yaml
Due: none

fix: update display name to v2 to trigger deployment to new stack
  .github/workflows/deploy.yml
Due: none

fix: change stack name to qa to avoid conflict with stuck archive-test stack
  .github/workflows/deploy.yml
Due: none

fix: use matrix stack name directly instead of secret to avoid stuck stack reference
  .github/workflows/deploy.yml
Due: none

fix: use unique project name for QA stack to avoid DynamoDB table naming conflicts
  .github/workflows/deploy.yml
Due: none

fix: add S3 bucket permissions for QA stack frontend bucket in GitHub OIDC policy
  cfn/github-oidc-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: use wildcard pattern for S3 bucket permissions to cover all DRS orchestrator stacks
  cfn/github-oidc-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: allow CREATE_IN_PROGRESS status in deployment script - only block problematic progress states
  scripts/sync-to-deployment-bucket.sh
Due: none

emergency: restore archive code to fix broken QA stack Lambda handlers
  lambda/api-handler/index.py
  lambda/execution-finder/index.py
  lambda/execution-poller/index.py
  lambda/shared/rbac_middleware.py
  update-github-oidc-qa-permissions.sh
Due: lint:python

fix: always update DynamoDB with server statuses during wave polling
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
