Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: Complete scripts/generate_quality_report.py PEP 8 compliance
  baseline_violations_report.txt
  scripts/generate_quality_report.py
Due: none

feat(standards): Complete Python coding standards implementation
  baseline_violations_report.txt
  docs/development/python-coding-standards.md
  lambda/deploy_lambda.py
  lambda/execution_registry.py
  lambda/index.py
  scripts/manage-user-roles.py
Due: lint:python

feat(standards): Complete Python coding standards implementation
  .kiro/specs/python-coding-standards/tasks.md
  baseline_violations_report.txt
  docs/development/python-coding-standards.md
  lambda/deploy_lambda.py
  lambda/execution_registry.py
  lambda/index.py
  scripts/manage-user-roles.py
Due: lint:python

docs: comprehensive v1.2.2 documentation update for code quality enhancement
  CHANGELOG.md
  README.md
Due: none

feat: enhance Python coding standards steering document with complete PEP 8 coverage
  .kiro/steering/python-coding-standards.md
Due: none

feat(scripts): enhance code analysis with comprehensive PEP 8 compliance tools
  .flake8
  Makefile
  pyproject.toml
  scripts/pep8_compliance_checker.py
Due: none

fix(cfn): remove duplicate Default parameter in lambda-stack.yaml
  cfn/lambda-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: resolve pyproject.toml TOML syntax error causing GitLab CI failure
  pyproject.toml
Due: none

fix: Apply Black formatting to all Python Lambda files for PEP 8 compliance
  lambda/build_and_deploy.py
  lambda/deploy_lambda.py
  lambda/drs_tag_sync.py
  lambda/execution_registry.py
  lambda/index.py
  lambda/orchestration_stepfunctions.py
  lambda/poller/execution_finder.py
  lambda/poller/execution_poller.py
  lambda/rbac_middleware.py
  lambda/tag_discovery.py
Due: lint:python

docs: Update README and CHANGELOG with v1.2.2 Black formatting improvements
  CHANGELOG.md
  README.md
Due: none

fix: Remove inline comments from flake8 configuration
  .flake8
Due: none

feat: Add PEP 8 compliance reporting and Amazon Q rules
  .amazonq/rules/python-coding-standards.md
  reports/pep8_compliance_report_20260102_144837.json
  scripts/analyze_violations.py
Due: none

feat: Add PEP 8 compliance reporting and Amazon Q rules
  reports/pep8_compliance_report_20260102_144837.json
  scripts/analyze_violations.py
Due: none
