Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: update frontend config to point to QA stack API endpoint
  frontend/public/aws-config.json
Due: validate:frontend-types, lint:frontend

fix: remove duplicate and malformed lines in GitHub Actions workflow
  .github/workflows/deploy.yml
Due: none

fix: resolve duplicate step names in GitHub Actions workflow
  .github/workflows/deploy.yml
Due: none

docs: update orchestration fix log with deployment conflict resolution
  ORCHESTRATION_FIX_LOG.md
Due: none

docs: final orchestration fix log - mission accomplished
  ORCHESTRATION_FIX_LOG.md
Due: none

fix: correct region case sensitivity in execution-poller
  ORCHESTRATION_FIX_LOG.md
  lambda/execution-poller/index.py
Due: lint:python

fix: complete region case sensitivity fix in execution-poller
  clean-poller-payload.json
  current-execution-payload.json
  lambda/execution-poller/index.py
  poller-payload.json
Due: lint:python

fix: region case sensitivity in orchestration Lambda
  ORCHESTRATION_FIX_LOG.md
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: populate owner, accountId, and region in Recovery Plan creation
  ORCHESTRATION_FIX_LOG.md
  lambda/api-handler/index.py
Due: lint:python

fix: execution-finder now processes PAUSED executions
  lambda/execution-finder/index.py
Due: lint:python

fix: use target account from Protection Groups instead of default account
  lambda/api-handler/index.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
