Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

docs: update with API endpoint path fix
  STAGING_ACCOUNT_AUTO_EXTEND_FIX_COMPLETE.md
Due: none

feat: show role ARN and external ID as editable fields with auto-fill
  frontend/src/components/AddStagingAccountModal.tsx
Due: validate:frontend-types, lint:frontend

test: update tests for editable role ARN and external ID fields
  frontend/src/components/__tests__/AddStagingAccountModal.test.tsx
Due: validate:frontend-types, lint:frontend

feat: add edit account name and remove staging account capabilities
  frontend/src/components/TargetAccountSettingsModal.tsx
Due: validate:frontend-types, lint:frontend

fix: calculate recovery capacity per-region using combined regional breakdown from all accounts
  lambda/query-handler/index.py
Due: lint:python

style: black formatting
  lambda/query-handler/index.py
Due: lint:python

fix: correct create_drs_client call in extend_source_server to use account_context dict
  lambda/query-handler/index.py
Due: lint:python

fix: recovery capacity should only count actively replicating servers
  lambda/query-handler/index.py
Due: lint:python

docs: recovery capacity fix documentation
  RECOVERY_CAPACITY_FIX_COMPLETE.md
Due: none

perf: add 30-second response caching for capacity queries
  lambda/query-handler/index.py
Due: lint:python

docs: DRS capacity caching performance fix documentation
  DRS_CAPACITY_CACHING_PERFORMANCE_FIX.md
Due: none

fix: recovery capacity in handle_get_all_accounts_capacity using totalServers
  lambda/query-handler/index.py
Due: lint:python

fix: frontend recovery capacity using totalServers instead of replicatingServers
  frontend/src/components/RegionalCapacitySection.tsx
Due: validate:frontend-types, lint:frontend

feat: add regional capacity calculation to backend API
  lambda/query-handler/index.py
Due: lint:python

refactor: use backend regional capacity calculation in frontend
  frontend/src/components/RegionalCapacitySection.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/types/staging-accounts.ts
Due: validate:frontend-types, lint:frontend

docs: recovery capacity frontend fix complete
  RECOVERY_CAPACITY_FRONTEND_FIX_COMPLETE.md
Due: none

feat: hide empty regions from regional capacity display
  frontend/src/components/RegionalCapacitySection.tsx
Due: validate:frontend-types, lint:frontend

fix: remove invalid status prop from CapacityGauge
  frontend/src/components/RegionalCapacitySection.tsx
Due: validate:frontend-types, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
