Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix(launch-config): add environment variable fixture for test isolation
  tests/unit/test_launch_config_service_property.py
  tests/unit/test_launch_config_service_unit.py
Due: none

fix(launch-config): create shared conftest.py with autouse fixtures for test isolation
  tests/unit/conftest.py
  tests/unit/test_launch_config_service_property.py
  tests/unit/test_launch_config_service_unit.py
Due: none

fix(launch-config): add EC2 launch template update logic to launch_config_service
  lambda/shared/launch_config_service.py
Due: lint:python

feat: add recovery instance sync spec and refactor launch config pre-application
  .gitlab-ci.yml
  .kiro/specs/launch-config-preapplication/VERIFICATION_REPORT.md
  .kiro/specs/launch-config-preapplication/design.md
  .kiro/specs/launch-config-preapplication/requirements.md
  .kiro/specs/launch-config-preapplication/tasks.md
  .kiro/specs/recovery-instance-sync/.config.kiro
  .kiro/specs/recovery-instance-sync/design.md
  .kiro/specs/recovery-instance-sync/requirements.md
  .kiro/specs/recovery-instance-sync/tasks.md
  .pre-commit-config.yaml
  execution_full.json
  execution_raw.json
  frontend/src/components/WaveProgress.tsx
  lambda/data-management-handler/index.py
  lambda/execution-handler/index.py
  pyproject.toml
  scripts/analyze_ec2_resources.py
  scripts/apply_launch_configs_to_all_groups.py
  scripts/check_drs_job.py
  scripts/check_dynamo.py
  scripts/check_execution.py
  scripts/check_lambda_logs.py
  scripts/check_target_account.py
  scripts/deploy-ssm-document-multi-region.sh
  scripts/deploy.sh
  scripts/ssm-document-drs-agent-installer.yaml
  scripts/trigger_poll.py
  tests/conftest.py
  tests/unit/test_create_protection_group_launch_config_integration.py
  tests/unit/test_data_management_get_launch_config_status.py
  tests/unit/test_execution_handler_direct_invocation.py
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

docs: add query handler read-only audit and recovery instance sync specs
  .kiro/specs/query-handler-read-only-audit/design.md
  .kiro/specs/query-handler-read-only-audit/requirements.md
  .kiro/specs/query-handler-read-only-audit/suggestions.md
  .kiro/specs/query-handler-read-only-audit/tasks.md
  .kiro/specs/recovery-instance-sync/design.md
  .kiro/specs/recovery-instance-sync/requirements.md
  .kiro/specs/recovery-instance-sync/tasks.md
  CHANGELOG.md
  README.md
  cfn/database-stack.yaml
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs(specs): pause cross-file-test-isolation-fix spec
  .kiro/specs/cross-file-test-isolation-fix/PROPERTY_TEST_VERIFICATION.md
  .kiro/specs/cross-file-test-isolation-fix/TASK_14_2_VERIFICATION.md
  .kiro/specs/cross-file-test-isolation-fix/TEST.md
  .kiro/specs/cross-file-test-isolation-fix/TEST_FIXES_EXECUTIVE_SUMMARY.md
  .kiro/specs/cross-file-test-isolation-fix/TEST_FIXES_SUMMARY.md
  .kiro/specs/cross-file-test-isolation-fix/TEST_PATTERNS.md
  .kiro/specs/cross-file-test-isolation-fix/cfn-lint-w2001-analysis.md
  .kiro/specs/cross-file-test-isolation-fix/cfn-lint-w2001-detailed-analysis.md
  .kiro/specs/cross-file-test-isolation-fix/design.md
  .kiro/specs/cross-file-test-isolation-fix/requirements.md
  .kiro/specs/cross-file-test-isolation-fix/tasks.md
Due: none

feat: add automated development environment setup script
  .kiro/specs/deploy-script-test-detection-fix/IMPLEMENTATION_SUMMARY.md
  .kiro/specs/dynamodb-mock-structure-fix/DYNAMODB_MOCK_ANALYSIS.md
  .kiro/specs/dynamodb-mock-structure-fix/DYNAMODB_MOCK_PATTERNS.md
  .kiro/specs/dynamodb-mock-structure-fix/design.md
  .kiro/specs/dynamodb-mock-structure-fix/requirements.md
  .kiro/specs/dynamodb-mock-structure-fix/tasks.md
  scripts/setup-dev-environment.sh
Due: none

test: skip problematic tests to unblock CI/CD
  tests/unit/test_account_breakdown_completeness_property.py
  tests/unit/test_failed_account_resilience_property.py
  tests/unit/test_handle_get_combined_capacity.py
  tests/unit/test_launch_config_service_property.py
  tests/unit/test_launch_config_service_unit.py
  tests/unit/test_notification_formatter_property.py
Due: none

fix: replace example account number to avoid CodeDefender false positive
  docs/troubleshooting/DRS_KMS_CROSS_ACCOUNT_VALIDATION.md
Due: none

fix: correct function name in test_pre_creation_quota_validation.py
  tests/unit/test_pre_creation_quota_validation.py
Due: none

feat: add automatic GitHub sync to deploy script
  scripts/deploy.sh
Due: none

chore: remove all tests from deploy.sh CI/CD pipeline
  scripts/deploy.sh
Due: none

test: pause cross-file test isolation fix - 97% pass rate acceptable
  add_skip_markers.py
  failing_tests.txt
  find_failing_tests.py
  tests/unit/test_data_management_operations_property.py
  tests/unit/test_warning_generation_property.py
Due: none

chore: update deploy.sh for aws-drs-orchestration-test stack
  add_skip_markers.py
  failing_tests.txt
  find_failing_tests.py
  scripts/deploy.sh
Due: none

feat: add Lambda packaging script for deployment pipeline
  package_lambda.py
Due: none

fix: add RecoveryInstancesCacheTableName parameter to lambda-stack
  cfn/lambda-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: remove unimplemented notification-formatter from Lambda packaging
  cfn/master-template.yaml
  package_lambda.py
Due: validate:cloudformation, validate:cloudformation-aws

docs: add SNS/EventBridge/Step Functions integration architecture
  README.md
  cfn/api-gateway-core-methods-stack.yaml
  cfn/api-gateway-core-stack.yaml
  cfn/api-gateway-deployment-stack.yaml
  cfn/api-gateway-infrastructure-methods-stack.yaml
  cfn/api-gateway-operations-methods-stack.yaml
  cfn/api-gateway-resources-stack.yaml
  cfn/eventbridge-stack.yaml
  cfn/waf-stack.yaml
  docs/architecture/SNS_EVENTBRIDGE_STEPFUNCTIONS_INTEGRATION.md
  package_lambda.py
Due: validate:cloudformation, validate:cloudformation-aws
