Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

docs: Update UX specs to reflect actual code implementation
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
Due: none

docs: Align all requirements and steering docs as unified specification
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
Due: none

docs: Align all requirements and steering docs as unified specification
  .amazonq/rules/kiro-steering-alignment.md
  .amazonq/rules/update-requirements-workflow.md
  .kiro/steering/cloudscape-component-reference.md
  .kiro/steering/docs-index.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/update-requirements-workflow.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
Due: none

docs: Add changelog entry for documentation alignment work
  CHANGELOG.md
Due: none

feat: Add configuration export/import feature (v1.6.0)
  CHANGELOG.md
  README.md
  cfn/api-stack.yaml
  frontend/src/App.tsx
  frontend/src/components/ConfigExportPanel.tsx
  frontend/src/components/ConfigImportPanel.tsx
  frontend/src/components/ImportResultsDialog.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/contexts/ApiContext.tsx
  frontend/src/services/api.ts
  lambda/index.py
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

feat: Mark Config Export/Import feature complete
  README.md
  lambda/api-handler.zip
  lambda/index.py
Due: lint:python

docs: Move Config Export/Import spec to docs folder
  README.md
  docs/implementation/CONFIG_EXPORT_IMPORT_SPEC.md
Due: none

docs: Update CHANGELOG v1.6.0 to December 14
  CHANGELOG.md
Due: none

docs: Add Config Export/Import API documentation
  docs/guides/ORCHESTRATION_INTEGRATION_GUIDE.md
Due: none

docs: Add CLI walkthrough for config backup/restore
  docs/guides/ORCHESTRATION_INTEGRATION_GUIDE.md
Due: none

feat: Add ProtectionGroupName resolution in config import
  lambda/index.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
