Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: restore server details by using PascalCase DRS API field names
  lambda/execution-poller/index.py
Due: lint:python

fix: restore server details by reading recoveryInstanceID from DRS API
  frontend/src/components/WaveProgress.tsx
  lambda/execution-finder/index.py
  lambda/execution-poller/index.py
  lambda/orchestration-stepfunctions/index.py
  poller-payload.json
Due: validate:frontend-types, lint:python, lint:frontend

fix: EC2 API also returns PascalCase - use PrivateIpAddress
  lambda/execution-poller/index.py
Due: lint:python

fix: restore WaveProgress component with separate expansion states
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix: restore wave-based orchestration pause/resume functionality
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: restore wave-based orchestration pause/resume functionality
  CHANGELOG.md
  README.md
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: complete camelCase migration - fix remaining legacy database fields
  lambda/api-handler/index.py
  lambda/execution-poller/index.py
  scripts/add-current-account.py
  scripts/populate-drs-data.py
Due: lint:python

docs: update migration tracking - camelCase migration 99% complete
  CAMELCASE_MIGRATION_TRACKING.md
Due: none

fix: add missing RBAC imports and comprehensive legacy field cleanup
  lambda/api-handler/index.py
  scripts/comprehensive-legacy-cleanup.py
Due: lint:python

add: original legacy field cleanup script for reference
  scripts/cleanup-remaining-legacy-fields.py
Due: none

fix: resolve remaining API endpoint issues for 100% success rate
  lambda/api-handler/index.py
Due: lint:python

fix: resolve TypeScript field name mismatches for execution interfaces
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  lambda/api-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: add missing server data mapping for expandable server details
  DRS-SCP-Exception-Implementation-Guide.md
  lambda/api-handler/index.py
Due: lint:python
