Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: use correct API endpoint path for staging account discovery
  frontend/src/components/TargetAccountSettingsModal.tsx
Due: validate:frontend-types, lint:frontend

feat: enhance dashboard capacity monitoring with all DRS service limits
  frontend/src/components/AccountManagementPanel.tsx
  frontend/src/components/CompactCapacitySummary.tsx
  frontend/src/components/TargetAccountSettingsModal.tsx
  frontend/src/components/__tests__/CapacityDetailsModal.test.tsx
  frontend/src/components/__tests__/ServerLaunchConfigDialog.tests.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/SystemStatusPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/staging-accounts.ts
  lambda/query-handler/index.py
  lambda/shared/staging_account_discovery.py
  tests/unit/test_target_account_addition_property.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: Add missing validate_max_servers_per_job function and fix function signatures
  lambda/query-handler/index.py
  lambda/shared/drs_limits.py
Due: lint:python

fix: Pass assumed role DRS client to validation functions for cross-account job queries
  lambda/query-handler/index.py
  lambda/shared/drs_limits.py
Due: lint:python

fix: Add missing imports for validation functions in query handler
  lambda/query-handler/index.py
Due: lint:python

fix: remove duplicate lines causing syntax error in jobs metrics query
  lambda/query-handler/index.py
Due: lint:python

docs: update troubleshooting guide with syntax error resolution
  docs/analysis/UI_QUOTA_DISPLAY_TROUBLESHOOTING.md
Due: none

fix: remove duplicate validation function definitions in query handler
  lambda/query-handler/index.py
Due: lint:python

test: increase deadline for property tests with jobs metrics query
  tests/unit/test_account_breakdown_completeness_property.py
  tests/unit/test_empty_staging_accounts_default_property.py
Due: none

fix: Recovery Capacity now counts total servers (replicating + extended)
  docs/analysis/DRS_QUOTA_LOAD_TEST_SUMMARY.md
  docs/analysis/MAX_SERVERS_PER_JOB_GAUGE_FIX_COMPLETE.md
  docs/analysis/PRE_CREATION_QUOTA_VALIDATION_COMPLETE.md
  docs/analysis/PRE_CREATION_QUOTA_VALIDATION_FINAL_STATUS.md
  docs/analysis/PRE_CREATION_QUOTA_VALIDATION_GAPS.md
  docs/analysis/PRE_CREATION_QUOTA_VALIDATION_IMPLEMENTATION_SUMMARY.md
  docs/analysis/PRE_CREATION_QUOTA_VALIDATION_VERIFICATION.md
  docs/analysis/RECOVERY_PLAN_QUOTA_VALIDATION_ANALYSIS.md
  frontend/src/components/CompactCapacitySummary.tsx
  frontend/src/pages/SystemStatusPage.tsx
  frontend/src/types/staging-accounts.ts
  lambda/data-management-handler/index.py
  lambda/query-handler/index.py
  lambda/shared/conflict_detection.py
  login-page.png
  system-status-page.png
  tests/load/test_drs_quota_load_testing.py
  tests/unit/test_conflict_detection_comprehensive.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: Recovery Capacity now counts total servers (replicating + extended)
  docs/analysis/DRS_QUOTA_LOAD_TEST_SUMMARY.md
  docs/analysis/MAX_SERVERS_PER_JOB_GAUGE_FIX_COMPLETE.md
  docs/analysis/PRE_CREATION_QUOTA_VALIDATION_COMPLETE.md
  docs/analysis/PRE_CREATION_QUOTA_VALIDATION_FINAL_STATUS.md
  docs/analysis/PRE_CREATION_QUOTA_VALIDATION_GAPS.md
  docs/analysis/PRE_CREATION_QUOTA_VALIDATION_IMPLEMENTATION_SUMMARY.md
  docs/analysis/PRE_CREATION_QUOTA_VALIDATION_VERIFICATION.md
  docs/analysis/RECOVERY_PLAN_QUOTA_VALIDATION_ANALYSIS.md
  frontend/src/components/CompactCapacitySummary.tsx
  frontend/src/pages/SystemStatusPage.tsx
  frontend/src/types/staging-accounts.ts
  lambda/data-management-handler/index.py
  lambda/query-handler/index.py
  lambda/shared/conflict_detection.py
  tests/load/test_drs_quota_load_testing.py
  tests/unit/test_conflict_detection_comprehensive.py
Due: validate:frontend-types, lint:python, lint:frontend

test: increase deadline to 2000ms for flaky property test
  tests/unit/test_empty_staging_accounts_default_property.py
Due: none

debug: add recovery capacity logging
  lambda/query-handler/index.py
Due: lint:python

chore: remove debug logging from SystemStatusPage
  frontend/src/pages/SystemStatusPage.tsx
Due: validate:frontend-types, lint:frontend

fix: per-region quota tracking and UI consolidation
  docs/analysis/MAX_SERVERS_PER_JOB_GAUGE_FIXED.md
  docs/analysis/PER_REGION_QUOTA_FIX.md
  docs/analysis/RECOVERY_CAPACITY_FIX_COMPLETE.md
  frontend/src/App.tsx
  frontend/src/components/CompactCapacitySummary.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/GettingStartedPage.tsx
  frontend/src/pages/SystemStatusPage.tsx
  lambda/query-handler/index.py
  login-page-check.png
  max-servers-per-job-gauge-visible.png
  system-status-with-data.png
Due: validate:frontend-types, lint:python, lint:frontend

fix: per-region quota tracking and UI consolidation
  docs/analysis/MAX_SERVERS_PER_JOB_GAUGE_FIXED.md
  docs/analysis/PER_REGION_QUOTA_FIX.md
  docs/analysis/RECOVERY_CAPACITY_FIX_COMPLETE.md
  frontend/src/App.tsx
  frontend/src/components/CompactCapacitySummary.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/GettingStartedPage.tsx
  frontend/src/pages/SystemStatusPage.tsx
  lambda/query-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: remove duplicate Refresh Capacity button and add per-account breakdown table
  frontend/src/pages/Dashboard.tsx
Due: validate:frontend-types, lint:frontend

fix: add missing fields to RegionalCapacity type
  frontend/src/types/staging-accounts.ts
Due: validate:frontend-types, lint:frontend

docs: add Dashboard UX improvements documentation
  docs/analysis/DASHBOARD_UX_IMPROVEMENTS.md
Due: none

feat: nest staging accounts under target accounts with expandable rows
  frontend/src/pages/Dashboard.tsx
Due: validate:frontend-types, lint:frontend

feat: add expandable regional breakdown and staging accounts view
  frontend/src/pages/Dashboard.tsx
Due: validate:frontend-types, lint:frontend

fix: correct syntax errors in test_pre_creation_quota_validation.py
  tests/unit/test_pre_creation_quota_validation.py
Due: none

fix: resolve test import conflicts by clearing index module before imports
  tests/unit/test_query_handler_role_arn.py
  tests/unit/test_recovery_capacity_calculation_property.py
  tests/unit/test_uninitialized_region_handling_property.py
  tests/unit/test_validate_staging_account_edge_cases.py
  tests/unit/test_validation_error_handling_property.py
  tests/unit/test_validation_result_completeness_property.py
  tests/unit/test_warning_generation_property.py
Due: none
