Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

chore: remove obsolete aws-config.json from root
  aws-config.json
Due: none

docs: update SECURITY.md for public open-source release
  SECURITY.md
Due: none

security: sanitize sensitive data in API handler logging
  lambda/api-handler/index.py
Due: lint:python

fix: restore validate-camelcase-consistency.sh for CI/CD workflow
  scripts/validate-camelcase-consistency.sh
Due: none

security: reduce verbosity in server ID logging
  lambda/api-handler/index.py
Due: lint:python

docs: add cross-references to UX documentation
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
Due: none

docs: remove local path references from reference architecture catalog
  docs/reference/REFERENCE_ARCHITECTURE_REPOSITORIES.md
Due: none

docs: remove DR Automation from reference architecture catalog
  docs/reference/REFERENCE_ARCHITECTURE_REPOSITORIES.md
Due: none

docs: reorganize reference architecture to show system hierarchy
  docs/reference/REFERENCE_ARCHITECTURE_REPOSITORIES.md
Due: none

docs: refocus reference architecture on greater HRP system
  docs/reference/REFERENCE_ARCHITECTURE_REPOSITORIES.md
Due: none

docs: clarify DR Factory relationship to Cloud Migration Factory
  docs/reference/REFERENCE_ARCHITECTURE_REPOSITORIES.md
Due: none

docs: move reference architecture to HRP-DR-Orchestration design docs
  docs/reference/REFERENCE_ARCHITECTURE_REPOSITORIES.md
Due: none

docs: update CHANGELOG and README for v4.0.0 repository consolidation
  CHANGELOG.md
  README.md
Due: none

feat: implement per-server launch config API endpoints
  lambda/data-management-handler/index.py
  lambda/shared/launch_config_validation.py
Due: lint:python

docs: update CHANGELOG with per-server launch config API implementation
  CHANGELOG.md
Due: none

feat: add per-server launch config API client functions
  CHANGELOG.md
  frontend/src/services/api.ts
Due: validate:frontend-types, lint:frontend

feat: add StaticIPInput component with real-time validation
  CHANGELOG.md
  frontend/src/components/StaticIPInput.tsx
Due: validate:frontend-types, lint:frontend

chore: reorganize config file and add shared config_merge module
  docs/drs-orchestration-config-2026-01-27T22-42-00.json
  frontend/src/types/index.ts
  lambda/execution-handler/index.py
  lambda/shared/config_merge.py
Due: validate:frontend-types, lint:python, lint:frontend

docs: Complete Task 6.1 - StaticIPInput component verification
  CHANGELOG.md
Due: none

feat: add ServerConfigBadge component for per-server configuration status
  CHANGELOG.md
Due: none
