Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: Apply Black formatting to bucket-cleaner Lambda function
  lambda/bucket-cleaner/index.py
Due: lint:python

fix: Complete Black formatting compliance for bucket-cleaner Lambda function
  lambda/bucket-cleaner/index.py
Due: lint:python

fix: resolve Black formatting issues in Lambda functions
  lambda/orchestration_stepfunctions.py
Due: lint:python

fix: resolve remaining Black formatting issues in Lambda functions
  lambda/bucket-cleaner/index.py
  lambda/orchestration_stepfunctions.py
Due: lint:python

fix: resolve S3 bucket cleanup during CloudFormation stack deletion
  cfn/codecommit-stack.yaml
  cfn/frontend-stack.yaml
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

feat: add GitHub repository security and workflow configurations
  .github/BRANCH_PROTECTION_SETUP.md
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/workflows/security-checks.yml
  README.md
  lambda/bucket-cleaner/.!71183!index.py
  mise.toml
Due: lint:python

fix: add permissions blocks to GitHub workflow jobs
  .github/workflows/security-checks.yml
Due: none

fix: make HTML script tag regex case-insensitive for security
  lambda/build_and_deploy.py
Due: lint:python

fix: prevent logging of potentially sensitive data in apply_results
  lambda/index.py
Due: lint:python

test: trigger pipeline to test bucket cleaner integration
  .pipeline-test
Due: none

fix: remove sensitive password logging in user management script
  scripts/manage-user-roles.py
Due: none

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
