Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

feat(execution): add get_execution_details operation for direct Lambda invocation
  lambda/execution-handler/index.py
Due: lint:python

fix(execution): use correct cross-account session import in poll_wave
  lambda/execution-handler/index.py
Due: lint:python

feat(execution): track staging account conversion jobs for extended source servers
  lambda/execution-handler/index.py
Due: lint:python

feat(frontend): add multi-phase DRS job timeline for extended source servers
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix(frontend): display DRS job failure messages in wave timeline
  frontend/src/components/WaveProgress.tsx
  frontend/src/types/index.ts
Due: validate:frontend-types, lint:frontend

fix(frontend): prevent false "Failed" status for waves during early DRS job phases
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix(frontend): correlate multiple staging jobs in single Phase 1 timeline
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix: staging job detection and deployment improvements
  frontend/src/services/api.ts
  lambda/execution-handler/index.py
  scripts/deploy.sh
Due: validate:frontend-types, lint:python, lint:frontend

feat(direct-invocation): complete Phase 3 and Phase 4 operations
  lambda/data-management-handler/index.py
  lambda/query-handler/index.py
  tests/unit/test_query_handler_new_operations.py
  tests/unit/test_query_handler_new_operations_property.py
Due: lint:python

feat(iam-auth): add IAM authorization and audit logging utilities
  lambda/shared/iam_utils.py
  tests/unit/test_iam_utils.py
Due: lint:python

chore: add test account ID to gitallowed
  .gitallowed
  PROGRESS_SUMMARY.md
  frontend/src/components/WaveProgress.tsx
  lambda/data-management-handler/index.py
  lambda/execution-handler/index.py
  lambda/query-handler/index.py
  pyproject.toml
  tests/unit/test_execution_handler_accountcontext_fix.py
  tests/unit/test_execution_handler_direct_invocation.py
  tests/unit/test_execution_handler_direct_invocation_property.py
  tests/unit/test_query_handler_get_server_config_history.py
  tests/unit/test_query_handler_get_server_launch_config.py
Due: validate:frontend-types, lint:python, lint:frontend

test: fix property-based tests for IAM authorization and audit logging
  lambda/shared/iam_utils.py
  tests/unit/test_iam_audit_logging_property.py
  tests/unit/test_iam_utils_property.py
Due: lint:python

docs: update CHANGELOG and README for v5.0.0 release
  CHANGELOG.md
  README.md
Due: none

test: fix final 5 failing tests to achieve 100% pass rate
  cfn/master-template.yaml
  lambda/data-management-handler/index.py
  lambda/execution-handler/index.py
  lambda/query-handler/index.py
  lambda/shared/iam_utils.py
  lambda/shared/response_utils.py
  lambda/shared/test_staging_account_models.py
  tests/conftest.py
  tests/unit/test_cli_operation_response_structure_property.py
  tests/unit/test_data_management_new_operations.py
  tests/unit/test_data_management_operations_property.py
  tests/unit/test_data_management_response_format.py
  tests/unit/test_error_handling_data_management_handler.py
  tests/unit/test_error_handling_execution_handler.py
  tests/unit/test_error_handling_property.py
  tests/unit/test_error_handling_query_handler.py
  tests/unit/test_execution_handler_direct_invocation.py
  tests/unit/test_execution_handler_direct_invocation_property.py
  tests/unit/test_execution_handler_operations.py
  tests/unit/test_execution_handler_response_format.py
  tests/unit/test_handle_add_staging_account.py
  tests/unit/test_iam_audit_logging_property.py
  tests/unit/test_query_handler_action_routing.py
  tests/unit/test_query_handler_get_server_config_history.py
  tests/unit/test_query_handler_get_server_launch_config.py
  tests/unit/test_query_handler_new_operations.py
  tests/unit/test_query_handler_response_format.py
  tests/unit/test_query_handler_role_arn.py
  tests/unit/test_target_account_addition_property.py
  tests/unit/test_validate_staging_account_edge_cases.py
  tests/unit/test_validation_error_handling_property.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix(deploy): prevent early exit on expired SSO session
  scripts/deploy.sh
Due: none

fix(execution): derive server status from DRS job log events
  frontend/src/components/WaveProgress.tsx
  lambda/execution-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

fix(execution): restore original DRS status display logic
  frontend/src/components/WaveProgress.tsx
  lambda/execution-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

docs(steering): update deployment and stack protection rules
  .kiro/steering/aws-stack-protection.md
  .kiro/steering/cicd-workflow-enforcement.md
  .kiro/steering/cloudscape-design-practices.md
Due: none

fix(execution): restore job log event status derivation with DRS-compatible values
  lambda/execution-handler/index.py
Due: lint:python
