Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: resolve CloudFormation template formatting issues
  cfn/api-gateway-operations-methods-stack.yaml
  cfn/api-gateway-resources-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: resolve React Fast Refresh violations
  frontend/src/components/AccountManagementPanel.tsx
  frontend/src/components/PermissionAware.tsx
  frontend/src/components/ProtectionGroupDialog.tsx
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/PermissionsContext.tsx
  frontend/src/hooks/usePermissionCheck.ts
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/types/permissions.ts
  frontend/src/utils/roleUtils.ts
Due: validate:frontend-types, lint:frontend

fix: use type-only import for PermissionsContextType
  frontend/src/contexts/PermissionsContext.tsx
Due: validate:frontend-types, lint:frontend

fix: remove invalid IAM condition blocking EC2 launch template operations
  cfn/lambda-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

cleanup: remove debug console.log statements from frontend components
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/components/WaveConfigEditor.tsx
Due: validate:frontend-types, lint:frontend

fix: add GET method for check-existing-instances endpoint and fix StatusBadge undefined error
  cfn/api-gateway-core-methods-stack.yaml
  frontend/src/components/StatusBadge.tsx
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:frontend

fix: update API Gateway deployment timestamp to force new deployment
  cfn/api-gateway-deployment-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: revert breaking change to API Gateway methods
  cfn/api-gateway-core-methods-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: revert breaking change to API Gateway methods
  .kiro/steering/project-context.md
  cfn/api-gateway-core-methods-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: update API Gateway deployment timestamp to force method deployment
  cfn/api-gateway-deployment-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: correct path parameter extraction for execution details endpoint
  lambda/api-handler/index.py
Due: lint:python
