Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

Fix pause/resume execution and UI improvements
  CONFLICT_DETECTION_CHANGELOG.md
  DRILL_FUNCTIONALITY_RESTORED_SUMMARY.md
  UI_DRILL_ISSUE_INVESTIGATION.md
  cfn/step-functions-stack.yaml
  debug-current-execution.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/WaveProgress.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/services/api.ts
  lambda/api-handler.zip
  lambda/index.py
  lambda/orchestration-stepfunctions.zip
  lambda/orchestration_stepfunctions.py
  test-frontend-job-logs.js
  test-job-events-debug.js
  test-job-logs-api.js
  test-localhost-browser.js
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

feat(dashboard): auto-detect region with most replicating servers
  frontend/src/pages/Dashboard.tsx
Due: validate:frontend-types, lint:frontend

docs: update changelog and readme with dashboard region auto-detect feature
  CHANGELOG.md
  README.md
Due: none

fix: DRS termination progress tracking and cancelled execution UI refresh
  CHANGELOG.md
  README.md
  cfn/api-stack.yaml
  cfn/step-functions-stack.yaml
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/components/WaveProgress.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/types/index.ts
  lambda/api-handler.zip
  lambda/index.py
  lambda/orchestration-stepfunctions.zip
  lambda/poller/execution_finder.py
  lambda/poller/execution_poller.py
  scripts/sync-to-deployment-bucket.sh
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Fix termination progress tracking and cleanup debug logging
  CHANGELOG.md
  EXECUTION_DETAILS_PAGE_CHANGES_TODO.md
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: ExecutionDetailsPage cancellation status handling
  CHANGELOG.md
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

Fix terminate-instances API to return 200 OK when no instances exist
  CHANGELOG.md
  lambda/index.py
Due: lint:python

Fix terminate button visibility for in-progress executions
  CHANGELOG.md
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: improve terminate button logic for active vs completed executions
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

Fix terminate-instances API and button visibility logic
  CHANGELOG.md
  frontend/src/pages/ExecutionDetailsPage.tsx
  lambda/index.py
Due: validate:frontend-types, lint:python, lint:frontend
