Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

feat: force infrastructure deployment for camelCase schema migration
  cfn/database-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

feat: complete camelCase database schema migration
  cfn/database-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

feat: complete camelCase migration with safe DynamoDB recreation
  CAMELCASE_MIGRATION_TRACKING.md
  cfn/database-stack-recreation.yaml
  cfn/master-template.yaml
  scripts/force-database-recreation.sh
Due: validate:cloudformation, validate:cloudformation-aws

feat: update CI/CD to deploy as test environment instead of dev
  .github/workflows/deploy.yml
  CAMELCASE_MIGRATION_TRACKING.md
  cfn/master-template.yaml
  lambda/bucket-cleaner/index.py
  scripts/sync-to-deployment-bucket.sh
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

docs: update camelCase migration tracking for test environment deployment
  CAMELCASE_MIGRATION_TRACKING.md
Due: none

feat: trigger test environment deployment with camelCase migration
  cfn/trigger-deployment.txt
Due: validate:cloudformation, validate:cloudformation-aws

fix: correct DatabaseStack references in master template
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

feat: complete OIDC management and deployment fixes
  cfn/github-oidc-stack.yaml
  docs/guides/GITHUB_OIDC_MANAGEMENT.md
  scripts/deploy-github-oidc.sh
  scripts/validate-github-oidc.sh
Due: validate:cloudformation, validate:cloudformation-aws

feat: implement comprehensive SNS notification system
  CAMELCASE_MIGRATION_TRACKING.md
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
  cfn/notification-stack.yaml
  docs/implementation/SNS_NOTIFICATION_SYSTEM.md
  lambda/notification-formatter/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix: resolve CloudFormation custom resource response format and database stack references
  lambda/bucket-cleaner/index.py
Due: lint:python

feat: v1.3.1 camelCase migration deployment
  CHANGELOG.md
  README.md
Due: none

deploy: trigger full camelCase migration deployment
  lambda/api-handler/index.py
Due: lint:python

fix: correct GroupId field access in create_protection_group response
  lambda/api-handler/index.py
Due: lint:python

docs: update all CI/CD documents with test stack configuration
  Makefile
  README.md
  STACK_ANALYSIS_SUMMARY.md
Due: none
