Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: restore Step Functions server resolution pattern from January 6th
  lambda/api-handler/index.py
Due: lint:python

fix: transform recovery plan waves to Step Functions format
  lambda/api-handler/index.py
Due: lint:python

fix: restore working archive pattern from commit 1850882
  lambda/api-handler/index.py
Due: lint:python

fix: restore working archive pattern from commit 510b5c3
  lambda/api-handler/index.py
Due: lint:python

fix: restore working archive pattern from commit 9c56f83
  lambda/api-handler/index.py
Due: lint:python

fix: restore working Step Functions template and fix server resolution
  cfn/step-functions-stack.yaml
  lambda/api-handler/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix: restore working API handler from January 6th commit 07fd427
  lambda/api-handler/index.py
Due: lint:python

fix: restore working API handler from January 6th commit c715992
  lambda/api-handler/index.py
Due: lint:python

fix: restore working API handler from January 6th commit f5635e4
  lambda/api-handler/index.py
Due: lint:python

CRITICAL: restore working Step Functions pattern from Jan 7th archive
  CRITICAL_FIX_SUMMARY.md
  cfn/step-functions-stack.yaml
  lambda/api-handler/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix: restore working Step Functions template from Jan 7th archive
  cfn/step-functions-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: add enhanced logging to diagnose DRS server tag resolution
  CRITICAL_FIX_SUMMARY.md
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: restore complete working codebase from Jan 7th archive
  cfn/step-functions-stack.yaml
  lambda/orchestration-stepfunctions/index.py
  scripts/fix-tag-mismatch.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix: restore complete working Lambda functions from Jan 7th archive
  cancel_execution.py
  cancel_execution.sh
  lambda/api-handler/index.py
  lambda/rbac_middleware.py
  lambda/security_utils.py
  manual_cancel_commands.md
  mark_execution_failed.sh
Due: lint:python

fix: resolve orchestration execution stuck in polling status
  DEEP_ANALYSIS_WORKING_ARCHIVE.md
  ORCHESTRATION_FIX_PLAN.md
  WORKING_STATE_SUMMARY.md
  lambda/api-handler/index.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
