Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: enhance enrich_execution_with_server_details to include recovery instance details
  lambda/api-handler/index.py
Due: lint:python

fix: add missing LaunchTime field to server details in wave tables
  lambda/api-handler/index.py
Due: lint:python

feat: improve wave progress table presentation with AWS design standards
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix: add missing launchTime field to frontend data mapping
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/types/index.ts
Due: validate:frontend-types, lint:frontend

fix: compact status badges to prevent word wrapping
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

chore: clean up build artifacts and test reports
  .gitignore
  reference-build/index-B3B6xzlQ.js
  reference-build/index-DQ3P1g1z.css
  reference-build/vendor-aws-uz1sLEVm.js
  reference-build/vendor-http-fQJBIoto.js
  reference-build/vendor-mui-core-DfwLAmRl.js
  reference-build/vendor-mui-extended-BU3nLhQd.css
  reference-build/vendor-mui-extended-CjMQYT6J.js
  reference-build/vendor-react-0O18VZk2.js
  reports/security/security-summary.json
  scripts/cleanup-repository.sh
Due: none

docs: add comprehensive v1.6.0 working prototype restoration milestone
  CHANGELOG.md
Due: none

docs: add comprehensive v1.6.0 working prototype restoration milestone
  .deployment-trigger
  .github/workflows/deploy.yml
  .gitignore
  CHANGELOG.md
  README.md
  aws-config.json
  cfn/api-gateway-deployment-stack.yaml
  cfn/master-template.yaml
  docs/deployment/CI_CD_CONFIGURATION_SUMMARY.md
  docs/deployment/GITHUB_SECRETS_CONFIGURATION.md
  docs/deployment/INCIDENT_REPORT_STACK_DELETION.md
  docs/deployment/REPOSITORY_CLEANUP_PLAN.md
  docs/deployment/ROOT_DOCS_ORGANIZATION.md
  docs/deployment/STACK_RESTORATION_COMPLETE.md
  docs/deployment/UPDATED_CICD_PIPELINE_GUIDE.md
  docs/guides/DEVELOPMENT_WORKFLOW_GUIDE.md
  docs/guides/ORCHESTRATION_INTEGRATION_GUIDE.md
  docs/guides/deployment/FRESH_DEPLOYMENT_GUIDE.md
  docs/guides/deployment/GITHUB_ACTIONS_CICD_GUIDE.md
  scripts/check-deployment-scope.sh
  scripts/check-workflow.sh
  scripts/emergency-stack-protection.sh
  scripts/prevent-project-name-changes.sh
  scripts/safe-push.sh
  scripts/sync-to-deployment-bucket.sh
  scripts/validate-frontend-config.sh
Due: validate:cloudformation, validate:cloudformation-aws

docs: add comprehensive v1.6.0 working prototype restoration milestone
  .deployment-trigger
  .github/workflows/deploy.yml
  .gitignore
  .kiro/steering/STEERING_UPDATES_SUMMARY.md
  .kiro/steering/development-workflow.md
  .kiro/steering/project-context.md
  .kiro/steering/qa-stack-fix-focus.md
  CHANGELOG.md
  README.md
  aws-config.json
  cfn/api-gateway-deployment-stack.yaml
  cfn/master-template.yaml
  docs/deployment/CI_CD_CONFIGURATION_SUMMARY.md
  docs/deployment/GITHUB_SECRETS_CONFIGURATION.md
  docs/deployment/INCIDENT_REPORT_STACK_DELETION.md
  docs/deployment/REPOSITORY_CLEANUP_PLAN.md
  docs/deployment/ROOT_DOCS_ORGANIZATION.md
  docs/deployment/STACK_RESTORATION_COMPLETE.md
  docs/deployment/UPDATED_CICD_PIPELINE_GUIDE.md
  docs/guides/DEVELOPMENT_WORKFLOW_GUIDE.md
  docs/guides/ORCHESTRATION_INTEGRATION_GUIDE.md
  docs/guides/deployment/FRESH_DEPLOYMENT_GUIDE.md
  docs/guides/deployment/GITHUB_ACTIONS_CICD_GUIDE.md
  scripts/check-deployment-scope.sh
  scripts/check-workflow.sh
  scripts/emergency-stack-protection.sh
  scripts/prevent-project-name-changes.sh
  scripts/safe-push.sh
  scripts/sync-to-deployment-bucket.sh
  scripts/validate-frontend-config.sh
Due: validate:cloudformation, validate:cloudformation-aws

docs: update README and CHANGELOG for v1.6.0 comprehensive restoration milestone
  CHANGELOG.md
  README.md
Due: none

fix: update EventBridge rule name pattern to match current stack naming
  lambda/api-handler/index.py
Due: lint:python

refactor: improve EventBridge security validation and code formatting
  lambda/api-handler/index.py
Due: lint:python
