Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: reconcile Started waves with completed DRS jobs
  lambda/api-handler/index.py
Due: lint:python

fix: use case-insensitive comparison for completed wave counting
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix: resolve React useCallback dependency warnings in AuthContext
  frontend/src/contexts/AuthContext.tsx
Due: validate:frontend-types, lint:frontend

fix: resolve React validation warnings in ExecutionDetailsPage
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: resolve TypeScript variable declaration order errors in AuthContext
  frontend/src/contexts/AuthContext.tsx
Due: validate:frontend-types, lint:frontend

fix: remove remaining setTerminationProgress calls to resolve build errors
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: restore terminationProgress functionality for instance termination UI
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

feat: add termination progress bar and fix React Hook dependencies
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: correct wave progress calculation for completed waves
  frontend/src/components/WaveProgress.tsx
  lambda/api-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: resolve GitHub Actions security scanning command conflicts
  .github/workflows/deploy.yml
Due: none

fix: resolve navigation links breaking after viewing execution history
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend
