Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix(frontend): replace any types with unknown in TypeScript interfaces (BATCH 2)
  frontend/src/types/index.ts
Due: validate:frontend-types, lint:frontend

fix(frontend): replace any types with proper TypeScript types in ProtectionGroupDialog (BATCH 3)
  frontend/src/components/ProtectionGroupDialog.tsx
Due: validate:frontend-types, lint:frontend

fix: complete BATCH 4 - fix remaining any types in ExecutionDetails and InvocationSourceBadge
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/components/InvocationSourceBadge.tsx
Due: validate:frontend-types, lint:frontend

fix: BATCH 5 - remove unused Select import in WaveConfigEditor
  frontend/src/components/WaveConfigEditor.tsx
Due: validate:frontend-types, lint:frontend

fix: BATCH 6 - remove escape character issues in RecoveryPlansPage
  frontend/src/pages/RecoveryPlansPage.tsx
Due: validate:frontend-types, lint:frontend

fix: BATCH 7 - remove escape character issues in ExecutionsPage
  frontend/src/pages/ExecutionsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: re-enable Black validation and complete code quality improvements
  buildspecs/validate-buildspec.yml
Due: none

feat(security): Complete security implementation with Lambda integration
  .bandit
  .github/workflows/security-scan.yml
  Makefile
  SECURITY.md
  SECURITY_FIXES_SUMMARY.md
  docs/security/CODE_SECURITY_ISSUES.md
  docs/security/SECURITY_IMPLEMENTATION_PLAN.md
  frontend/package-lock.json
  frontend/src/components/AccountManagementPanel.tsx
  frontend/src/components/PasswordChangeForm.tsx
  frontend/src/components/ServerSelector.tsx
  frontend/src/components/TagSyncConfigPanel.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  lambda/index.py
  lambda/security_utils.py
  pyproject.toml
Due: validate:frontend-types, lint:python, lint:frontend

feat: Complete SNS notifications for pipeline and security failures
  .pre-commit-config.yaml
  SECURITY_FIXES_SUMMARY.md
  SNS_NOTIFICATIONS_IMPLEMENTATION_SUMMARY.md
  WEEK_2_SECURITY_COMPLETION_SUMMARY.md
  buildspecs/security-buildspec.yml
  cfn/codebuild-projects-stack.yaml
  cfn/codepipeline-stack.yaml
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
  cfn/security-monitoring-stack.yaml
  frontend/src/services/api.ts
  frontend/src/utils/security.ts
  lambda/index.py
  reports/security/security-summary.json
  scripts/generate-security-summary.py
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix(notifications): resolve CloudFormation conditional export issues
  cfn/codepipeline-stack.yaml
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
  lambda/notification-formatter.zip
  lambda/notification-formatter/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix(cfn): resolve SNS notification circular dependency and conditional export issues
  cfn/codepipeline-stack.yaml
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
