Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: correct IAM role reference for DeploymentOrchestratorFunction
  .github/workflows/deploy.yml
  README.md
  cfn/api-gateway-core-stack.yaml
  docs/guides/deployment/ACTIVATE_CICD_GUIDE.md
  docs/guides/deployment/CICD_SETUP_GUIDE.md
  docs/guides/deployment/FRESH_DEPLOYMENT_GUIDE.md
  docs/guides/deployment/GITHUB_ACTIONS_SETUP_GUIDE.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
Due: validate:cloudformation, validate:cloudformation-aws

fix: correct IAM role reference for DeploymentOrchestratorFunction
  .amazonq/rules/amazonq-project-context.md
  .github/workflows/deploy.yml
  .kiro/steering/development-workflow.md
  .kiro/steering/project-context.md
  README.md
  cfn/api-gateway-core-stack.yaml
  docs/guides/deployment/ACTIVATE_CICD_GUIDE.md
  docs/guides/deployment/CICD_SETUP_GUIDE.md
  docs/guides/deployment/FRESH_DEPLOYMENT_GUIDE.md
  docs/guides/deployment/GITHUB_ACTIONS_SETUP_GUIDE.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
Due: validate:cloudformation, validate:cloudformation-aws

feat: complete API Gateway template split for CloudFormation compliance
  API_GATEWAY_SPLIT_PLAN.md
  cfn/api-gateway-core-methods-stack.yaml
  cfn/api-gateway-deployment-stack.yaml
  cfn/api-gateway-infrastructure-methods-stack.yaml
  cfn/api-gateway-operations-methods-stack.yaml
  cfn/api-gateway-resources-stack.yaml
  cfn/api-gateway-stack.yaml
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: resolve API Gateway deployment orchestrator stage creation issue
  cfn/api-gateway-deployment-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs: update documentation to align with 6-nested-stack API Gateway architecture
  CHANGELOG.md
  README.md
  docs/architecture/ARCHITECTURAL_DESIGN_DOCUMENT.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
Due: none

docs: update documentation to align with 6-nested-stack API Gateway architecture
  .amazonq/rules/amazonq-project-context.md
  CHANGELOG.md
  README.md
  docs/architecture/ARCHITECTURAL_DESIGN_DOCUMENT.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
Due: none

fix: add missing RBAC permission for protection-groups/resolve endpoint
  lambda/shared/rbac_middleware.py
Due: lint:python

fix: resolve protection groups resolve endpoint routing issue
  lambda/api-handler/index.py
Due: lint:python

fix: add API Gateway resource and method for protection-groups/resolve endpoint
  cfn/api-gateway-core-methods-stack.yaml
  cfn/api-gateway-resources-stack.yaml
  cfn/master-template.yaml
  working_rbac_middleware.py
Due: validate:cloudformation, validate:cloudformation-aws

fix: trigger IAM policy update for drs:UpdateLaunchConfiguration permission
  DEPLOYMENT_FIX.md
Due: none

feat: add comprehensive DRS and EC2 permissions for complete API support
  DEPLOYMENT_FIX.md
  cfn/cross-account-role-stack.yaml
  cfn/lambda-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

feat: implement comprehensive DRS API for complete disaster recovery orchestration
  COMPREHENSIVE_DRS_API_IMPLEMENTATION.md
  cfn/api-gateway-infrastructure-methods-stack.yaml
  cfn/api-gateway-operations-methods-stack.yaml
  cfn/api-gateway-resources-stack.yaml
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
