Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: update Step Functions definition to use camelCase field names
  cfn/step-functions-stack.yaml
  lambda/api-handler/index.py
  lambda/orchestration-stepfunctions/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

docs: update documentation and migration tracking files
  CHANGELOG.md
  README.md
  SYSTEMATIC_CAMELCASE_FIX.md
  build/lambda/api-handler.zip
  camelcase-migration-test-summary.txt
  cleanup_duplicate_fields.py
  crud-test-results.txt
  docs/analysis/CROSS_ACCOUNT_CROSS_REGIONAL_ANALYSIS.md
  docs/analysis/DR_ORCHESTRATION_ARTIFACTS_ANALYSIS.md
  docs/architecture/NAMING_CONVENTION_ANALYSIS.md
  docs/integration/TECHNOLOGY_ADAPTER_INTEGRATION.md
  endpoint-test-summary.txt
  fix_all_camelcase_issues.py
  frontend/public/aws-config.json
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/components/WaveConfigEditor.tsx
  frontend/src/types/index.ts
  migrate-windows-app-connections.md
  scripts/cleanup-legacy-fields.py
  scripts/fix-database-camelcase.py
  scripts/sync-to-deployment-bucket.sh
  wave-names-final-fix-summary.txt
  wave-names-fix-summary.txt
Due: validate:frontend-types, lint:frontend

fix: resolve flake8 E302 errors and Semgrep security warnings
  frontend/src/components/ServerSelector.tsx
  frontend/src/services/api.ts
  lambda/api-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

docs: update changelog with latest fixes
  CHANGELOG.md
Due: none

fix: update orchestration Lambda to use camelCase accountContext
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: update orchestration Lambda DynamoDB operations to use camelCase field names
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: remove legacy TransformForUpdate state from Step Functions
  cfn/step-functions-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: handle None job_id in security validation
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: eliminate all mixed PascalCase/camelCase database issues
  lambda/execution-poller/index.py
  scripts/cleanup-all-legacy-fields.py
Due: lint:python

fix: complete execution poller camelCase field consistency
  lambda/execution-poller/index.py
Due: lint:python

fix: handle None values in security validation for orchestration Lambda
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: apply critical orchestration fixes from git history analysis
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: add StatusIndex GSI to execution-history table for execution-finder
  cfn/database-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: restore server details by using PascalCase DRS API field names
  lambda/execution-poller/index.py
Due: lint:python
