Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: update WaveProgress props to match current interface
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

feat: add CloudScape design system compliance check to CI/CD pipeline
  .github/workflows/deploy.yml
  scripts/check-cloudscape-compliance.sh
Due: none

fix: CloudScape compliance script exits 0 for warnings-only
  scripts/check-cloudscape-compliance.sh
Due: none

fix: use TerminateInstancesDialog with detailed instance info instead of generic ConfirmDialog
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: enrich execution waves with DRS server instance IDs
  lambda/api-handler/index.py
Due: lint:python

chore(frontend): bump version to trigger deployment
  frontend/package.json
Due: validate:frontend-types, lint:frontend

fix: map API servers array to frontend serverExecutions in ExecutionDetailsPage
  frontend/public/aws-config.json
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: enhance reconcile_wave_status_with_drs to query recovery instances for instance IDs
  lambda/api-handler/index.py
Due: lint:python

fix(ci): correct frontend deployment path in deploy-frontend-after-infra job
  .github/workflows/deploy.yml
Due: none

fix(execution-poller): populate DRS recovery instance IDs and server details
  lambda/execution-poller/index.py
Due: lint:python

fix(cancel-execution): fix cancel functionality based on archive solution analysis
  lambda/api-handler/index.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
