Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

Fix security-scan workflow failures
  .github/workflows/security-scan.yml
Due: none

Add step-level continue-on-error to security scans
  .github/workflows/security-scan.yml
Due: none

Force exit 0 for security scans
  .github/workflows/security-scan.yml
Due: none

Fix CodeQL security vulnerability: Clear-text logging of sensitive information
  lambda/index.py
Due: lint:python

security: fix clear-text logging of sensitive DynamoDB query results
  lambda/index.py
Due: lint:python

security: fix clear-text logging of sensitive exception data
  lambda/index.py
Due: lint:python

fix: add missing SNS permissions to CodeBuild service role
  cfn/codebuild-projects-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

security: remove correlation_id from LaunchConfig logging
  lambda/index.py
Due: lint:python

security: remove all potentially sensitive logging from LaunchConfig operations
  lambda/index.py
Due: lint:python

feat: GitHub repository security and workflow configurations (#1)
  .github/BRANCH_PROTECTION_SETUP.md
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/workflows/security-checks.yml
  .github/workflows/security-scan.yml
  .pipeline-test
  README.md
  cfn/codebuild-projects-stack.yaml
  cfn/codecommit-stack.yaml
  cfn/frontend-stack.yaml
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
  lambda/bucket-cleaner/.!71183!index.py
  lambda/bucket-cleaner/index.py
  lambda/build_and_deploy.py
  lambda/index.py
  lambda/orchestration_stepfunctions.py
  mise.toml
  scripts/manage-user-roles.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix: resolve Black formatting in lambda/index.py after merge
  lambda/index.py
Due: lint:python

fix: resolve stack deletion issues
  cfn/codebuild-projects-stack.yaml
  cfn/frontend-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
