Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix(cfn): resolve SNS notification circular dependency and conditional export issues
  cfn/codepipeline-stack.yaml
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: Resolve YAML syntax error in CodePipeline stack
  cfn/codepipeline-stack.yaml
  lambda/notification-formatter.zip
Due: validate:cloudformation, validate:cloudformation-aws

fix: resolve SNS notification CloudFormation circular dependencies
  SNS_NOTIFICATION_DEPLOYMENT_READY.md
  SNS_NOTIFICATION_FIXES_SUMMARY.md
  cfn/lambda-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

feat: Complete security features integration
  SECURITY_IMPLEMENTATION_COMPLETE.md
  aws-config.json
  cfn/codepipeline-stack.yaml
  check_and_deploy.sh
  frontend/public/aws-config.local.json
  frontend/src/components/AccountManagementPanel.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/services/api.ts
  index-Ci4E6TmJ.css
  index-D-J4KXCZ.js
  scripts/sync-to-deployment-bucket.sh
  test_frontend_config.html
  vendor-aws-BhkJ__Aj.js
  vendor-cloudscape-B8XRFzRN.css
  vendor-cloudscape-CBST2QX0.js
  vendor-http-D7nWyeFT.js
  vendor-react-D2p37RnT.js
  working-lambda-reference/build_and_deploy.py
  working-lambda-reference/crhelper-2.0.11.dist-info/INSTALLER
  working-lambda-reference/crhelper-2.0.11.dist-info/LICENSE
  working-lambda-reference/crhelper-2.0.11.dist-info/METADATA
  working-lambda-reference/crhelper-2.0.11.dist-info/NOTICE
  working-lambda-reference/crhelper-2.0.11.dist-info/RECORD
  working-lambda-reference/crhelper-2.0.11.dist-info/REQUESTED
  working-lambda-reference/crhelper-2.0.11.dist-info/WHEEL
  working-lambda-reference/crhelper-2.0.11.dist-info/top_level.txt
  working-lambda-reference/crhelper/__init__.py
  working-lambda-reference/crhelper/__init__.pyi
  working-lambda-reference/crhelper/log_helper.py
  working-lambda-reference/crhelper/log_helper.pyi
  working-lambda-reference/crhelper/py.typed
  working-lambda-reference/crhelper/resource_helper.py
  working-lambda-reference/crhelper/resource_helper.pyi
  working-lambda-reference/crhelper/utils.py
  working-lambda-reference/crhelper/utils.pyi
  working-lambda-reference/index.py
  working-lambda-reference/rbac_middleware.py
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:frontend

fix: Adjust security validation limits for JWT tokens
  lambda/security_utils.py
Due: lint:python

feat: Complete security integration across all 7 Lambda functions
  SECURITY_INTEGRATION_COMPLETE.md
  lambda/build_and_deploy.py
  lambda/execution_registry.py
  lambda/notification-formatter/index.py
  lambda/poller/execution_finder.py
  lambda/poller/execution_poller.py
  lambda/tag_discovery.py
  scripts/sync-to-deployment-bucket.sh
Due: lint:python

feat: Update sync script for CI/CD pipeline coordination
  scripts/sync-to-deployment-bucket.sh
Due: none

fix: Apply Black code formatting to resolve pipeline validation failures
  lambda/build_and_deploy.py
  lambda/execution_registry.py
  lambda/index.py
  lambda/notification-formatter/index.py
  lambda/poller/execution_finder.py
  lambda/poller/execution_poller.py
  lambda/security_utils.py
  lambda/tag_discovery.py
Due: lint:python

fix: Update Black formatting to match CodeBuild version 25.12.0
  SECURITY_DEPLOYMENT_STATUS.md
  lambda/execution_registry.py
  lambda/index.py
  lambda/notification-formatter/index.py
  lambda/orchestration_stepfunctions.py
  lambda/poller/execution_finder.py
  lambda/poller/execution_poller.py
  lambda/security_utils.py
  lambda/tag_discovery.py
Due: lint:python

fix: Apply isort import sorting to all Lambda functions
  lambda/build_and_deploy.py
  lambda/execution_registry.py
  lambda/index.py
  lambda/notification-formatter/index.py
  lambda/poller/execution_finder.py
  lambda/poller/execution_poller.py
  lambda/security_utils.py
  lambda/tag_discovery.py
Due: lint:python

Fix CI/CD pipeline validation failures
  lambda/build_and_deploy.py
  lambda/execution_registry.py
  lambda/index.py
  lambda/notification-formatter/index.py
  lambda/poller/execution_finder.py
  lambda/poller/execution_poller.py
  lambda/security_utils.py
  lambda/tag_discovery.py
Due: lint:python
