Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: remove invalid status prop from CapacityGauge
  frontend/src/components/RegionalCapacitySection.tsx
Due: validate:frontend-types, lint:frontend

fix: accountCount should include all accounts not just target
  lambda/query-handler/index.py
Due: lint:python

fix: recovery capacity should count all replicating servers not just target
  lambda/query-handler/index.py
  tests/local/README.md
  tests/local/test_regional_capacity.py
Due: lint:python

fix: remove unused props from RegionalCapacitySection
  frontend/src/pages/Dashboard.tsx
Due: validate:frontend-types, lint:frontend

Add debug logging to diagnose Lambda invocation issue in orchestration
  lambda/dr-orchestration-stepfunction/index.py
  lambda/execution-handler/index.py
Due: lint:python

fix: cross-account externalId and KMS permissions for DRS recovery
  RECOVERY_CAPACITY_FIX_COMPLETE.md
  RECOVERY_CAPACITY_FRONTEND_FIX_COMPLETE.md
  STAGING_ACCOUNT_AUTO_EXTEND_FIX_COMPLETE.md
  STAGING_ACCOUNT_AUTO_EXTEND_RESTORATION.md
  cfn/api-gateway-deployment-stack.yaml
  cfn/api-gateway-infrastructure-methods-stack.yaml
  cfn/master-template.yaml
  docs/performance/DRS_CAPACITY_CACHING_PERFORMANCE_FIX.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CapacityDashboard.tsx
  frontend/src/components/RegionalCapacitySection.tsx
  frontend/src/components/__tests__/CapacityDashboard.test.tsx
  frontend/src/components/__tests__/TargetAccountSettingsModal.test.tsx
  frontend/src/components/__tests__/capacity-dashboard-refresh-property.test.tsx
  frontend/src/components/__tests__/staging-accounts-integration.test.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/api.ts
  lambda/data-management-handler/index.py
  lambda/execution-handler/index.py
  lambda/query-handler/index.py
  lambda/shared/conflict_detection.py
  lambda/shared/cross_account.py
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

chore: remove archive/ from git tracking (already in gitignore)
  archive/docs/SCRIPTS_TESTS_PUBLIC_EXPOSURE_COMPLETE.md
  archive/docs/SCRIPTS_TESTS_SECURITY_ANALYSIS.md
  archive/docs/SECURITY_FIXES_COMPLETE.md
Due: none

feat: Step Functions documentation, server name display fix, shared protection group detection
  CHANGELOG.md
  cfn/cross-account-role-stack.yaml
  frontend/src/components/StatusBadge.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/types/index.ts
  lambda/data-management-handler/index.py
  lambda/dr-orchestration-stepfunction/index.py
  lambda/execution-handler/index.py
  lambda/query-handler/index.py
  lambda/shared/conflict_detection.py
  pyproject.toml
  tests/unit/test_shared_protection_groups.py
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

security: remove sensitive data and update gitignore for public repo
  .github/workflows/ci.yml
  .gitignore
  cfn/cross-account-role-stack.yaml
  docs/guides/DRS_CROSS_ACCOUNT_KMS_SETUP.md
  lambda/data-management-handler/index.py
  lambda/dr-orchestration-stepfunction/index.py
  lambda/execution-handler/index.py
  lambda/shared/account_utils.py
  lambda/shared/launch_config_validation.py
  lambda/shared/staging_account_models.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

docs: update DEPLOYMENT_FLEXIBILITY_GUIDE with current Lambda names and remove internal references
  docs/guides/DEPLOYMENT_FLEXIBILITY_GUIDE.md
Due: none

docs: align data-management-handler docstring with dr-orchestration-stepfunction format
  lambda/data-management-handler/index.py
Due: lint:python

fix: update DRS_REGIONS to include all 28 supported AWS regions
  lambda/data-management-handler/index.py
Due: lint:python

refactor: centralize DRS_REGIONS in shared module for single-point updates
  lambda/data-management-handler/index.py
  lambda/query-handler/index.py
  lambda/shared/drs_regions.py
  tests/unit/test_multi_account_query_parallelism_property.py
Due: lint:python

style: black formatting for drs_regions.py
  lambda/shared/drs_regions.py
Due: lint:python

docs: remove customer references and temporal language from CloudFormation templates
  cfn/api-gateway-deployment-stack.yaml
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs: update CloudFormation stack descriptions to reflect current Lambda architecture
  cfn/eventbridge-stack.yaml
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs: standardize on 'State Ownership pattern' terminology across codebase
  cfn/master-template.yaml
  cfn/step-functions-stack.yaml
  lambda/dr-orchestration-stepfunction/index.py
  lambda/execution-handler/index.py
  lambda/query-handler/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

docs: add comprehensive comments to notification-stack.yaml
  cfn/notification-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs: add comprehensive comments to github-oidc-stack.yaml
  cfn/github-oidc-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs: add GitHub Actions OIDC setup instructions to github-oidc-stack.yaml
  cfn/github-oidc-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs: add comprehensive comments to frontend-stack.yaml
  cfn/frontend-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws
