Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

Complete Cognito configuration mismatch prevention system
  Makefile
  frontend/build.sh
  frontend/src/contexts/AccountContext.tsx
  frontend/src/services/api.ts
  lambda/api-handler.zip
  scripts/sync-to-deployment-bucket.sh
  scripts/update-frontend-config.sh
  test-account-creation.js
  test-create-account.py
Due: validate:frontend-types, lint:frontend

Complete target account deletion and dashboard guidance implementation
  frontend/src/components/AccountManagementPanel.tsx
  frontend/src/pages/Dashboard.tsx
  lambda/api-handler.zip
  lambda/index.py
Due: validate:frontend-types, lint:python, lint:frontend

Fix dashboard flashing and remove hardcoded account auto-selection
  frontend/src/contexts/AccountContext.tsx
  frontend/src/pages/Dashboard.tsx
Due: validate:frontend-types, lint:frontend

Fix "Get Started" button navigation to show account management
  frontend/src/pages/GettingStartedPage.tsx
Due: validate:frontend-types, lint:frontend

Fix dashboard not updating after adding account
  frontend/src/pages/GettingStartedPage.tsx
Due: validate:frontend-types, lint:frontend

Fix AccountContext useAuth hook destructuring
  frontend/src/contexts/AccountContext.tsx
Due: validate:frontend-types, lint:frontend

Improve Dashboard to show actual account information
  frontend/src/pages/Dashboard.tsx
Due: validate:frontend-types, lint:frontend

Restore complete DRS dashboard functionality
  frontend/src/pages/Dashboard.tsx
Due: validate:frontend-types, lint:frontend

feat: Multi-Account Prototype 1.0 - Enhanced DRS orchestration with account management
  check-lambda-logs.sh
  debug-tag-preview.js
  frontend/src/components/AccountManagementPanel.tsx
  frontend/src/components/AccountRequiredGuard.tsx
  frontend/src/components/AccountRequiredWrapper.tsx
  frontend/src/components/AccountSelector.tsx
  frontend/src/components/AccountSettingsIntegration.tsx
  frontend/src/components/ProtectionGroupDialog.tsx
  frontend/src/components/ServerListItem.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/contexts/AccountContext.tsx
  frontend/src/contexts/SettingsContext.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  lambda/api-handler.zip
  lambda/index.py
  test-enhanced-tag-query.py
Due: validate:frontend-types, lint:python, lint:frontend

feat: Multi-Account Prototype 1.0 - Enhanced DRS orchestration with account management
  .kiro/specs/account-enforcement.md
  check-lambda-logs.sh
  debug-tag-preview.js
  frontend/src/components/AccountManagementPanel.tsx
  frontend/src/components/AccountRequiredGuard.tsx
  frontend/src/components/AccountRequiredWrapper.tsx
  frontend/src/components/AccountSelector.tsx
  frontend/src/components/AccountSettingsIntegration.tsx
  frontend/src/components/ProtectionGroupDialog.tsx
  frontend/src/components/ServerListItem.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/contexts/AccountContext.tsx
  frontend/src/contexts/SettingsContext.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  lambda/api-handler.zip
  lambda/index.py
  test-enhanced-tag-query.py
Due: validate:frontend-types, lint:python, lint:frontend

docs: Update CHANGELOG.md with Multi-Account Prototype 1.0 release
  CHANGELOG.md
Due: none

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
