Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-only, deploy-lambda-only-dev, deploy-frontend-only-dev, deploy-cfn-only-dev, deploy-full-dev

docs-only:
  stage: deploy
  image: alpine:latest
  script:
  - echo "Documentation-only change — no deployment needed."

deploy-lambda-only-dev:
  stage: deploy
  image: python:3.12-slim
  resource_group: ${ENVIRONMENT}-deployment
  before_script:
  - apt-get update -qq && apt-get install -y -qq jq > /dev/null
  - pip install --quiet awscli boto3
  - export STACK_NAME="${PROJECT_NAME}-${ENVIRONMENT}"
  ...

deploy-frontend-only-dev:
  stage: deploy
  image: python:3.12-slim
  resource_group: ${ENVIRONMENT}-deployment
  before_script:
  - apt-get update -qq && apt-get install -y -qq jq > /dev/null
  - pip install --quiet awscli boto3
  - export STACK_NAME="${PROJECT_NAME}-${ENVIRONMENT}"
  ...

deploy-cfn-only-dev:
  stage: deploy
  image: python:3.12-slim
  resource_group: ${ENVIRONMENT}-deployment
  before_script:
  - apt-get update -qq && apt-get install -y -qq jq > /dev/null
  - pip install --quiet awscli boto3
  - export STACK_NAME="${PROJECT_NAME}-${ENVIRONMENT}"
  ...

deploy-full-dev:
  stage: deploy
  image: python:3.12-slim
  resource_group: ${ENVIRONMENT}-deployment
  before_script:
  - apt-get update -qq && apt-get install -y -qq jq > /dev/null
  - pip install --quiet awscli boto3
  - export STACK_NAME="${PROJECT_NAME}-${ENVIRONMENT}"
  ...

fix(frontend): remove corrupted process import from LaunchConfigSection
  frontend/src/components/LaunchConfigSection.tsx
Due: deploy-frontend-only-dev, deploy-full-dev

feat(deploy): enforce zero tolerance for security and quality issues
  scripts/deploy-main-stack.sh
Due: deploy-full-dev

fix(tests): resolve 13 failing unit tests across 4 test files
  .kiro/hooks/copyright-header-check.kiro.hook
  .kiro/hooks/copyright-pre-write.kiro.hook
  .pre-commit-config.yaml
  cfn/eventbridge/rules-stack.yaml
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  requirements-dev.txt
  scripts/deploy-main-stack.sh
  tests/unit/test_data_management_apply_launch_configs.py
  tests/unit/test_eventbridge_cfn_validation.py
  tests/unit/test_execution_handler_sync.py
  tests/unit/test_query_handler_poll_wave.py
  tests/unit/test_update_protection_group_launch_config_integration.py
Due: docs-only, deploy-frontend-only-dev, deploy-cfn-only-dev, deploy-full-dev

docs: update changelog and readme for copyright headers and Apache 2.0 license
  CHANGELOG.md
  README.md
Due: docs-only

feat: inventory query performance fix - GSI-based queries replace table scans
  .kiro/hooks/copyright-pre-write.kiro.hook
  cfn/dynamodb/tables-stack.yaml
  lambda/query-handler/index.py
  lambda/shared/inventory_query.py
  tests/unit/test_inventory_deduplication.py
  tests/unit/test_inventory_query_gsi_unit.py
  tests/unit/test_inventory_query_unit.py
Due: docs-only, deploy-lambda-only-dev, deploy-cfn-only-dev, deploy-full-dev

fix(deploy): fix Lambda code deployment and inventory data enrichment
  cfn/main-stack.yaml
  frontend/package-lock.json
  lambda/data-management-handler/index.py
  lambda/query-handler/index.py
  scripts/deploy-main-stack.sh
Due: deploy-lambda-only-dev, deploy-frontend-only-dev, deploy-cfn-only-dev, deploy-full-dev

fix(frontend): close protection group dialog after creation
  frontend/src/components/ProtectionGroupDialog.tsx
Due: deploy-frontend-only-dev, deploy-full-dev

fix(frontend): close dialog before triggering save callback
  frontend/src/components/ProtectionGroupDialog.tsx
Due: deploy-frontend-only-dev, deploy-full-dev

fix(execution): tag-based server resolution, DRS timeout, and sort fix
  lambda/data-management-handler/index.py
  lambda/execution-handler/index.py
  lambda/shared/cross_account.py
Due: deploy-lambda-only-dev, deploy-full-dev

fix(execution): wave execution error propagation and test updates
  lambda/execution-handler/index.py
  tests/unit/test_execution_handler_start_wave.py
  tests/unit/test_execution_handler_wave_optimization.py
  tests/unit/test_wave_execution_error_propagation.py
Due: deploy-lambda-only-dev, deploy-full-dev

chore(kiro): add codebase cleanup hooks
  .kiro/hooks/cleanup-validator.yaml
  .kiro/hooks/post-cleanup-summary.yaml
Due: docs-only

style(execution-handler): wrap long lines for PEP 8 compliance
  lambda/execution-handler/index.py
Due: deploy-lambda-only-dev, deploy-full-dev

chore(cleanup): remove dead code — stale test backups and unused stub
  frontend/src/components/__tests__/ConfigImportPanel.integration.tests.tsx.bak
  frontend/src/components/__tests__/ConfigImportPanel.integration.tests.tsx.complex
  frontend/src/components/__tests__/ServerConfigBadge.tests.tsx.complex
  frontend/src/components/__tests__/ServerConfigurationTab.tests.tsx.complex
  lambda/shared/security_utils.py
Due: deploy-lambda-only-dev, deploy-frontend-only-dev, deploy-full-dev

refactor(cleanup): consolidate types and strengthen type safety
  frontend/src/components/AccountManagementPanel.tsx
  frontend/src/components/ConfigExportPanel.tsx
  frontend/src/components/ConfigImportPanel.tsx
  frontend/src/components/ImportResultsDialog.tsx
  frontend/src/components/InvocationSourceBadge.tsx
  frontend/src/components/TargetAccountSettingsModal.tsx
  frontend/src/components/WaveProgress.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/types/index.ts
Due: deploy-frontend-only-dev, deploy-full-dev

refactor(cleanup): add DynamoDB table factory and fix error handling
  lambda/data-management-handler/index.py
  lambda/drs-agent-deployer/index.py
  lambda/query-handler/index.py
  lambda/shared/dynamodb_tables.py
Due: deploy-lambda-only-dev, deploy-full-dev

chore: remove .kiro/steering files
  .kiro/steering/aws-stack-protection.md
  .kiro/steering/cicd-workflow-enforcement.md
  .kiro/steering/cloudscape-design-practices.md
  .kiro/steering/collaboration-workflow.md
  .kiro/steering/development-principles.md
  .kiro/steering/drs-security-matrix.md
  .kiro/steering/generic-secure-coding.md
  .kiro/steering/opensource-licenses/open-source-licenses-approved.md
  .kiro/steering/opensource-licenses/open-source-licenses-prohibited.md
  .kiro/steering/secure-coding-guidelines.md
  .kiro/steering/version-control.md
  .kiro/steering/well-architected/wellarchitected-devops-guidance.md
  .kiro/steering/well-architected/wellarchitected-hybrid-networking-lens.md
  .kiro/steering/well-architected/wellarchitected-migration-lens.md
  .kiro/steering/well-architected/wellarchitected-serverless-applications-lens.md
Due: docs-only

chore(dead-code): remove unused frontend files
  frontend/src/aws-config.ts
  frontend/src/components/AccountRequiredGuard.tsx
  frontend/src/components/CompactCapacitySummary.tsx
  frontend/src/components/DRSQuotaStatus.tsx
  frontend/src/components/DataTableSkeleton.tsx
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/hooks/usePermissionCheck.ts
  frontend/src/pages/ExecutionDetailsPageMinimal.tsx
  frontend/src/types/drs-agent-deployment.ts
  frontend/src/utils/roleUtils.ts
  frontend/vite-plugin-inject-config.ts
  frontend/vitest.skip-integration.config.ts
Due: deploy-frontend-only-dev, deploy-full-dev

chore(dead-code): remove unused old_state parameter in notify helper
  lambda/dr-orchestration-stepfunction/index.py
Due: deploy-lambda-only-dev, deploy-full-dev

chore(slop): remove unused props from CardSkeleton
  frontend/src/components/CardSkeleton.tsx
  frontend/src/pages/ExecutionsPage.tsx
Due: deploy-frontend-only-dev, deploy-full-dev

chore(slop): simplify LoadingState to remove dead branches
  frontend/src/components/LoadingState.tsx
Due: deploy-frontend-only-dev, deploy-full-dev

refactor(types): consolidate TargetAccount into canonical types module
  frontend/src/components/AccountManagementPanel.tsx
  frontend/src/components/__tests__/TargetAccountSettingsModal.test.tsx
  frontend/src/contexts/AccountContext.tsx
  frontend/src/types/index.ts
  frontend/src/types/staging-accounts.ts
Due: deploy-frontend-only-dev, deploy-full-dev

refactor(types): remove orphaned type definitions
  frontend/src/types/index.ts
Due: deploy-frontend-only-dev, deploy-full-dev

Path conditions:
  docs-only: any of: docs/**/*, *.md, .kiro/**/*
  deploy-lambda-only-dev: any of: lambda/**/*, package_lambda.py
  deploy-frontend-only-dev: any of: frontend/**/*
  deploy-cfn-only-dev: any of: cfn/**/*
  deploy-full-dev: (any of: lambda/**/*, cfn/**/*) or ((any of: lambda/**/*, frontend/**/*) or ((any of: cfn/**/*, frontend/**/*) or (any of: scripts/**/*, package_lambda.py, pyproject.toml, requirements*.txt)))
