Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

feat: Change WaveId from 0-based to 1-based indexing
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  frontend/src/components/RecoveryPlanDialog.tsx
  lambda/api-handler.zip
  lambda/index.py
  scripts/comprehensive_api_test.py
Due: validate:frontend-types, lint:python, lint:frontend

feat: Export uses ProtectionGroupName instead of ID
  lambda/index.py
Due: lint:python

Export uses ProtectionGroupName instead of ProtectionGroupId
  lambda/api-handler.zip
  lambda/index.py
Due: lint:python

Add minimum import example to API docs
  docs/guides/ORCHESTRATION_INTEGRATION_GUIDE.md
Due: none

Update changelog for v1.6.1 export/import improvements
  CHANGELOG.md
Due: none

Update README with export/import portability improvements
  README.md
Due: none

Fix changelog dates to December 13
  CHANGELOG.md
Due: none

Consolidate December 13 changelog entries under single header
  CHANGELOG.md
Due: none

Preserve Recovery Plan name in execution history
  docs/presentations/Executive-Summary-Dec13-2025.md
  lambda/index.py
Due: lint:python

Update changelog for v1.6.1
  CHANGELOG.md
Due: none

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
