Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

docs: add comprehensive comments to frontend-stack.yaml
  cfn/frontend-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs: add frontend update and bucket cleaner documentation
  cfn/frontend-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs: add comprehensive comments to eventbridge-stack.yaml
  cfn/eventbridge-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs: add comprehensive comments to drs-agent-installer-stack.yaml
  cfn/drs-agent-installer-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs: add AWS managed document comparison to DRS agent installer stack
  cfn/drs-agent-installer-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs(cfn): add comprehensive comments to CloudFormation templates
  cfn/api-auth-stack.yaml
  cfn/api-gateway-core-methods-stack.yaml
  cfn/api-gateway-core-stack.yaml
  cfn/api-gateway-deployment-stack.yaml
  cfn/api-gateway-infrastructure-methods-stack.yaml
  cfn/api-gateway-operations-methods-stack.yaml
  cfn/api-gateway-resources-stack.yaml
  cfn/cross-account-role-stack.yaml
  cfn/database-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

docs(readme): update README.md for codebase alignment
  README.md
Due: none

feat(steering): add Kiro steering files for development standards
  .gitignore
  .kiro/steering/aws-best-practices.md
  .kiro/steering/aws-stack-protection.md
  .kiro/steering/cicd-workflow-enforcement.md
  .kiro/steering/cloudscape-design-practices.md
  .kiro/steering/collaboration-workflow.md
  .kiro/steering/development-principles.md
  .kiro/steering/drs-security-matrix.md
  .kiro/steering/generic-secure-coding.md
  .kiro/steering/opensource-licenses/open-source-licenses-approved.md
  .kiro/steering/opensource-licenses/open-source-licenses-prohibited.md
  .kiro/steering/secure-coding-guidelines.md
  .kiro/steering/version-control.md
  .kiro/steering/well-architected/wellarchitected-devops-guidance.md
  .kiro/steering/well-architected/wellarchitected-hybrid-networking-lens.md
  .kiro/steering/well-architected/wellarchitected-migration-lens.md
  .kiro/steering/well-architected/wellarchitected-serverless-applications-lens.md
Due: none

feat: add WAF protection, API logging, and deployment improvements
  .gitallowed
  CHANGELOG.md
  README.md
  cfn/api-gateway-deployment-stack.yaml
  cfn/frontend-stack.yaml
  cfn/github-oidc-stack.yaml
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
  cfn/notification-stack.yaml
  cfn/waf-stack.yaml
  lambda/query-handler/index.py
  requirements-dev.txt
  scripts/deploy.sh
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

docs: add comprehensive documentation to waf-stack.yaml and update README security section
  README.md
  cfn/waf-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix(tag-sync): increase Lambda timeout to 15 minutes for large tag sync operations
  cfn/lambda-stack.yaml
  lambda/data-management-handler/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix(frontend): resolve auto-refresh stopping when tag sync clicked
  frontend/src/pages/Dashboard.tsx
Due: validate:frontend-types, lint:frontend

fix(frontend): properly fix auto-refresh stopping on tag sync
  frontend/src/pages/Dashboard.tsx
Due: validate:frontend-types, lint:frontend

fix(frontend): fix Sync Tags button staying greyed out after sync
  frontend/src/pages/Dashboard.tsx
Due: validate:frontend-types, lint:frontend

fix(query-handler): populate DRS service capacity metrics with actual job data
  lambda/query-handler/index.py
Due: lint:python

style: apply black formatting to query-handler
  lambda/query-handler/index.py
Due: lint:python

fix(query-handler): enrich server EC2 details when wave completes
  lambda/query-handler/index.py
Due: lint:python

test(query-handler): update poll_wave tests for dual Lambda invocations
  tests/unit/test_query_handler_poll_wave.py
Due: none

fix(execution-handler): use target account credentials for DRS job polling
  lambda/execution-handler/index.py
Due: lint:python

fix(execution-handler): update wave status to COMPLETED when Step Functions succeeds
  lambda/execution-handler/index.py
Due: lint:python

fix(execution): add cross-account support for recovery instance detection
  lambda/execution-handler/index.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
