Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

Fix AWSM-1100: Add conditional validation for dr:priority/dr:wave (v1.3)
  docs/confluence/AWSM-1100_Tag_Validation_Implementation.md
Due: none

Fix ServerListItem layout: FQDN without label, 2x width for clean display
  frontend/src/components/ServerListItem.tsx
  frontend/src/components/ServerListItemTest.tsx
Due: validate:frontend-types, lint:frontend

feat: DRS Tag Sync Prototype with 28-Region Support + Hardware Display Enhancement
  README.md
  cfn/api-stack.yaml
  cfn/frontend-stack.yaml
  cfn/master-template.yaml
  frontend/src/components/ServerDebugInfo.tsx
  frontend/src/components/ServerDiscoveryPanel.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  lambda/drs_tag_sync.py
  lambda/index.py
  scripts/sync-to-deployment-bucket.sh
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Fix: Consolidate account management to single API endpoint
  frontend/src/components/AccountManagementPanel.tsx
  frontend/src/contexts/AccountContext.tsx
  frontend/src/services/api.ts
  frontend/src/services/drsQuotaService.ts
Due: validate:frontend-types, lint:frontend

✅ FINAL: Complete multi-account dashboard implementation
  .kiro/settings/mcp.json
  CHANGELOG.md
  accounts-response.json
  cfn/api-stack.yaml
  docs/screenshots/01-login.png
  drs-accounts-response.json
  drs-quotas-response.json
  frontend/public/aws-config.json
  frontend/src/components/RegionSelector.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/contexts/AccountContext.tsx
  frontend/src/pages/Dashboard.tsx
  lambda/index.py
  quotas-response.json
  response-west.json
  scripts/sync-to-deployment-bucket.sh
  test-accounts.json
  test-api.json
  test-drs-accounts.json
  test-drs-quotas-west.json
  test-event.json
  test-payload.json
  test-quotas.json
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

✅ FINAL: Complete multi-account dashboard implementation
  CHANGELOG.md
  accounts-response.json
  cfn/api-stack.yaml
  docs/screenshots/01-login.png
  drs-accounts-response.json
  drs-quotas-response.json
  frontend/public/aws-config.json
  frontend/src/components/RegionSelector.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/contexts/AccountContext.tsx
  frontend/src/pages/Dashboard.tsx
  lambda/index.py
  quotas-response.json
  response-west.json
  scripts/sync-to-deployment-bucket.sh
  test-accounts.json
  test-api.json
  test-drs-accounts.json
  test-drs-quotas-west.json
  test-event.json
  test-payload.json
  test-quotas.json
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Fix CORS error for /accounts/targets endpoint
  .codedefender
Due: none

Support shared services account deployment pattern
  aws-config.json
  frontend/src/components/AccountManagementPanel.tsx
  lambda/index.py
Due: validate:frontend-types, lint:python, lint:frontend

Fix account creation without cross-account role ARN
  frontend/public/aws-config.json
Due: validate:frontend-types, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
