Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

feat: standardize repository naming and deployment configuration
  .env.deployment.template
  .gitlab-ci.yml
  Makefile
  PYTHON_STANDARDS_COMPLETE.md
  README.md
  baseline_violations_report.txt
  cfn/master-template.yaml
  docs/guides/CICD_PIPELINE_GUIDE.md
  flake8_detailed_report.txt
  pyproject.toml
  scripts/add-current-account.py
  scripts/deploy-cross-account-role.sh
  scripts/deploy-prod-stack.sh
  scripts/deploy-rbac-stack.sh
  scripts/fix-cognito-stack.sh
  scripts/sync-to-deployment-bucket.sh
  scripts/validate-deployment-config.sh
  violation_analysis.json
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

fix: Fix broken table of contents links in CI/CD Setup Guide
  docs/deployment/CICD_SETUP_GUIDE.md
Due: none

fix: Replace broken table of contents links with numbered list
  docs/deployment/CICD_SETUP_GUIDE.md
Due: none

fix(cfn): correct SecurityStack output conditions in master template
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

feat: activate CI/CD pipeline with complete codebase
  buildspecs/build-buildspec.yml
  buildspecs/deploy-frontend-buildspec.yml
  buildspecs/deploy-infra-buildspec.yml
  buildspecs/validate-buildspec.yml
  cfn/codebuild-projects-stack.yaml
  cfn/codecommit-stack.yaml
  cfn/codepipeline-stack.yaml
  cfn/lambda-stack.yaml
  cfn/security-stack.yaml
  docs/deployment/ACTIVATE_CICD_GUIDE.md
  docs/deployment/FRESH_DEPLOYMENT_GUIDE.md
  frontend/public/aws-config.json
  scripts/cleanup-failed-deployment.sh
  scripts/create-test-user.sh
  scripts/fresh-deployment-setup.sh
  scripts/validate-fresh-deployment.sh
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:frontend

fix: resolve YAML syntax errors in all buildspec files
  buildspecs/build-buildspec.yml
  buildspecs/deploy-frontend-buildspec.yml
  buildspecs/deploy-infra-buildspec.yml
Due: none

fix: Remove inline comments from buildspec YAML files causing pipeline errors
  buildspecs/build-buildspec.yml
  buildspecs/deploy-frontend-buildspec.yml
  buildspecs/deploy-infra-buildspec.yml
  buildspecs/validate-buildspec.yml
Due: none

fix: Rewrite validate-buildspec.yml with proper YAML syntax
  buildspecs/validate-buildspec.yml
Due: none

fix: Remove unnecessary Fn::Sub from codepipeline-stack.yaml
  cfn/codepipeline-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: Update GitLab CI/CD user permissions and fix buildspec YAML syntax
  buildspecs/test-buildspec.yml
  buildspecs/validate-buildspec.yml
Due: none

fix: Resolve Black code formatting validation in CI/CD pipeline
  buildspecs/validate-buildspec.yml
Due: none
