Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

CRITICAL FIX: InstancesTerminated flag timing issue
  CHANGELOG.md
  EXECUTION_DETAILS_IMPLEMENTATION_PLAN.md
  ExecutionDetailsPage_fresh.tsx
  apply_fixes.js
  clean_execution_details_backup.tsx
  fix_execution_details.js
  frontend/src/pages/ExecutionDetailsPage_clean.tsx
  lambda/api-handler.zip
  lambda/index.py
Due: validate:frontend-types, lint:python, lint:frontend

Fix terminate instances cross-account support
  CHANGELOG.md
  frontend/src/pages/ExecutionDetailsPage.tsx
  lambda/api-handler.zip
  lambda/index.py
Due: validate:frontend-types, lint:python, lint:frontend

feat: Remove frontend debugging console.log statements
  CHANGELOG.md
  frontend/src/aws-config.ts
  frontend/src/components/AccountSettingsIntegration.tsx
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/components/ServerDebugInfo.tsx
  frontend/src/components/ServerListItemTest.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/pages/ExecutionDetailsPage_clean.tsx
  frontend/src/services/api.ts
  frontend/vite-plugin-inject-config.ts
Due: validate:frontend-types, lint:frontend

History Page Enhancements and Critical Bug Fixes
  CHANGELOG.md
  cfn/api-stack.yaml
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/services/api.ts
  lambda/index.py
  lambda/poller/execution_poller.py
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

History Page Date Filtering System - December 30, 2025
  CHANGELOG.md
  README.md
  frontend/src/pages/ExecutionsPage.tsx
Due: validate:frontend-types, lint:frontend

refactor: Update version language from Production Ready to MVP Drill Only Prototype
  CHANGELOG.md
  README.md
  docs/guides/DEPLOYMENT_SUCCESS_SUMMARY.md
  docs/guides/DEVELOPMENT_WORKFLOW_GUIDE.md
  docs/guides/TESTING_AND_QUALITY_ASSURANCE.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_COMPONENT_LIBRARY.md
  docs/requirements/UX_PAGE_SPECIFICATIONS.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
  docs/requirements/UX_VISUAL_DESIGN_SYSTEM.md
Due: none

refactor: Update version language from Production Ready to MVP Drill Only Prototype
  .amazonq/rules/kiro-steering-alignment.md
  .kiro/steering/cicd.md
  CHANGELOG.md
  README.md
  docs/guides/DEPLOYMENT_SUCCESS_SUMMARY.md
  docs/guides/DEVELOPMENT_WORKFLOW_GUIDE.md
  docs/guides/TESTING_AND_QUALITY_ASSURANCE.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_COMPONENT_LIBRARY.md
  docs/requirements/UX_PAGE_SPECIFICATIONS.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
  docs/requirements/UX_VISUAL_DESIGN_SYSTEM.md
Due: none

docs: Reorganize CHANGELOG.md by date with git commit hashes
  CHANGELOG.md
Due: none

docs: Update requirements documents to reflect current implementation
  CHANGELOG.md
  README.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
Due: none
