Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: recovery plan creation success message showing 'undefined'
  lambda/api-handler/index.py
Due: lint:python

debug: add logging and fallback for recovery plan name undefined issue
  frontend/src/pages/RecoveryPlansPage.tsx
Due: validate:frontend-types, lint:frontend

cleanup: remove debugging code from recovery plan success message
  frontend/src/pages/RecoveryPlansPage.tsx
Due: validate:frontend-types, lint:frontend

fix: restore execution polling system to working state
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: correct execution polling system based on git history analysis
  lambda/execution-finder/index.py
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: restore execution polling system - add missing status change to POLLING
  lambda/execution-finder/index.py
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: restore critical reconcile_wave_status_with_drs function to fix execution polling system
  lambda/api-handler/index.py
Due: lint:python

fix: reconcile function case sensitivity issue - wave status 'unknown' vs 'UNKNOWN'
  lambda/api-handler/index.py
Due: lint:python

fix: restore original reconcile function logic to match working git history
  lambda/api-handler/index.py
Due: lint:python

fix: execution-poller region case sensitivity - use 'Region' not 'region'
  lambda/execution-poller/index.py
Due: lint:python

feat: implement enhanced DRS status display and fix timeout configuration
  SYSTEMATIC_COMMIT_ANALYSIS.md
  cfn/lambda-stack.yaml
  commit_list.txt
  diagnose_execution.py
  diagnose_execution_detailed.py
  execution_analysis.py
  fix_stuck_execution.py
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/components/WaveProgress.tsx
  frontend/src/types/index.ts
  lambda/api-handler/index.py
  lambda/execution-poller/index.py
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend
