Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix(cancel-execution): fix cancel functionality based on archive solution analysis
  lambda/api-handler/index.py
Due: lint:python

fix: analyze archive DRS data capture and create population script
  scripts/populate-drs-data.py
Due: none

fix: correct cancelled execution filtering logic in ExecutionsPage
  frontend/src/pages/ExecutionsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: improve deployment scope script to detect staged changes
  scripts/check-deployment-scope.sh
Due: none

fix: resolve DRS ConflictException with enhanced retry logic and error handling
  cfn/step-functions-stack-fixed.yaml
  lambda/api-handler/index.py
  lambda/orchestration-stepfunctions/index.py
  scripts/cleanup-drs-conflicts.py
  scripts/fix-execution-system.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix: revert to simple Map state pattern to resolve ConflictException
  cfn/step-functions-stack.yaml
  lambda/orchestration-stepfunctions/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix: add missing constants and helper functions to orchestration Lambda
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: restore working callback pattern for pause/resume functionality
  cfn/step-functions-stack.yaml
  lambda/orchestration-stepfunctions/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix: restore Step Functions execution for pause/resume functionality
  docs/implementation/DRS_ALLOW_LAUNCHING_INTO_THIS_INSTANCE_RESEARCH.md
  docs/implementation/DRS_REPLICATION_SETTINGS_MANAGEMENT.md
  lambda/api-handler/index.py
Due: lint:python

fix: add Step Functions callback integration to execution poller
  lambda/execution-poller/index.py
Due: lint:python

fix: restore dual pattern - async worker + Step Functions
  lambda/api-handler/index.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
