Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: force Lambda code update by incrementing build version
  lambda/api-handler/index.py
Due: lint:python

fix: correct API response field mapping for frontend compatibility
  lambda/api-handler/index.py
Due: lint:python

docs: update tracking document with successful camelCase migration completion
  CAMELCASE_MIGRATION_TRACKING.md
Due: none

fix: trigger GitHub Actions deployment for field mapping fix
  lambda/api-handler/index.py
Due: lint:python

fix(frontend): update field mapping for camelCase API responses
  CAMELCASE_MIGRATION_TRACKING.md
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/types/index.ts
  scripts/migrate-existing-data-to-camelcase.py
Due: validate:frontend-types, lint:frontend

fix(api): complete camelCase migration - remove all field mapping transformations
  lambda/api-handler/index.py
Due: lint:python

fix: remove sensitive ARN from documentation
  docs/implementation/DRS_SOURCE_SERVER_MANAGEMENT.md
Due: none

fix: trigger Lambda deployment for camelCase API changes
  lambda/api-handler/index.py
Due: lint:python

fix(frontend): resolve TypeScript errors from camelCase field mapping
  frontend/src/components/ProtectionGroupDialog.tsx
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/components/WaveConfigEditor.tsx
Due: validate:frontend-types, lint:frontend

fix: complete camelCase migration - simple approach
  frontend/src/components/ProtectionGroupDialog.tsx
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/components/WaveConfigEditor.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/types/index.ts
  lambda/api-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: add backward compatibility aliases for protectionGroupId and name
  CAMELCASE_MIGRATION_TRACKING.md
  frontend/src/types/index.ts
  lambda/api-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: update ProtectionGroupsPage column definition for camelCase consistency
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/types/index.ts
  lambda/api-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: correct AWS API field references to PascalCase
  lambda/api-handler/index.py
Due: lint:python

fix: update camelCase validation script to exclude AWS API field references
  scripts/validate-camelcase-consistency.sh
Due: none

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
