Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: remove debug console logs from ExecutionDetailsPage
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

fix: resolve server status truncation showing 'STAR' instead of 'Started'
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix: separate Servers and DRS Job Events into independent expandable sections
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix: improve wave status mapping for DRS job progression
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

fix: ensure consistent server status icons when wave is completed
  frontend/src/components/WaveProgress.tsx
Due: validate:frontend-types, lint:frontend

docs: update CHANGELOG and README for v1.3.0 enhanced wave progress UI
  CHANGELOG.md
  README.md
Due: none

chore: enhance .gitignore to ensure complete history directory exclusion
  .gitignore
Due: none

chore: enhance .gitignore to ensure complete history directory exclusion
  .gitignore
  .kiro/steering/STEERING_UPDATES_SUMMARY.md
  .kiro/steering/project-context.md
  .kiro/steering/qa-stack-fix-focus.md
  .kiro/steering/security-scan-automation.md
Due: none

docs: add comprehensive Lambda security implementation documentation
  LAMBDA_SECURITY_IMPLEMENTATION_SUMMARY.md
  lambda-compliance-analysis.md
  lambda-security-implementation-plan.md
  scripts/emergency-rollback.sh
  scripts/validate-system-health.sh
Due: none

docs: add comprehensive Lambda security implementation documentation
  .amazonq/rules/amazonq-project-context.md
  LAMBDA_SECURITY_IMPLEMENTATION_SUMMARY.md
  lambda-compliance-analysis.md
  lambda-security-implementation-plan.md
  scripts/emergency-rollback.sh
  scripts/validate-system-health.sh
Due: none

feat: implement comprehensive Lambda security compliance
  lambda/execution-finder/index.py
  lambda/execution-poller/index.py
  lambda/frontend-builder/index.py
  lambda/notification-formatter/index.py
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

feat(security): complete orchestration-stepfunctions security implementation
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix(security): preserve data types in sanitize_dynamodb_input to fix wave progress
  lambda/shared/security_utils.py
Due: lint:python

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
