Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

docs: Update changelog with commit hash, mark Dual Mode Orchestration in progress
  CHANGELOG.md
  README.md
Due: none

docs: Mark Dual Mode Orchestration as complete in README and CHANGELOG
  CHANGELOG.md
  README.md
  frontend/src/components/InvocationSourceBadge.tsx
Due: validate:frontend-types, lint:frontend

feat: Dual Mode Orchestration with Tag-Based and Command Line Support
  .git_commit_msg.txt
  cfn/api-stack.yaml
  cfn/eventbridge-stack.yaml
  docs/ARCHIVE_ANALYSIS.md
  docs/DRS_MODULAR_ORCHESTRATION_DESIGN.md
  docs/HRP_DR_RPO_RTO_Analysis.md
  docs/PROJECT_DEVELOPMENT_SUMMARY.md
  docs/PROJECT_STATUS.md
  docs/YEARLY_REVIEW_STAR_ACCOMPLISHMENT.md
  docs/YEARLY_REVIEW_STAR_ACCOMPLISHMENT_CONCISE.md
  docs/implementation/DUAL_MODE_ORCHESTRATION_DESIGN.md
  docs/presentations/AWS_DRS_Orchestration_Executive_Prototype_Summary.docx
  docs/presentations/AWS_DRS_Orchestration_Executive_Prototype_Summary.pdf
  docs/presentations/AWS_DRS_Orchestration_Solution_EDITABLE.pptx
  docs/presentations/AWS_DRS_Orchestration_Solution_PowerpointPreso.pdf
  docs/presentations/AWS_DRS_Orchestration_Solution_PowerpointPreso.pptx
  docs/presentations/DR_SOLUTIONS_SALES_BATTLECARD.md
  docs/presentations/DR_SOLUTIONS_SALES_BATTLECARD.pdf
  frontend/src/components/InvocationSourceBadge.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/types/index.ts
  lambda/execution_registry.py
  lambda/index.py
  lambda/tag_discovery.py
  scripts/confluence_unified_exporter.py
  scripts/createADConnectorAcctAndGroupinAD.sh
  scripts/createADConnectorInAWS.sh
  scripts/create_aws_branded_pptx.py
  scripts/create_aws_markdown_template.py
  scripts/deploy-ad-connector-complete.sh
  scripts/markdown_to_docx_converter.py
  scripts/sync-to-deployment-bucket.sh
  ssm-documents/drs-orchestration-runbook.yaml
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

chore: remove temp commit message file
  .git_commit_msg.txt
Due: none

Improve error handling and validation in Lambda API
  docs/guides/ORCHESTRATION_INTEGRATION_GUIDE.md
  lambda/index.py
Due: lint:python

feat: Comprehensive API testing, optimistic locking, and auto-refresh
  CHANGELOG.md
  README.md
  docs/research/DRS_LAUNCH_TEMPLATE_SETTINGS_RESEARCH.md
  frontend/src/components/ProtectionGroupDialog.tsx
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  lambda/index.py
  scripts/comprehensive_api_test.py
  scripts/test_api_errors.py
Due: validate:frontend-types, lint:python, lint:frontend

feat: Comprehensive API testing, optimistic locking, and auto-refresh
  .kiro/steering/docs-index.md
  CHANGELOG.md
  README.md
  docs/research/DRS_LAUNCH_TEMPLATE_SETTINGS_RESEARCH.md
  frontend/src/components/ProtectionGroupDialog.tsx
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  lambda/index.py
  scripts/comprehensive_api_test.py
  scripts/test_api_errors.py
Due: validate:frontend-types, lint:python, lint:frontend

docs: Update ORCHESTRATION_INTEGRATION_GUIDE for new API features
  docs/guides/ORCHESTRATION_INTEGRATION_GUIDE.md
Due: none

docs: Add missing API endpoints and integration guide link to README
  README.md
Due: none

fix: Prevent double-click on Resume Execution button
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend

style: Apply autofix whitespace changes to integration guide
  docs/guides/ORCHESTRATION_INTEGRATION_GUIDE.md
Due: none

docs: Add EC2 Launch Template MVP v2 - DynamoDB-based configuration
  README.md
  docs/implementation/EC2_LAUNCH_TEMPLATE_MVP_PLAN.md
  docs/implementation/EC2_LAUNCH_TEMPLATE_MVP_PLAN_V2.md
  docs/research/DRS_CONFIGURATION_SYNCHRONIZER_ANALYSIS.md
  docs/research/DRS_LAUNCH_TEMPLATE_SETTINGS_RESEARCH.md
  docs/research/DRS_TEMPLATE_MANAGER_ANALYSIS.md
Due: none
