Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

docs: consolidate CI/CD documentation into single comprehensive guide
  README.md
  docs/CI_CD_PLATFORM_SELECTION.md
  docs/guides/CICD_PIPELINE_GUIDE.md
  docs/guides/deployment/ACTIVATE_CICD_GUIDE.md
  docs/guides/deployment/CICD_SETUP_GUIDE.md
  docs/guides/deployment/FRESH_DEPLOYMENT_GUIDE.md
  docs/guides/deployment/GITHUB_ACTIONS_CICD_GUIDE.md
  docs/guides/deployment/GITHUB_ACTIONS_SETUP_GUIDE.md
  docs/implementation/INFRASTRUCTURE_IMPROVEMENTS.md
  docs/security/CODE_SECURITY_REVIEW.md
  docs/security/SECURITY_IMPLEMENTATION_PLAN.md
Due: none

fix: resolve duplicate startInactivityTimer function declaration
  frontend/src/contexts/AuthContext.tsx
Due: validate:frontend-types, lint:frontend

chore: update security tool versions to latest
  .github/workflows/deploy.yml
  README.md
  docs/guides/deployment/GITHUB_ACTIONS_CICD_GUIDE.md
Due: none

chore: update security tool versions to latest
  .github/workflows/deploy.yml
  .kiro/specs/fresh-deployment/security-compliance-specification.md
  README.md
  docs/guides/deployment/GITHUB_ACTIONS_CICD_GUIDE.md
Due: none

feat: add automated security scan trigger rule
  .kiro/steering/security-scan-automation.md
Due: none

fix: add stack status check to prevent deployment conflicts
  .github/workflows/deploy.yml
Due: none

perf: optimize "Run Drill" performance with backend and frontend improvements
  frontend/src/pages/RecoveryPlansPage.tsx
  lambda/api-handler/index.py
  reports/security/security-summary.json
  security-reports/SECURITY_ASSESSMENT_REPORT.md
  security-reports/bandit-report.json
  security-reports/bandit-summary.txt
  security-reports/cfn-lint-report.json
  security-reports/safety-report-updated.json
  security-reports/safety-report.json
  security-reports/semgrep-report.json
Due: validate:frontend-types, lint:python, lint:frontend

fix: restore EC2 instance details in existing instances check
  lambda/api-handler/index.py
Due: lint:python

feat: improve existing instances dialog UX and performance
  frontend/src/pages/RecoveryPlansPage.tsx
  lambda/api-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

docs: update README and CHANGELOG for v1.4.2 performance release
  CHANGELOG.md
  README.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
Due: none

fix: hide Terminate Instances button when waves are actively running
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: validate:frontend-types, lint:frontend
