Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

validate:cloudformation:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  before_script:
  - pip install cfn-lint==1.42.0
  script:
  - echo "Validating CloudFormation templates with cfn-lint..."
  - cfn-lint --config-file .cfnlintrc.yaml cfn/*.yaml
  ...

validate:cloudformation-aws:
  stage: validate
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  allow_failure: true
  before_script:
  - pip install awscli
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  ...

validate:frontend-types:
  stage: validate
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running TypeScript type checking..."
  - npx tsc --noEmit
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

lint:python:
  stage: lint
  image: public.ecr.aws/docker/library/python:${PYTHON_VERSION}
  retry: 2
  script:
  - pip install pylint black flake8
  - echo "Linting Lambda functions..."
  ...

lint:frontend:
  stage: lint
  image: public.ecr.aws/docker/library/node:${NODE_VERSION}-alpine
  script:
  - cd frontend
  - npm ci --prefer-offline
  - echo "Running ESLint..."
  - npm run lint || true
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
    - frontend/node_modules/

fix: resolve orchestration execution stuck in polling status
  DEEP_ANALYSIS_WORKING_ARCHIVE.md
  ORCHESTRATION_FIX_PLAN.md
  WORKING_STATE_SUMMARY.md
  lambda/api-handler/index.py
Due: lint:python

feat: complete DRS tag sync integration with dedicated Lambda
  .github/workflows/deploy-archive-test.yml
  LOCALHOST_TESTING_RESULTS.md
  MISSING_TAG_SYNC_ANALYSIS.md
  cfn/compute/drs-tag-sync-stack.yaml
  cfn/master-template.yaml
  lambda/api-handler/index.py
  lambda/drs-tag-sync/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

feat: implement multi-stack GitHub Actions pipeline with matrix strategy
  .github/workflows/deploy.yml
  GITHUB_SECRETS_SETUP.md
Due: none

docs: add multi-stack setup and verification scripts
  MULTI_STACK_IMPLEMENTATION_SUMMARY.md
  create-archive-s3-bucket.sh
  verify-multi-stack-deployment.sh
Due: none

feat: trigger multi-stack deployment to fix Lambda package corruption
  MULTI_STACK_IMPLEMENTATION_SUMMARY.md
  lambda/execution-finder/index.py
Due: lint:python

focus: deploy only archive test stack for proper Lambda packaging
  .github/workflows/deploy.yml
Due: none

fix: trigger deployment with corrected GitHub OIDC role ARN
  lambda/execution-finder/index.py
Due: lint:python

fix: update IAM policy for archive test stack CloudFormation access
  lambda/execution-finder/index.py
Due: lint:python

fix: update GitHub OIDC permissions for multi-stack support
  cfn/github-oidc-stack.yaml
  update-github-oidc-permissions.sh
Due: validate:cloudformation, validate:cloudformation-aws

fix: correct GitHub organization name in OIDC trust policy
  update-github-oidc-permissions.sh
Due: none

fix: trigger archive test stack deployment with proper Lambda packages
  .github/workflows/security-checks.yml
  cfn/master-template.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix: remove invalid parentheses from CloudFormation tag values
  .github/workflows/deploy.yml
Due: none

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
