Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: store waves with correct field names for frontend compatibility
  lambda/api-handler/index.py
  scPolicy_Production_1_with_DRS.json
Due: lint:python

fix: only include protectionGroupIds in waves when provided
  lambda/api-handler/index.py
Due: lint:python

feat: add server information to wave progress display
  frontend/src/pages/ExecutionDetailsPage.tsx
  lambda/orchestration-stepfunctions/index.py
Due: validate:frontend-types, lint:python, lint:frontend

fix: remove complex normalization code from API - return raw database fields
  lambda/api-handler/index.py
Due: lint:python

fix: remove legacy PascalCase cleanup code - database is already clean
  lambda/api-handler/index.py
Due: lint:python

fix: add missing planIdIndex GSI to execution-history table
  cfn/database-stack.yaml
Due: validate:cloudformation, validate:cloudformation-aws

fix(orchestration): remove state sanitization that broke in-place modification
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

chore: add REVIEW/ and node_modules/ to gitignore, organize test files
  .gitignore
  tests/manual/crud-test-results.txt
  tests/manual/endpoint-test-summary.txt
  tests/manual/eventbridge-test-payload.json
  tests/manual/frontend-test-instructions.md
  tests/manual/lambda-env-vars.json
  tests/manual/manual-api-test-commands.md
  tests/manual/poller-payload.json
  tests/manual/quick-test.sh
Due: none

fix: remove security_utils from orchestration Lambda - fixes 25k event limit
  lambda/orchestration-stepfunctions/index.py
Due: lint:python

fix: camelCase taskToken field in resume_execution API
  lambda/api-handler/index.py
Due: lint:python

feat: add .gitignore exclusions to sync script
  scripts/sync-to-deployment-bucket.sh
Due: none

debug: add logging for pause/resume troubleshooting
  lambda/orchestration-stepfunctions/index.py
Due: lint:python
