Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

fix: force Lambda deployment refresh for camelCase validation - v1.3.1-hotfix
  lambda/api-handler/index.py
Due: lint:python

fix(api): remove obsolete transform functions and fix syntax errors
  lambda/api-handler/index.py
Due: lint:python

fix: force Lambda deployment refresh for camelCase syntax fixes
  lambda/api-handler/index.py
Due: lint:python

fix: remove all obsolete transform functions - complete camelCase migration
  lambda/api-handler/index.py
Due: lint:python

fix: complete camelCase migration for DynamoDB schema
  cfn/database-stack.yaml
  lambda/api-handler/index.py
Due: validate:cloudformation, validate:cloudformation-aws, lint:python

fix: correct remaining PascalCase field in Lambda code
  lambda/api-handler/index.py
Due: lint:python

fix: update unit tests to use camelCase field names
  tests/python/unit/test_api_handler.py
Due: none

fix: eliminate final transform function call
  frontend/src/types/index.ts
  lambda/api-handler/index.py
Due: validate:frontend-types, lint:python, lint:frontend

docs: update enterprise architecture documentation to reflect camelCase field names
  docs/enterprise-prd/06-architecture.md
Due: none

docs: add comprehensive API Gateway architecture guidelines and validation
  docs/guides/development/API_DEVELOPMENT_QUICK_REFERENCE.md
  docs/guides/development/API_GATEWAY_ARCHITECTURE_GUIDE.md
  scripts/validate-api-architecture.sh
Due: none

fix: add missing security headers to API response function
  lambda/api-handler/index.py
Due: lint:python

fix: update DRS service limits tests to use camelCase format
  tests/python/unit/test_drs_service_limits.py
Due: none

feat: add comprehensive API Gateway architecture validation and compliance tools
  .github/workflows/deploy.yml
  docs/implementation/API_GATEWAY_ARCHITECTURE_COMPLIANCE.md
  lambda-env-vars.json
  scripts/check-stack-sizes.sh
  scripts/sync-to-deployment-bucket.sh
  scripts/validate-api-architecture.sh
  scripts/validate-api-gateway-compliance.sh
Due: none

fix: simplify API Gateway architecture validation script
  scripts/validate-api-architecture.sh
Due: none
