Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:python, lint:frontend

Path conditions:
  validate:cloudformation: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:cloudformation-aws: any of: cfn/**/*, .cfnlintrc.yaml, .gitlab-ci.yml
  validate:frontend-types: any of: frontend/**/*, .gitlab-ci.yml
  lint:python: any of: lambda/**/*.py, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml

feat: auto-activate virtual environments in deploy script
  scripts/deploy.sh
Due: none

docs: update CHANGELOG for v1.1.0 release
  CHANGELOG.md
Due: none

fix: resolve account selector rendering and selection issues
  frontend/src/components/AccountManagementPanel.tsx
  frontend/src/components/AccountSelector.tsx
  frontend/src/contexts/AccountContext.tsx
Due: validate:frontend-types, lint:frontend

style: apply black formatting to drs-agent-deployer
  lambda/drs-agent-deployer/index.py
Due: lint:python

feat: refresh all pages when account selection changes
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
Due: validate:frontend-types, lint:frontend

fix: account selection not refreshing pages - use getCurrentAccountId() in useEffect dependencies
  EXTERNAL_ID_UPDATE_SUMMARY.md
  cfn/cross-account-role-stack.yaml
  cfn/lambda-stack.yaml
  docs/AWS_ACCOUNTS_OVERVIEW.md
  docs/guides/DRS_CAPACITY_SCALING_ARCHITECTURE.md
  docs/guides/DRS_CROSS_ACCOUNT_KMS_SETUP.md
  docs/guides/DRS_CROSS_ACCOUNT_SETUP_VERIFICATION.md
  docs/guides/EXTERNAL_ID_MIGRATION_GUIDE.md
  frontend/src/components/AccountSelector.tsx
  frontend/src/contexts/AccountContext.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/types/drs-agent-deployment.ts
  lambda/drs-agent-deployer/requirements.txt
  scripts/deploy.sh
Due: validate:cloudformation, validate:cloudformation-aws, validate:frontend-types, lint:frontend

fix: display selected account instead of hardcoded orchestration account on welcome page and improve frontend-only deployment resilience
  frontend/src/pages/GettingStartedPage.tsx
  scripts/deploy.sh
Due: validate:frontend-types, lint:frontend

fix: use getCurrentAccountId to get selected account on welcome page
  frontend/src/pages/GettingStartedPage.tsx
Due: validate:frontend-types, lint:frontend

fix: account selection not triggering page refresh
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
Due: validate:frontend-types, lint:frontend

fix: resolve TypeScript errors in useEffect dependencies
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
Due: validate:frontend-types, lint:frontend

fix: persist selected account and trigger page refresh on account change
  frontend/src/contexts/AccountContext.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
Due: validate:frontend-types, lint:frontend

fix: backend accountId filtering including legacy items without accountId
  lambda/data-management-handler/index.py
  lambda/execution-handler/index.py
Due: lint:python

fix: derive recovery plan account from protection groups
  lambda/data-management-handler/index.py
Due: lint:python

style: apply black formatting
  lambda/data-management-handler/index.py
Due: lint:python
