Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

typescript-check:
  name: TypeScript Syntax Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false
  stages:
  - commit

jsx-corruption-check:
  name: Check for JSX Corruption Patterns
  entry: scripts/check-jsx-corruption.sh
  language: script
  stages:
  - commit

verify-tsx-syntax:
  name: Verify TSX File Syntax
  entry: scripts/verify-tsx.sh
  language: script
  stages:
  - commit

cfn-lint:
  name: CloudFormation Linter
  entry: cfn-lint
  language: python
  stages:
  - commit

python-syntax:
  name: Python Syntax Check
  entry: python -m py_compile
  language: system
  stages:
  - commit

docs: comprehensive UI fixes documentation for Session 57 Part 17
  docs/SESSION_57_PART_17_UI_FIXES.md
Due: none

feat: Add Clear Completed History functionality
  frontend/src/components/Layout.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/services/api.ts
  lambda/index.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax

fix: Update sync script to use AWS credentials file
  scripts/sync-to-deployment-bucket.sh
Due: none

feat: Enhanced snapshot workflow with AWS CloudFormation deployment
  docs/SESSION_57_PART_17_UI_FIXES_COMPLETE.md
  scripts/sync-to-deployment-bucket.sh
Due: none

fix(ui): Replace hardcoded demo-user with actual authenticated user
  cfn/lambda-stack.yaml
  docs/CRITICAL_FINDING_UI_DRILLS_NOT_CONVERTING.md
  docs/DRS_DRILL_CONVERSION_FIX_SUCCESS.md
  docs/PROJECT_STATUS.md
  docs/ROLLBACK_TO_WORKING_STATE_COMPLETE.md
  docs/SESSION_57_PART_17_CLEAR_HISTORY_FEATURE.md
  docs/UI_DISPLAY_BUGS_FIX_PLAN.md
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/services/api.ts
  history/checkpoints/checkpoint_session_20251130_103552_57415d_2025-11-30_10-35-52.md
  history/sessions/session_20251130_103552_57415d.json
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint

fix(ui): Replace hardcoded demo-user with actual authenticated user
  cfn/lambda-stack.yaml
  docs/CRITICAL_FINDING_UI_DRILLS_NOT_CONVERTING.md
  docs/DRS_DRILL_CONVERSION_FIX_SUCCESS.md
  docs/PROJECT_STATUS.md
  docs/ROLLBACK_TO_WORKING_STATE_COMPLETE.md
  docs/SESSION_57_PART_17_CLEAR_HISTORY_FEATURE.md
  docs/UI_DISPLAY_BUGS_FIX_PLAN.md
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/services/api.ts
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint

fix(deployment): Update sync script to work with nested stack architecture
  scripts/sync-to-deployment-bucket.sh
Due: none

fix(deployment): Resolve Lambda dependencies and frontend build issues
  .gitignore
  docs/architecture/architecture-diagram.png
  frontend/src/components/WaveConfigEditor.tsx.backup
  lambda/poller/.coverage
  lambda/requirements.txt
  scripts/sync-to-deployment-bucket.sh
Due: none

feat(config): Add .env.test.template for frontend configuration
  .env.test.template
Due: none

fix(frontend): Ensure Homebrew Node.js v25.2.1 is used in build script
  frontend/build.sh
Due: none

feat(frontend): Add Node.js version validation to build script
  frontend/build.sh
Due: none

fix(ui): Fix duration calculation bug (489654h issue)
  frontend/src/components/ExecutionDetails.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

fix(lambda): Correct wave progress calculation in execution details
  lambda/index.py
Due: python-syntax

docs: Complete session 61 - UI bug fixes for duration and wave progress
  docs/UI_BUG_FIX_SESSION_61.md
Due: none

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  jsx-corruption-check: any of: \.(tsx|jsx)$
  verify-tsx-syntax: any of: \.(tsx)$
  cfn-lint: any of: ^cfn/.*\.yaml$
  python-syntax: any of: \.py$
