Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

.pre-commit-config.yaml:

# Pre-commit hooks for AWS DRS Orchestration
# Install: pip install pre-commit && pre-commit install

repos:
  # TypeScript/JavaScript validation
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Syntax Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [commit]
        
      - id: jsx-corruption-check
        name: Check for JSX Corruption Patterns
        entry: scripts/check-jsx-corruption.sh
        language: script
        files: \.(tsx|jsx)$
        stages: [commit]
        
      - id: verify-tsx-syntax
        name: Verify TSX File Syntax
        entry: scripts/verify-tsx.sh
        language: script
        files: \.(tsx)$
        stages: [commit]

  # CloudFormation validation
  - repo: local
    hooks:
      - id: cfn-lint
        name: CloudFormation Linter
        entry: cfn-lint
        language: python
        files: ^cfn/.*\.yaml$
        stages: [commit]

  # Python validation
  - repo: local
    hooks:
      - id: python-syntax
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: \.py$
        stages: [commit]

  # General file checks
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^cfn/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Prevent large files
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']

# To bypass hooks in emergency (NOT recommended):
# git commit --no-verify -m "emergency fix"

CRITICAL: Add Step Functions to fix EC2 launch issue
  cfn/master-template.yaml
  cfn/step-functions-stack.yaml
  docs/API_GATEWAY_AUTH_INVESTIGATION.md
  docs/SESSION_61_VALIDATION_GUIDE.md
  docs/SESSION_61_VALIDATION_RESULTS.md
  docs/SESSION_65_SUMMARY.md
  docs/SESSION_67_STEP_FUNCTIONS_MIGRATION.md
  lambda/index.py
  tests/python/test_results_None.json
Due: cfn-lint, python-syntax

Remove polling infrastructure, use Step Functions only
  README.md
  cfn/api-stack.yaml
  cfn/lambda-stack.yaml
  cfn/step-functions-stack.yaml
  docs/SESSION_68_AUTHENTICATION_AND_PERMISSIONS_FIX.md
  lambda/index.py
  lambda/orchestration.zip
Due: cfn-lint, python-syntax

Add critical debugging rule to README - never investigate DRS config
  README.md
Due: none

Fix: Add ec2:DetachVolume permission for DRS credential passthrough
  cfn/lambda-stack.yaml
Due: cfn-lint

docs: Update README with Session 69 status - ec2:DetachVolume fix and morning pickup checklist
  README.md
Due: none

docs: Add DRS + Step Functions coordination analysis from reference implementation
  docs/DRS_STEP_FUNCTIONS_COORDINATION_ANALYSIS.md
Due: none

docs: Fix README dates, update status, add coordination analysis link, CloudScape references
  README.md
Due: none

Session 70: Fix ec2:DeleteVolume IAM condition blocking DRS staging volume cleanup
  DEPLOY_DELETEVOLUME_FIX.md
  README.md
  cfn/lambda-stack.yaml
  docs/DRS_DETACHVOLUME_ROOT_CAUSE_ANALYSIS.md
  docs/SESSION_70_DELETEVOLUME_FIX.md
  docs/STEP_FUNCTIONS_POLLING_IMPLEMENTATION.md
  docs/SYSTEM_STATUS_COMPREHENSIVE.md
Due: cfn-lint

Session 70: Fix ec2:DeleteVolume IAM condition blocking DRS staging volume cleanup
  .kiro/settings/mcp.json
  .kiro/steering/debugging-rules.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  DEPLOY_DELETEVOLUME_FIX.md
  README.md
  cfn/lambda-stack.yaml
  docs/DRS_DETACHVOLUME_ROOT_CAUSE_ANALYSIS.md
  docs/SESSION_70_DELETEVOLUME_FIX.md
  docs/STEP_FUNCTIONS_POLLING_IMPLEMENTATION.md
  docs/SYSTEM_STATUS_COMPREHENSIVE.md
Due: cfn-lint

Fix: Add ec2:StartInstances to IAM policy - BOTH SERVERS NOW LAUNCH
  README.md
  cfn/lambda-stack.yaml
  docs/DRS_DETACHVOLUME_ROOT_CAUSE_ANALYSIS.md
  docs/SESSION_70_DELETEVOLUME_FIX.md
  docs/SESSION_70_FINAL_ANALYSIS.md
  docs/SESSION_70_FINAL_ROOT_CAUSE.md
Due: cfn-lint

Fix Step Functions LAUNCHED status detection + README update
  DEPLOY_DELETEVOLUME_FIX.md
  README.md
  docs/CICD_PIPELINE_STATUS.md
  docs/DRS_DETACHVOLUME_ROOT_CAUSE_ANALYSIS.md
  docs/DRS_EXECUTION_FIX_IMPLEMENTATION_PLAN.md
  docs/JOB_LOG_EVENT_TRACKING_ROADMAP.md
  docs/MASTER_IMPLEMENTATION_ROADMAP.md
  docs/MVP_COMPLETION_PLAN.md
  docs/PHASE_2_IMPLEMENTATION_SUMMARY.md
  docs/PHASE_2_TESTING_PLAN_CONTINUED.md
  docs/PHASE_2_TESTING_RESULTS.md
  docs/PHASE_3_ENTERPRISE_ENHANCEMENTS_GUIDE.md
  docs/PHASE_4D_EXECUTION_SUCCESS.md
  docs/PHASE_4E_MANUAL_UI_TEST_GUIDE.md
  docs/PHASE_4E_QUICK_TEST_CHECKLIST.md
  docs/SESSION_61_VALIDATION_GUIDE.md
  docs/SESSION_61_VALIDATION_RESULTS.md
  docs/SESSION_63_HANDOFF_TO_KIRO.md
  docs/SESSION_64_CICD_PIPELINE_HANDOFF.md
  docs/SESSION_65_SUMMARY.md
  docs/SESSION_70_DELETEVOLUME_FIX.md
  docs/SESSION_70_FINAL_ANALYSIS.md
  docs/SESSION_70_FINAL_ROOT_CAUSE.md
  docs/SESSION_71_SUCCESSFUL_DRILL_VALIDATION.md
  docs/STEP_FUNCTIONS_DESIGN_PLAN.md
  docs/SYSTEM_STATUS_COMPREHENSIVE.md
  lambda/orchestration_stepfunctions.py
Due: python-syntax

First working Step Functions integrated prototype with dynamic DRS source server discovery
  README.md
  frontend/src/components/WaveProgress.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/types/index.ts
  lambda/index.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax
