Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

.pre-commit-config.yaml:

# Pre-commit hooks for AWS DRS Orchestration
# Install: pip install pre-commit && pre-commit install

repos:
  # TypeScript/JavaScript validation
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Syntax Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [commit]
        
      - id: jsx-corruption-check
        name: Check for JSX Corruption Patterns
        entry: scripts/check-jsx-corruption.sh
        language: script
        files: \.(tsx|jsx)$
        stages: [commit]
        
      - id: verify-tsx-syntax
        name: Verify TSX File Syntax
        entry: scripts/verify-tsx.sh
        language: script
        files: \.(tsx)$
        stages: [commit]

  # CloudFormation validation
  - repo: local
    hooks:
      - id: cfn-lint
        name: CloudFormation Linter
        entry: cfn-lint
        language: python
        files: ^cfn/.*\.yaml$
        stages: [commit]

  # Python validation
  - repo: local
    hooks:
      - id: python-syntax
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: \.py$
        stages: [commit]

  # General file checks
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^cfn/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Prevent large files
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']

# To bypass hooks in emergency (NOT recommended):
# git commit --no-verify -m "emergency fix"

First working Step Functions integrated prototype with dynamic DRS source server discovery
  README.md
  frontend/src/components/WaveProgress.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/types/index.ts
  lambda/index.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax

Update README with Session 72 - First Working Prototype
  README.md
Due: none

UI Improvements - Version 1.1
  Makefile
  frontend/src/components/ServerDiscoveryPanel.tsx
  frontend/src/components/ServerListItem.tsx
  frontend/src/components/WaveConfigEditor.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  lambda/index.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax

UI Improvements - Version 1.1
  .kiro/steering/tech.md
  Makefile
  frontend/src/components/ServerDiscoveryPanel.tsx
  frontend/src/components/ServerListItem.tsx
  frontend/src/components/WaveConfigEditor.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  lambda/index.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax

fix: Remove garbage imports and clean up corrupted files
  frontend/src/App.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/GettingStartedPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

docs: Production-ready README with mermaid diagrams
  .gitignore
  README.md
Due: none

fix: Replace mermaid wave diagram with table for better rendering
  README.md
Due: none

docs: Add CI/CD setup, post-deployment guide, remove competitor references
  README.md
Due: none

fix: Replace C4 mermaid diagrams with tables for compatibility
  docs/architecture/ARCHITECTURAL_DESIGN_DOCUMENT.md
Due: none

docs: Update testing guide to reflect current state
  docs/guides/TESTING_AND_QUALITY_ASSURANCE.md
Due: none

chore: Clean up repository for production
  .gitignore
  DEPLOY_DELETEVOLUME_FIX.md
  docs/API_GATEWAY_AUTH_INVESTIGATION.md
  docs/AWS_DRS_ORCHESTRATION_TCO_ANALYSIS_FIXED.md
  docs/CICD_PIPELINE_GUIDE.md
  docs/DRS_DETACHVOLUME_ROOT_CAUSE_ANALYSIS.md
  docs/DRS_STEP_FUNCTIONS_COORDINATION_ANALYSIS.md
  docs/LAMBDA_DEPLOYMENT_GUIDE.md
  docs/README.md
  docs/SESSION_66_FIRST_SUCCESSFUL_DRILL.md
  docs/SESSION_67_STEP_FUNCTIONS_MIGRATION.md
  docs/SESSION_68_AUTHENTICATION_AND_PERMISSIONS_FIX.md
  docs/SESSION_70_DELETEVOLUME_FIX.md
  docs/SESSION_70_FINAL_ROOT_CAUSE.md
  docs/SESSION_71_SUCCESSFUL_DRILL_VALIDATION.md
  docs/STEP_FUNCTIONS_POLLING_IMPLEMENTATION.md
  docs/archive/README.md
  docs/competitive-analysis/DR_SOLUTIONS_COMPARISON.md
  docs/competitive-analysis/DR_SOLUTIONS_SALES_BATTLECARD.md
  docs/competitive-analysis/disaster_recovery_solutions___competitive_analysis.md
  docs/dtr-tools-links.txt
  docs/presentations/AWS_DRS_Orchestration_Solution_EDITABLE.pptx
  lambda/package_stepfunctions.sh
  lambda/poller/execution-poller.zip
  lambda/poller/execution_finder.zip
  lambda/poller/execution_poller.zip
Due: none
