Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

.pre-commit-config.yaml:

# Pre-commit hooks for AWS DRS Orchestration
# Install: pip install pre-commit && pre-commit install

repos:
  # TypeScript/JavaScript validation
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Syntax Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [commit]
        
      - id: jsx-corruption-check
        name: Check for JSX Corruption Patterns
        entry: scripts/check-jsx-corruption.sh
        language: script
        files: \.(tsx|jsx)$
        stages: [commit]
        
      - id: verify-tsx-syntax
        name: Verify TSX File Syntax
        entry: scripts/verify-tsx.sh
        language: script
        files: \.(tsx)$
        stages: [commit]

  # CloudFormation validation
  - repo: local
    hooks:
      - id: cfn-lint
        name: CloudFormation Linter
        entry: cfn-lint
        language: python
        files: ^cfn/.*\.yaml$
        stages: [commit]

  # Python validation
  - repo: local
    hooks:
      - id: python-syntax
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: \.py$
        stages: [commit]

  # General file checks
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^cfn/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Prevent large files
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']

# To bypass hooks in emergency (NOT recommended):
# git commit --no-verify -m "emergency fix"

chore: Session 57 Part 4 checkpoint - Execution Poller + Test Expansion
  docs/PROJECT_STATUS.md
  history/checkpoints/checkpoint_session_20251128_132005_9051e4_2025-11-28_13-20-05.md
  history/conversations/conversation_session_20251128_132005_9051e4_2025-11-28_13-20-05_task_1764350476120.md
  history/sessions/session_20251128_132005_9051e4.json
Due: none

chore: Session 57 Part 4 checkpoint - Execution Poller + Test Expansion
  docs/PROJECT_STATUS.md
Due: none

test(poller): add comprehensive Execution Poller tests
  lambda/poller/execution_poller.py
  lambda/poller/test_execution_poller.py
Due: python-syntax

feat(cfn): Add Phase 2 polling infrastructure - Execution Poller Lambda
  cfn/lambda-stack.yaml
Due: cfn-lint

docs: Session 57 Part 5 - Phase 2 polling infrastructure deployed
  docs/PROJECT_STATUS.md
Due: none

fix(cfn): Use GetAtt for ExecutionPoller ARN in IAM policy
  cfn/lambda-stack.yaml
Due: cfn-lint

fix: correct environment variable name for Execution Poller function
  cfn/lambda-stack.yaml
Due: cfn-lint

docs: Session 57 Part 6 snapshot - context preservation at 84% token usage
  docs/PROJECT_STATUS.md
Due: none

docs(phase2): add comprehensive testing results and completion status
  docs/PHASE_2_TESTING_RESULTS.md
  docs/PROJECT_STATUS.md
Due: none

fix: Wave names displaying correctly (WaveName field support)
  docs/PHASE_2_TESTING_RESULTS.md
  history/checkpoints/checkpoint_session_20251128_141046_361eeb_2025-11-28_14-10-46.md
  history/checkpoints/checkpoint_session_20251128_144143_ca2a4e_2025-11-28_14-41-43.md
  history/conversations/conversation_session_20251128_141046_361eeb_2025-11-28_14-10-46_task_1764354258801.md
  history/conversations/conversation_session_20251128_144143_ca2a4e_2025-11-28_14-41-43_task_1764358736581.md
  history/sessions/session_20251128_141046_361eeb.json
  history/sessions/session_20251128_144143_ca2a4e.json
  lambda/index.py
Due: python-syntax

fix: Wave names displaying correctly (WaveName field support)
  docs/PHASE_2_TESTING_RESULTS.md
  lambda/index.py
Due: python-syntax

fix: Convert Unix timestamps from seconds to milliseconds in DateTimeDisplay
  frontend/src/components/DateTimeDisplay.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

docs: Add Phase 2 testing results and frontend bug analysis
  docs/PHASE_2_TESTING_RESULTS.md
Due: none

docs(phase2): complete end-to-end testing validation - production ready
  docs/PHASE_2_TESTING_RESULTS.md
  docs/PROJECT_STATUS.md
Due: none

docs(session57): Session 57 Part 8 snapshot - context preservation
  docs/PROJECT_STATUS.md
Due: none

docs(session57): Session 57 Part 8 snapshot - context preservation
  docs/PROJECT_STATUS.md
  history/checkpoints/checkpoint_session_20251128_155924_b46100_2025-11-28_15-59-24.md
  history/checkpoints/checkpoint_session_20251128_161138_406526_2025-11-28_16-11-38.md
  history/conversations/conversation_session_20251128_155924_b46100_2025-11-28_15-59-24_task_1764363540128.md
  history/conversations/conversation_session_20251128_161138_406526_2025-11-28_16-11-38_task_1764363540128.md
  history/sessions/session_20251128_155924_b46100.json
  history/sessions/session_20251128_161138_406526.json
Due: none

fix(phase1): CRITICAL - Fix wave launch to create single JobId per wave
  docs/PROJECT_STATUS.md
  docs/SESSION_57_PART_9_SUMMARY.md
  docs/TEST_SCENARIO_1.1_CRITICAL_BUG_REPORT.md
  docs/TEST_SCENARIO_1.1_UI_BUGS.md
  lambda/index.py
Due: python-syntax
