Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

typescript-check:
  name: TypeScript Syntax Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false
  stages:
  - commit

jsx-corruption-check:
  name: Check for JSX Corruption Patterns
  entry: scripts/check-jsx-corruption.sh
  language: script
  stages:
  - commit

verify-tsx-syntax:
  name: Verify TSX File Syntax
  entry: scripts/verify-tsx.sh
  language: script
  stages:
  - commit

cfn-lint:
  name: CloudFormation Linter
  entry: cfn-lint
  language: python
  stages:
  - commit

python-syntax:
  name: Python Syntax Check
  entry: python -m py_compile
  language: system
  stages:
  - commit

feat(frontend): implement execution details page with real-time polling
  frontend/src/App.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  history/checkpoints/checkpoint_session_20251122_164844_e6e5af_2025-11-22_16-48-44.md
  history/checkpoints/checkpoint_session_20251122_165421_437419_2025-11-22_16-54-21.md
  history/conversations/conversation_session_20251122_164844_e6e5af_2025-11-22_16-48-44_task_1763846770226.md
  history/conversations/conversation_session_20251122_165421_437419_2025-11-22_16-54-21_task_1763848324195.md
  history/sessions/session_20251122_164844_e6e5af.json
  history/sessions/session_20251122_165421_437419.json
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

docs: Update PROJECT_STATUS.md - Session 47 implementation complete
  docs/PROJECT_STATUS.md
Due: none

feat(frontend): Add execution type dialog for DRILL vs RECOVERY mode
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

feat(frontend): Deploy execution visibility feature and remove TagFilterEditor
  frontend/src/components/DataGridWrapper.tsx
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/components/TagFilterEditor.tsx
  frontend/src/pages/ExecutionsPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

docs(session-47): Update PROJECT_STATUS with deployment completion
  docs/PROJECT_STATUS.md
Due: none

fix(lambda): Deploy Session 46 Lambda with execute_recovery_plan endpoint
  docs/ZERTO_RESEARCH_AND_API_ANALYSIS.md
Due: none

fix(api): Add missing POST /executions endpoint
  cfn/api-stack.yaml
Due: cfn-lint

docs(session-47): Document API endpoint fix resolution
  docs/SESSION_47_ISSUE_RESOLUTION.md
Due: none

fix(api): Add ExecutionsPostMethod to ApiDeployment dependencies
  cfn/api-stack.yaml
Due: cfn-lint

feat: Add automated incremental commit workflow
  docs/INCREMENTAL_COMMIT_WORKFLOW.md
  scripts/incremental-commit.sh
Due: none

fix(api): Force new API deployment with Description property
  cfn/api-stack.yaml
Due: cfn-lint

fix(api): Change deployment description to force replacement
  cfn/api-stack.yaml
Due: cfn-lint

feat(api): Add DeploymentTimestamp parameter to force API deployments
  cfn/api-stack.yaml
Due: cfn-lint

fix(lambda): Change from get_item to query for composite key table
  lambda/index.py
Due: python-syntax

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  jsx-corruption-check: any of: \.(tsx|jsx)$
  verify-tsx-syntax: any of: \.(tsx)$
  cfn-lint: any of: ^cfn/.*\.yaml$
  python-syntax: any of: \.py$
