Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

.pre-commit-config.yaml:

# Pre-commit hooks for AWS DRS Orchestration
# Install: pip install pre-commit && pre-commit install

repos:
  # TypeScript/JavaScript validation
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Syntax Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [commit]
        
      - id: jsx-corruption-check
        name: Check for JSX Corruption Patterns
        entry: scripts/check-jsx-corruption.sh
        language: script
        files: \.(tsx|jsx)$
        stages: [commit]
        
      - id: verify-tsx-syntax
        name: Verify TSX File Syntax
        entry: scripts/verify-tsx.sh
        language: script
        files: \.(tsx)$
        stages: [commit]

  # CloudFormation validation
  - repo: local
    hooks:
      - id: cfn-lint
        name: CloudFormation Linter
        entry: cfn-lint
        language: python
        files: ^cfn/.*\.yaml$
        stages: [commit]

  # Python validation
  - repo: local
    hooks:
      - id: python-syntax
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: \.py$
        stages: [commit]

  # General file checks
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^cfn/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Prevent large files
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']

# To bypass hooks in emergency (NOT recommended):
# git commit --no-verify -m "emergency fix"

chore: add session history checkpoint and conversation export
  history/checkpoints/checkpoint_session_20251123_132003_9c0543_2025-11-23_13-20-03.md
  history/conversations/conversation_session_20251123_132003_9c0543_2025-11-23_13-20-03_task_1763921842058.md
  history/sessions/session_20251123_132003_9c0543.json
Due: none

chore: delete outdated Lambda .zip artifacts and prevent future tracking
  .gitignore
Due: none

refactor: Remove unused executionType from Wave interface
  docs/PROJECT_STATUS.md
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/components/WaveConfigEditor.tsx
  frontend/src/types/index.ts
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

feat(scripts): Add S3 deployment sync automation
  scripts/commit-files-individually.sh
  scripts/deploy-and-sync-all.sh
  scripts/sync-to-deployment-bucket.sh
Due: none

feat(scripts): Add S3 versioning and git commit tagging to sync script
  scripts/sync-to-deployment-bucket.sh
Due: none

docs: Add S3 versioning and git commit tagging documentation
  README.md
Due: none

feat: Add automated S3 sync workflow
  Makefile
  README.md
Due: none

chore: Add set-aws-credentials.sh to .gitignore
  .gitignore
Due: none

feat: Auto-load AWS credentials in sync workflows
  scripts/sync-to-deployment-bucket.sh
Due: none

feat: Add --clean-orphans feature to S3 sync
  Makefile
  scripts/sync-to-deployment-bucket.sh
Due: none

fix: Prevent multiple simultaneous executions with button debouncing
  frontend/src/pages/RecoveryPlansPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

feat: Implement async recovery plan execution with polling
  cfn/lambda-stack.yaml
  frontend/src/services/api.ts
  lambda/index.py
Due: typescript-check, cfn-lint, python-syntax

fix: Lambda 504 timeout + auto-load deployment credentials
  lambda/index.py
  scripts/deploy-and-sync-all.sh
  scripts/sync-to-deployment-bucket.sh
Due: python-syntax

fix: Add DecimalEncoder to async worker payload serialization
  lambda/index.py
Due: python-syntax
