Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

.pre-commit-config.yaml:

# Pre-commit hooks for AWS DRS Orchestration
# Install: pip install pre-commit && pre-commit install

repos:
  # TypeScript/JavaScript validation
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Syntax Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [commit]
        
      - id: jsx-corruption-check
        name: Check for JSX Corruption Patterns
        entry: scripts/check-jsx-corruption.sh
        language: script
        files: \.(tsx|jsx)$
        stages: [commit]
        
      - id: verify-tsx-syntax
        name: Verify TSX File Syntax
        entry: scripts/verify-tsx.sh
        language: script
        files: \.(tsx)$
        stages: [commit]

  # CloudFormation validation
  - repo: local
    hooks:
      - id: cfn-lint
        name: CloudFormation Linter
        entry: cfn-lint
        language: python
        files: ^cfn/.*\.yaml$
        stages: [commit]

  # Python validation
  - repo: local
    hooks:
      - id: python-syntax
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: \.py$
        stages: [commit]

  # General file checks
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^cfn/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Prevent large files
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']

# To bypass hooks in emergency (NOT recommended):
# git commit --no-verify -m "emergency fix"

UI improvements: wave progress display, Cognito config update, date column widths
  frontend/public/aws-config.json
  frontend/src/pages/RecoveryPlansPage.tsx
  lambda/index.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax

Repo cleanup: organize files and remove temp artifacts
  AWS_DRS_SERVICE_ROLE_POLICY_ANALYSIS.md
  CICD_RULES_SUMMARY.md
  CLOUDFORMATION_DEPLOYMENT_ISSUES.md
  COMMIT_00f4eb3_ANALYSIS.md
  COMMIT_242b696_ANALYSIS.md
  DEPLOYMENT_GAP_ANALYSIS.md
  DEPLOYMENT_PROTECTION_COMPLETE.md
  DEPLOYMENT_RECOVERY_GUIDE.md
  DEPLOYMENT_STATUS_REPORT.md
  DEPLOYMENT_SUCCESS_SUMMARY.md
  DRS_COMPLETE_IAM_ANALYSIS.md
  DRS_CONVERSION_STUCK_ANALYSIS.md
  ENVIRONMENT_UPDATE_SUMMARY.md
  REDEPLOYMENT_VERIFICATION.md
  REDEPLOY_READY.md
  STEP_FUNCTIONS_CLOUDFORMATION_FIX.md
  V1.0.0_TAG_ANALYSIS.md
  aws-config-fixed.json
  aws-config.js
  aws-config.json
  response.json
  scripts/test-drill.sh
  scripts/validate-deployment.sh
  test-payload.json
  test_payload.json
Due: none

Update .gitignore: exclude non-essential scripts
  .gitignore
Due: none

Remove non-essential scripts from git tracking
  scripts/check_job_completion.sh
  scripts/deploy-and-sync-all.sh
  scripts/monitor_active_job.sh
  scripts/setup-gitlab-cicd.sh
  scripts/test-drill.sh
  scripts/test_drs_drill_trace.py
  scripts/validate-deployment.sh
  scripts/wait_for_completion.sh
Due: python-syntax

docs: Streamline README and requirements documentation
  README.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
Due: none

v2.0: Fix GitLab CI validation + Add comprehensive documentation
  .gitignore
  .gitlab-ci.yml
  README.md
  cfn/security-stack.yaml
  docs/GAP_ANALYSIS.md
  docs/architecture/ARCHITECTURAL_DESIGN_DOCUMENT.md
  docs/architecture/ARCHITECTURE_DIAGRAMS.md
  docs/architecture/AWS_SERVICES_ARCHITECTURE_DEEP_DIVE.md
  docs/architecture/DRS_STEP_FUNCTIONS_COORDINATION_ANALYSIS.md
  docs/architecture/STEP_FUNCTIONS_ANALYSIS.md
  docs/guides/AWS_DRS_DRILL_EXECUTION_WALKTHROUGH.md
  docs/guides/AWS_DRS_RECOVERY_EXECUTION_WALKTHROUGH.md
  docs/guides/AWS_DRS_SOURCE_SERVER_CONFIGURATION_API_REFERENCE.md
  docs/guides/CICD_PIPELINE_GUIDE.md
  docs/guides/DEPLOYMENT_RECOVERY_GUIDE.md
  docs/guides/DEPLOYMENT_SUCCESS_SUMMARY.md
  docs/guides/S3_SYNC_AUTOMATION.md
  docs/reference/AWS_DRS_SERVICE_ROLE_POLICY_ANALYSIS.md
  docs/reference/AZURE_SITE_RECOVERY_RESEARCH_AND_API_ANALYSIS.md
  docs/reference/DRS_COMPLETE_IAM_ANALYSIS.md
  docs/reference/README.md
  docs/reference/VMware_SRM_REST_API_Summary.md
  docs/reference/ZERTO_RESEARCH_AND_API_ANALYSIS.md
  docs/troubleshooting/CLOUDFORMATION_DEPLOYMENT_ISSUES.md
  docs/troubleshooting/DRS_DRILL_FAILURE_ANALYSIS.md
  docs/troubleshooting/IAM_ROLE_ANALYSIS_DRS_PERMISSIONS.md
  docs/troubleshooting/README.md
  lambda/drs_orchestrator.py
Due: cfn-lint, python-syntax

fix: update cfn-lint config to ignore informational and warning rules
  .cfnlintrc.yaml
  .gitlab-ci.yml
Due: none

fix: cfn-lint CI pipeline - explicitly use config file and disable I-level rules
  .cfnlintrc.yaml
  .gitlab-ci.yml
Due: none

fix: resolve Fn::Sub variable error with CommaDelimitedList parameter
  cfn/security-stack.yaml
Due: cfn-lint

ci: disable test jobs (tests/ directory is gitignored)
  .gitlab-ci.yml
Due: none

docs: Update documentation to remove competitor references and clarify AWS DRS regional availability
  README.md
  docs/PROJECT_STATUS.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
Due: none
