Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

.pre-commit-config.yaml:

# Pre-commit hooks for AWS DRS Orchestration
# Install: pip install pre-commit && pre-commit install

repos:
  # TypeScript/JavaScript validation
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Syntax Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [commit]
        
      - id: jsx-corruption-check
        name: Check for JSX Corruption Patterns
        entry: scripts/check-jsx-corruption.sh
        language: script
        files: \.(tsx|jsx)$
        stages: [commit]
        
      - id: verify-tsx-syntax
        name: Verify TSX File Syntax
        entry: scripts/verify-tsx.sh
        language: script
        files: \.(tsx)$
        stages: [commit]

  # CloudFormation validation
  - repo: local
    hooks:
      - id: cfn-lint
        name: CloudFormation Linter
        entry: cfn-lint
        language: python
        files: ^cfn/.*\.yaml$
        stages: [commit]

  # Python validation
  - repo: local
    hooks:
      - id: python-syntax
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: \.py$
        stages: [commit]

  # General file checks
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^cfn/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Prevent large files
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']

# To bypass hooks in emergency (NOT recommended):
# git commit --no-verify -m "emergency fix"

fix(lambda): ACTUALLY change get_item to query for composite key table
  lambda/index.py
Due: python-syntax

docs: Update PROJECT_STATUS and README for v1.0.0-backend-integration-prototype
  README.md
  docs/PROJECT_STATUS.md
Due: none

fix(lambda): Remove invalid recoverySnapshotID parameter from DRS StartRecovery
  lambda/index.py
Due: python-syntax

docs: Document IAM permissions fix for DRS integration
  docs/SESSION_47_IAM_PERMISSIONS_FIX.md
Due: none

docs: Update README with v1.0.2-drs-integration-working release
  README.md
Due: none

fix(frontend): Skip aws-config.js injection in dev mode
  frontend/vite-plugin-inject-config.ts
Due: typescript-check

docs: Add Session 47 history checkpoint and Azure research
  docs/AZURE_SITE_RECOVERY_RESEARCH_AND_API_ANALYSIS.md
  history/checkpoints/checkpoint_session_20251122_180949_d329da_2025-11-22_18-09-49.md
  history/sessions/session_20251122_180949_d329da.json
Due: none

docs: Add Session 47 history checkpoint and Azure research
  docs/AZURE_SITE_RECOVERY_RESEARCH_AND_API_ANALYSIS.md
Due: none

docs: Add Session 47 summary for production deployment fixes
  docs/SESSION_47_SUMMARY.md
Due: none

docs: Update PROJECT_STATUS with Session 47 Parts 5-6 deployment fixes
  docs/PROJECT_STATUS.md
Due: none

fix(ui): resolve status, last execution, and date display bugs in Recovery Plans page
  frontend/src/components/StatusBadge.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/tsconfig.app.json
  lambda/index.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax

fix(lambda): Convert DynamoDB timestamps from seconds to milliseconds
  lambda/index.py
Due: python-syntax

fix(frontend): Change date display from relative to full format
  frontend/src/pages/RecoveryPlansPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

feat(session-48): UI display investigation - date format fix and execution history discovery
  docs/PROJECT_STATUS.md
  docs/SESSION_48_UI_DISPLAY_BUGS.md
Due: none

feat(execution-history): Integrate execution history into Recovery Plans display
  .env.test
  frontend/public/aws-config.json
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/tsconfig.json
  lambda/index.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax
