Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

.pre-commit-config.yaml:

# Pre-commit hooks for AWS DRS Orchestration
# Install: pip install pre-commit && pre-commit install

repos:
  # TypeScript/JavaScript validation
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Syntax Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [commit]
        
      - id: jsx-corruption-check
        name: Check for JSX Corruption Patterns
        entry: scripts/check-jsx-corruption.sh
        language: script
        files: \.(tsx|jsx)$
        stages: [commit]
        
      - id: verify-tsx-syntax
        name: Verify TSX File Syntax
        entry: scripts/verify-tsx.sh
        language: script
        files: \.(tsx)$
        stages: [commit]

  # CloudFormation validation
  - repo: local
    hooks:
      - id: cfn-lint
        name: CloudFormation Linter
        entry: cfn-lint
        language: python
        files: ^cfn/.*\.yaml$
        stages: [commit]

  # Python validation
  - repo: local
    hooks:
      - id: python-syntax
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: \.py$
        stages: [commit]

  # General file checks
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^cfn/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Prevent large files
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']

# To bypass hooks in emergency (NOT recommended):
# git commit --no-verify -m "emergency fix"

feat: Complete CloudScape Design System migration
  .gitignore
  frontend/src/components/ConfirmDialog.tsx
  frontend/src/components/DataGridWrapper.tsx
  frontend/src/components/ErrorFallback.tsx
  frontend/src/components/ErrorState.tsx
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/PageTransition.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/ServerDiscoveryPanel.tsx
  frontend/src/components/ServerListItem.tsx
  frontend/src/components/WaveConfigEditor.tsx
  frontend/src/components/cloudscape/ContentLayout.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/pages/RecoveryPlansPage_old.tsx
  frontend/src/theme/index.ts
  frontend/src/types/index.ts
  frontend/vite.config.ts
  scripts/monitor_lambda_drill.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax

docs: Add CloudScape migration completion handoff document
  .kiro/CLOUDSCAPE_MIGRATION_COMPLETE.md
Due: none

Add GitLab CI/CD pipeline with comprehensive deployment automation
  .gitignore
  .gitlab-ci.yml
  docs/CICD_PIPELINE_GUIDE.md
  scripts/setup-gitlab-cicd.sh
Due: none

Add Session 64 handoff document for CI/CD pipeline
  .gitignore
  docs/SESSION_64_CICD_PIPELINE_HANDOFF.md
Due: none

Fix CloudFormation output key names in CI/CD pipeline
  .gitlab-ci.yml
Due: none

Update README.md with current status and quick start guide
  README.md
Due: none

Add CI/CD pipeline status documentation
  .gitignore
  docs/CICD_PIPELINE_STATUS.md
Due: none

Add placeholder drs_orchestrator.py for CI/CD pipeline
  lambda/drs_orchestrator.py
Due: python-syntax

🎉 MILESTONE: First successful DRS drill execution
  docs/PHASE_4D_EXECUTION_SUCCESS.md
  docs/SESSION_66_FIRST_SUCCESSFUL_DRILL.md
  tests/python/automated_e2e_test.py
Due: python-syntax

Add Phase 4E Manual UI Test guides
  docs/PHASE_4E_MANUAL_UI_TEST_GUIDE.md
  docs/PHASE_4E_QUICK_TEST_CHECKLIST.md
Due: none

CRITICAL: Add Step Functions to fix EC2 launch issue
  cfn/master-template.yaml
  cfn/step-functions-stack.yaml
  docs/API_GATEWAY_AUTH_INVESTIGATION.md
  docs/SESSION_61_VALIDATION_GUIDE.md
  docs/SESSION_61_VALIDATION_RESULTS.md
  docs/SESSION_65_SUMMARY.md
  docs/SESSION_67_STEP_FUNCTIONS_MIGRATION.md
  lambda/index.py
  tests/python/test_results_None.json
Due: cfn-lint, python-syntax
