Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

.pre-commit-config.yaml:

# Pre-commit hooks for AWS DRS Orchestration
# Install: pip install pre-commit && pre-commit install

repos:
  # TypeScript/JavaScript validation
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Syntax Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [commit]
        
      - id: jsx-corruption-check
        name: Check for JSX Corruption Patterns
        entry: scripts/check-jsx-corruption.sh
        language: script
        files: \.(tsx|jsx)$
        stages: [commit]
        
      - id: verify-tsx-syntax
        name: Verify TSX File Syntax
        entry: scripts/verify-tsx.sh
        language: script
        files: \.(tsx)$
        stages: [commit]

  # CloudFormation validation
  - repo: local
    hooks:
      - id: cfn-lint
        name: CloudFormation Linter
        entry: cfn-lint
        language: python
        files: ^cfn/.*\.yaml$
        stages: [commit]

  # Python validation
  - repo: local
    hooks:
      - id: python-syntax
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: \.py$
        stages: [commit]

  # General file checks
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^cfn/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Prevent large files
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']

# To bypass hooks in emergency (NOT recommended):
# git commit --no-verify -m "emergency fix"

chore: Remove internal scripts, test files, and competitor docs from tracking
  .gitignore
  docs/guides/DRS_SRM_API_MAPPING.md
  docs/guides/DR_SOLUTIONS_API_COMPARISON.md
  frontend/src/components/WaveConfigEditor.tsx.backup
  lambda/poller/.coverage
  lambda/poller/execution-poller.zip
  lambda/poller/execution_finder.zip
  lambda/poller/execution_poller.zip
  lambda/poller/test_execution_finder.py
  lambda/poller/test_execution_poller.py
  scripts/check-jsx-corruption.sh
  scripts/check_drill_status.py
  scripts/cleanup_stuck_drs_jobs.py
  scripts/commit-files-individually.sh
  scripts/execute_drill.py
  scripts/incremental-commit.sh
  scripts/monitor_drill.py
  scripts/monitor_lambda_drill.py
  scripts/run-automated-tests.sh
  scripts/run-tests.sh
  scripts/safe-edit.sh
  scripts/verify-cleanup.sh
  scripts/verify-tsx.sh
Due: python-syntax

docs: Update requirements docs to reflect current production state
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
Due: none

chore: Remove competitor references from code and docs
  docs/architecture/ARCHITECTURAL_DESIGN_DOCUMENT.md
  docs/guides/MVP_PHASE1_DRS_INTEGRATION.md
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/components/ServerSelector.tsx
  frontend/src/types/index.ts
  lambda/index.py
  lambda/poller/execution-poller.zip
  lambda/poller/execution_finder.zip
  lambda/poller/execution_poller.zip
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax

chore: Remove poller zip files from tracking, update gitignore
  .gitignore
  lambda/poller/execution-poller.zip
  lambda/poller/execution_finder.zip
  lambda/poller/execution_poller.zip
Due: none

fix: Add missing IAM permissions for DRS recovery operations
  cfn/lambda-stack.yaml
Due: cfn-lint

docs: Update PROJECT_STATUS, README, and add DRS IAM analysis
  DRS_COMPLETE_IAM_ANALYSIS.md
  README.md
  docs/PROJECT_STATUS.md
Due: none

feat: Add Step Functions orchestration and UI enhancements
  cfn/api-stack.yaml
  cfn/master-template.yaml
  cfn/step-functions-stack.yaml
  frontend/build.sh
  frontend/src/components/WaveProgress.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/types/index.ts
  lambda/drs_orchestrator.py
  lambda/index.py
  lambda/orchestration.zip
  lambda/orchestration_stepfunctions.py
  scripts/sync-to-deployment-bucket.sh
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

chore: Add debugging artifacts and utility scripts
  AWS_DRS_SERVICE_ROLE_POLICY_ANALYSIS.md
  CICD_RULES_SUMMARY.md
  CLOUDFORMATION_DEPLOYMENT_ISSUES.md
  COMMIT_00f4eb3_ANALYSIS.md
  COMMIT_242b696_ANALYSIS.md
  DEPLOYMENT_GAP_ANALYSIS.md
  DEPLOYMENT_PROTECTION_COMPLETE.md
  DEPLOYMENT_RECOVERY_GUIDE.md
  DEPLOYMENT_STATUS_REPORT.md
  DEPLOYMENT_SUCCESS_SUMMARY.md
  DRS_CONVERSION_STUCK_ANALYSIS.md
  ENVIRONMENT_UPDATE_SUMMARY.md
  REDEPLOYMENT_VERIFICATION.md
  REDEPLOY_READY.md
  STEP_FUNCTIONS_CLOUDFORMATION_FIX.md
  V1.0.0_TAG_ANALYSIS.md
  aws-config-fixed.json
  aws-config.js
  aws-config.json
  response.json
  scripts/check_job_completion.sh
  scripts/monitor_active_job.sh
  scripts/test_drs_drill_trace.py
  scripts/wait_for_completion.sh
  test-drill.sh
  test-payload.json
  test_payload.json
  validate-deployment.sh
Due: python-syntax

fix(ui): Show total waves from recovery plan, not just executed waves
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/components/WaveProgress.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

UI improvements: wave progress display, Cognito config update, date column widths
  frontend/public/aws-config.json
  frontend/src/pages/RecoveryPlansPage.tsx
  lambda/index.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax
