Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

.pre-commit-config.yaml:

# Pre-commit hooks for AWS DRS Orchestration
# Install: pip install pre-commit && pre-commit install

repos:
  # TypeScript/JavaScript validation
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Syntax Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [commit]
        
      - id: jsx-corruption-check
        name: Check for JSX Corruption Patterns
        entry: scripts/check-jsx-corruption.sh
        language: script
        files: \.(tsx|jsx)$
        stages: [commit]
        
      - id: verify-tsx-syntax
        name: Verify TSX File Syntax
        entry: scripts/verify-tsx.sh
        language: script
        files: \.(tsx)$
        stages: [commit]

  # CloudFormation validation
  - repo: local
    hooks:
      - id: cfn-lint
        name: CloudFormation Linter
        entry: cfn-lint
        language: python
        files: ^cfn/.*\.yaml$
        stages: [commit]

  # Python validation
  - repo: local
    hooks:
      - id: python-syntax
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: \.py$
        stages: [commit]

  # General file checks
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^cfn/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Prevent large files
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']

# To bypass hooks in emergency (NOT recommended):
# git commit --no-verify -m "emergency fix"

fix(phase1): CRITICAL - Fix wave launch to create single JobId per wave
  docs/PROJECT_STATUS.md
  docs/SESSION_57_PART_9_SUMMARY.md
  docs/TEST_SCENARIO_1.1_CRITICAL_BUG_REPORT.md
  docs/TEST_SCENARIO_1.1_UI_BUGS.md
  lambda/index.py
Due: python-syntax

feat: Bug #2 fix + E2E test automation framework
  docs/BUG_2_JOB_STATUS_FIX.md
  lambda/poller/execution_poller.py
  tests/python/README.md
  tests/python/automated_e2e_test.py
Due: python-syntax

fix(ui): Fix active executions filter to recognize backend status values
  frontend/src/pages/ExecutionsPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

fix(lambda): Remove invalid tags parameter from DRS API calls
  lambda/index.py
Due: python-syntax

docs(readme): Realistic assessment - All bugs fixed but DRS validation pending
  README.md
Due: none

fix: handle epoch 0 timestamps in DateTimeDisplay - Bug 3
  frontend/src/components/DateTimeDisplay.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

fix: populate server data from DRS + EC2 enrichment - Bug 2
  lambda/poller/execution_poller.py
Due: python-syntax

fix: add wave dependency checking before initiation - Bug 1
  lambda/index.py
Due: python-syntax

fix(lambda): Bug 7 - Restore wave dependency initiation logic
  docs/BUG_7_SOLUTION.md
  lambda/index.py
Due: python-syntax

docs: Session 57 Part 13 summary - Bug 7 Phase 1 deployed
  docs/SESSION_57_PART_13_BUG_7_DEPLOYED.md
Due: none

docs: Update UI bugs status - deferred to next session
  docs/TEST_SCENARIO_1.1_UI_BUGS.md
Due: none

fix: Add explicit status mappings for POLLING/INITIATED/LAUNCHING
  lambda/index.py
Due: python-syntax

docs: Add Bug #5 status mapping fix documentation
  docs/BUG_5_STATUS_MAPPING_FIX.md
Due: none

fix(frontend): Add INITIATED, LAUNCHING, STARTED states to active filter
  frontend/src/pages/ExecutionsPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax
