Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

typescript-check:
  name: TypeScript Syntax Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false
  stages:
  - commit

jsx-corruption-check:
  name: Check for JSX Corruption Patterns
  entry: scripts/check-jsx-corruption.sh
  language: script
  stages:
  - commit

verify-tsx-syntax:
  name: Verify TSX File Syntax
  entry: scripts/verify-tsx.sh
  language: script
  stages:
  - commit

cfn-lint:
  name: CloudFormation Linter
  entry: cfn-lint
  language: python
  stages:
  - commit

python-syntax:
  name: Python Syntax Check
  entry: python -m py_compile
  language: system
  stages:
  - commit

feat(execution-history): Integrate execution history into Recovery Plans display
  .env.test
  frontend/public/aws-config.json
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/tsconfig.json
  history/checkpoints/checkpoint_session_20251122_195535_afcfea_2025-11-22_19-55-35.md
  history/conversations/conversation_session_20251122_180949_d329da_2025-11-22_18-09-49_task_1763852699706.md
  history/conversations/conversation_session_20251122_195535_afcfea_2025-11-22_19-55-35_task_1763857028053.md
  history/sessions/session_20251122_195535_afcfea.json
  lambda/index.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax

fix(ui): Improve Recovery Plans table readability
  frontend/src/components/DataGridWrapper.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

feat(ui): attempt DataGrid header styling fixes - investigation needed
  frontend/src/components/DataGridWrapper.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

docs: Session 49 DataGrid styling investigation - unresolved
  docs/SESSION_49_DATAGRID_STYLING_INVESTIGATION.md
Due: none

docs: Update PROJECT_STATUS.md with Session 49 Part 2 (DataGrid investigation)
  docs/PROJECT_STATUS.md
Due: none

fix: Add ConflictException handling for DRS drill launches
  docs/SESSION_49_PART_4_CONFLICTEXCEPTION_FIX.md
  lambda/index.py
Due: python-syntax

docs: Document wave dependency enhancement and DRS drill failure analysis
  docs/DRS_DRILL_FAILURE_ANALYSIS.md
  docs/DR_SOLUTIONS_SALES_BATTLECARD.md
  docs/PROJECT_STATUS.md
  docs/SESSION_49_DRS_LAUNCH_FAILURE_FIX.md
  docs/SESSION_49_EXECUTION_STATUS_SEMANTIC_ISSUE.md
  docs/SESSION_49_PART_5_WAVE_DEPENDENCY_ENHANCEMENT.md
Due: none

docs: Session 49 Part 5 snapshot - Wave dependency enhancement documented
  docs/PROJECT_STATUS.md
Due: none

docs: Update battlecard scalability to reflect single account limits
  docs/DR_SOLUTIONS_SALES_BATTLECARD.md
Due: none

docs: Remove single account qualifier from battlecard title
  docs/DR_SOLUTIONS_SALES_BATTLECARD.md
Due: none

feat: Session 49 Complete - ConflictException fix deployed and battlecard updated
  docs/PROJECT_STATUS.md
Due: none

docs: Session 50 - Testing plan prepared for ConflictException fix
  docs/PROJECT_STATUS.md
Due: none

docs: Improve sales battlecard credibility - remove fabricated quotes
  docs/DR_SOLUTIONS_SALES_BATTLECARD.md
Due: none

fix: Remove broken table fragment from battlecard
  docs/DR_SOLUTIONS_SALES_BATTLECARD.md
Due: none

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  jsx-corruption-check: any of: \.(tsx|jsx)$
  verify-tsx-syntax: any of: \.(tsx)$
  cfn-lint: any of: ^cfn/.*\.yaml$
  python-syntax: any of: \.py$
