Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

.pre-commit-config.yaml:

# Pre-commit hooks for AWS DRS Orchestration
# Install: pip install pre-commit && pre-commit install

repos:
  # TypeScript/JavaScript validation
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Syntax Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [commit]
        
      - id: jsx-corruption-check
        name: Check for JSX Corruption Patterns
        entry: scripts/check-jsx-corruption.sh
        language: script
        files: \.(tsx|jsx)$
        stages: [commit]
        
      - id: verify-tsx-syntax
        name: Verify TSX File Syntax
        entry: scripts/verify-tsx.sh
        language: script
        files: \.(tsx)$
        stages: [commit]

  # CloudFormation validation
  - repo: local
    hooks:
      - id: cfn-lint
        name: CloudFormation Linter
        entry: cfn-lint
        language: python
        files: ^cfn/.*\.yaml$
        stages: [commit]

  # Python validation
  - repo: local
    hooks:
      - id: python-syntax
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: \.py$
        stages: [commit]

  # General file checks
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^cfn/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Prevent large files
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']

# To bypass hooks in emergency (NOT recommended):
# git commit --no-verify -m "emergency fix"

docs: Complete session 61 - UI bug fixes for duration and wave progress
  docs/UI_BUG_FIX_SESSION_61.md
Due: none

docs: Session 61 - Launch config validation + custom tags deployed
  docs/PROJECT_STATUS.md
Due: none

chore: Repository cleanup - archive historical docs
  .gitignore
  docs/README.md
  docs/archive/README.md
Due: none

fix: Remove problematic launch config code causing drill failures
  lambda/index.py
Due: python-syntax

feat(deployment): Add individual stack deployment options
  scripts/sync-to-deployment-bucket.sh
Due: none

docs: Add Session 62 - Individual Stack Deployment Options
  docs/PROJECT_STATUS.md
Due: none

fix(deployment): Redirect echo to stderr in package_lambda()
  scripts/sync-to-deployment-bucket.sh
Due: none

fix(iam): Add missing DRS and EC2 permissions to Lambda roles
  cfn/lambda-stack.yaml
Due: cfn-lint

docs: Session 63 handoff to AWS KIRO - Lambda drill investigation
  README.md
  docs/PROJECT_STATUS.md
  docs/SESSION_63_HANDOFF_TO_KIRO.md
Due: none

fix: Restore drs_orchestrator.py for orchestration Lambda
  lambda/drs_orchestrator.py
  lambda/orchestration.zip
Due: python-syntax

docs: Add comprehensive system status document
  docs/SYSTEM_STATUS_COMPREHENSIVE.md
Due: none

feat: CloudScape migration Phase 1-3 (81% complete)
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/CardSkeleton.tsx
  frontend/src/components/ConfirmDialog.tsx
  frontend/src/components/DataTableSkeleton.tsx
  frontend/src/components/DateTimeDisplay.tsx
  frontend/src/components/ErrorState.tsx
  frontend/src/components/LoadingState.tsx
  frontend/src/components/ProtectionGroupDialog.tsx
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/components/RegionSelector.tsx
  frontend/src/components/ServerSelector.tsx
  frontend/src/components/StatusBadge.tsx
  frontend/src/components/WaveProgress.tsx
  frontend/src/components/cloudscape/AppLayout.tsx
  frontend/src/components/cloudscape/ContentLayout.tsx
  frontend/src/main.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/pages/RecoveryPlansPage_old.tsx
  frontend/src/styles/cloudscape-theme.ts
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

feat: Complete Phase 3 - ExecutionsPage migration (100%)
  frontend/src/pages/ExecutionsPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax
