Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

.pre-commit-config.yaml:

# Pre-commit hooks for AWS DRS Orchestration
# Install: pip install pre-commit && pre-commit install

repos:
  # TypeScript/JavaScript validation
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Syntax Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [commit]
        
      - id: jsx-corruption-check
        name: Check for JSX Corruption Patterns
        entry: scripts/check-jsx-corruption.sh
        language: script
        files: \.(tsx|jsx)$
        stages: [commit]
        
      - id: verify-tsx-syntax
        name: Verify TSX File Syntax
        entry: scripts/verify-tsx.sh
        language: script
        files: \.(tsx)$
        stages: [commit]

  # CloudFormation validation
  - repo: local
    hooks:
      - id: cfn-lint
        name: CloudFormation Linter
        entry: cfn-lint
        language: python
        files: ^cfn/.*\.yaml$
        stages: [commit]

  # Python validation
  - repo: local
    hooks:
      - id: python-syntax
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: \.py$
        stages: [commit]

  # General file checks
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^cfn/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Prevent large files
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']

# To bypass hooks in emergency (NOT recommended):
# git commit --no-verify -m "emergency fix"

docs: Comprehensive documentation updates for DR platform APIs
  README.md
  docs/architecture/STEP_FUNCTIONS_ANALYSIS.md
  docs/guides/AWS_DRS_API_REFERENCE.md
  docs/guides/DEPLOYMENT_AND_OPERATIONS_GUIDE.md
  docs/guides/DEPLOYMENT_RECOVERY_GUIDE.md
  docs/guides/DRS_RECOVERY_AND_FAILBACK_COMPLETE_GUIDE.md
  docs/guides/TESTING_AND_QUALITY_ASSURANCE.md
  docs/reference/AZURE_SITE_RECOVERY_RESEARCH_AND_API_ANALYSIS.md
  docs/reference/VMware_SRM_REST_API_Summary.md
  docs/reference/ZERTO_RESEARCH_AND_API_ANALYSIS.md
  docs/troubleshooting/CLOUDFORMATION_DEPLOYMENT_ISSUES.md
  docs/troubleshooting/IAM_ROLE_ANALYSIS_DRS_PERMISSIONS.md
  frontend/src/contexts/AuthContext.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

chore: Add Code Defender exceptions for documentation with example ARNs
  .codedefender
Due: none

docs: Add Session 65 entry to PROJECT_STATUS - documentation deep research complete
  docs/PROJECT_STATUS.md
Due: none

Refactor: Clean up deprecated Lambda code and update architecture diagrams
  .gitlab-ci.yml
  README.md
  cfn/lambda-stack.yaml
  cfn/master-template.yaml
  docs/PROJECT_STATUS.md
  docs/architecture/.$AWS-DRS-Orchestration-Architecture.drawio.bkp
  docs/architecture/ARCHITECTURAL_DESIGN_DOCUMENT.md
  docs/architecture/ARCHITECTURE_DIAGRAMS.md
  docs/architecture/AWS-DRS-Orchestration-Architecture.png
  docs/architecture/AWS_SERVICES_ARCHITECTURE_DEEP_DIVE.md
  docs/architecture/architecture-diagram.png
  docs/guides/DEPLOYMENT_AND_OPERATIONS_GUIDE.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  lambda/drs_orchestrator.py
  lambda/orchestration.zip
Due: cfn-lint, python-syntax

feat: Resume execution fix, DRS job events auto-refresh, button click prevention
  README.md
  cfn/api-stack.yaml.bak
  cfn/lambda-stack.yaml
  cfn/step-functions-stack.yaml
  docs/implementation/SSM_AUTOMATION_IMPLEMENTATION.md
  frontend/src/components/ConfirmDialog.tsx
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/components/WaveConfigEditor.tsx
  frontend/src/components/WaveProgress.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  lambda/index.py
  lambda/orchestration_stepfunctions.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

docs: Add Session 66 checkpoint - Step Functions pause/resume fixes
  docs/PROJECT_STATUS.md
Due: none

fix: Increase Step Functions pause timeout to 1 year (31536000s)
  cfn/step-functions-stack.yaml
Due: cfn-lint

Update requirements docs to v4.0 with pause/resume, terminate instances, DRS job events
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/SOFTWARE_REQUIREMENTS_SPECIFICATION.md
  docs/requirements/UX_UI_DESIGN_SPECIFICATIONS.md
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

feat: UX improvements and execution safeguards
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/pages/ProtectionGroupsPage.tsx
  lambda/index.py
  lambda/orchestration_stepfunctions.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax

Standardize frontend icons - replace emojis with CloudScape icons
  frontend/src/components/ErrorFallback.tsx
  frontend/src/components/ErrorState.tsx
  frontend/src/components/WaveProgress.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

Add CloudScape icons to Protection Groups actions menu
  frontend/src/pages/ProtectionGroupsPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax
