Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

.pre-commit-config.yaml:

# Pre-commit hooks for AWS DRS Orchestration
# Install: pip install pre-commit && pre-commit install

repos:
  # TypeScript/JavaScript validation
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Syntax Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [commit]
        
      - id: jsx-corruption-check
        name: Check for JSX Corruption Patterns
        entry: scripts/check-jsx-corruption.sh
        language: script
        files: \.(tsx|jsx)$
        stages: [commit]
        
      - id: verify-tsx-syntax
        name: Verify TSX File Syntax
        entry: scripts/verify-tsx.sh
        language: script
        files: \.(tsx)$
        stages: [commit]

  # CloudFormation validation
  - repo: local
    hooks:
      - id: cfn-lint
        name: CloudFormation Linter
        entry: cfn-lint
        language: python
        files: ^cfn/.*\.yaml$
        stages: [commit]

  # Python validation
  - repo: local
    hooks:
      - id: python-syntax
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: \.py$
        stages: [commit]

  # General file checks
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^cfn/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Prevent large files
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']

# To bypass hooks in emergency (NOT recommended):
# git commit --no-verify -m "emergency fix"

feat(lambda): Add automated Lambda deployment script and documentation
  docs/LAMBDA_DEPLOYMENT_GUIDE.md
  docs/PROJECT_STATUS.md
  lambda/deploy_lambda.py
Due: python-syntax

docs: Update README with Lambda deployment automation section
  README.md
Due: none

docs: Update README with Lambda deployment automation section
  README.md
  history/checkpoints/checkpoint_session_20251128_120226_430071_2025-11-28_12-02-26.md
  history/conversations/conversation_session_20251128_120226_430071_2025-11-28_12-02-26_task_1764345842500.md
  history/sessions/session_20251128_120226_430071.json
Due: none

docs: Update README.md with Session 57 completion status
  README.md
Due: none

chore: Add Session 57 Part 2 checkpoint files
  docs/PROJECT_STATUS.md
  history/checkpoints/checkpoint_session_20251128_121538_93616d_2025-11-28_12-15-38.md
  history/checkpoints/checkpoint_session_20251128_122034_56afcd_2025-11-28_12-20-34.md
  history/conversations/conversation_session_20251128_121538_93616d_2025-11-28_12-15-38_task_1764345842500.md
  history/conversations/conversation_session_20251128_122034_56afcd_2025-11-28_12-20-34_task_1764350234526.md
  history/sessions/session_20251128_121538_93616d.json
  history/sessions/session_20251128_122034_56afcd.json
Due: none

chore: Add Session 57 Part 2 checkpoint files
  docs/PROJECT_STATUS.md
Due: none

feat(database): Add StatusIndex GSI to ExecutionHistory table
  cfn/database-stack.yaml
Due: cfn-lint

docs: Phase 2 Day 1-2 StatusIndex GSI deployment verification
  docs/PROJECT_STATUS.md
Due: none

feat: Add Execution Finder Lambda with comprehensive tests
  lambda/poller/execution_finder.py
  lambda/poller/test_execution_finder.py
Due: python-syntax

feat(lambda): Add Execution Finder Lambda infrastructure
  cfn/lambda-stack.yaml
Due: cfn-lint

fix(cfn): Fix 14 CloudFormation quality issues in lambda-stack.yaml
  cfn/lambda-stack.yaml
  docs/CLOUDFORMATION_QUALITY_FIX_PLAN.md
Due: cfn-lint

docs: Update documentation with Session 57 Part 2 CloudFormation quality fixes
  README.md
  docs/CLOUDFORMATION_QUALITY_FIX_PLAN.md
Due: none

feat(lambda): Complete Execution Finder with adaptive polling
  lambda/poller/execution_finder.py
Due: python-syntax

feat(lambda): Create Execution Poller for DRS job monitoring
  lambda/poller/execution_poller.py
Due: python-syntax

test(lambda): Expand Execution Finder test coverage with 27 new tests
  lambda/poller/test_execution_finder.py
Due: python-syntax

chore: Session 57 Part 4 checkpoint - Execution Poller + Test Expansion
  docs/PROJECT_STATUS.md
  history/checkpoints/checkpoint_session_20251128_132005_9051e4_2025-11-28_13-20-05.md
  history/conversations/conversation_session_20251128_132005_9051e4_2025-11-28_13-20-05_task_1764350476120.md
  history/sessions/session_20251128_132005_9051e4.json
Due: none
