Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

typescript-check:
  name: TypeScript Syntax Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false
  stages:
  - commit

jsx-corruption-check:
  name: Check for JSX Corruption Patterns
  entry: scripts/check-jsx-corruption.sh
  language: script
  stages:
  - commit

verify-tsx-syntax:
  name: Verify TSX File Syntax
  entry: scripts/verify-tsx.sh
  language: script
  stages:
  - commit

cfn-lint:
  name: CloudFormation Linter
  entry: cfn-lint
  language: python
  stages:
  - commit

python-syntax:
  name: Python Syntax Check
  entry: python -m py_compile
  language: system
  stages:
  - commit

docs: Document Bug #5 correction - preserve DRS state names
  docs/BUG_5_STATUS_MAPPING_FIX.md
Due: none

docs: Create comprehensive Job Log Event Tracking roadmap
  docs/JOB_LOG_EVENT_TRACKING_ROADMAP.md
Due: none

feat(lambda): Add per-server launch configuration to DRS recovery
  docs/BUG_8_DRS_LAUNCH_CONFIG_ENHANCEMENT.md
  lambda/index.py
Due: python-syntax

docs: Session 57 Part 14 snapshot - Bug 8 enhancement deployed
  docs/PROJECT_STATUS.md
  docs/SESSION_57_PART_14_BUG_8_DEPLOYED.md
Due: none

docs: Session 57 Part 15 - Bug 9 critical discovery
  docs/PROJECT_STATUS.md
  docs/SESSION_57_PART_15_BUG_9_CRITICAL.md
Due: none

fix(drs): Bug 9 - Remove invalid recoveryInstanceProperties parameter
  docs/BUG_9_DRS_API_FIX_RESEARCH.md
  lambda/index.py
Due: python-syntax

fix(bug-9): Add recovery snapshot retrieval to fix DRS API compatibility
  docs/PROJECT_STATUS.md
  lambda/index.py
Due: python-syntax

fix(iam): Add drs:GetLaunchConfiguration permission to Lambda role
  cfn/lambda-stack.yaml
  docs/BUG_11_NO_LAUNCH_INVESTIGATION.md
Due: cfn-lint

docs: Bug 11 resolution - IAM permission fix complete
  docs/BUG_11_RESOLUTION.md
  docs/PROJECT_STATUS.md
Due: none

fix(drs): Bug 12 - Remove invalid recoverySnapshotID parameter
  docs/BUG_12_RESOLUTION.md
  docs/PROJECT_STATUS.md
  lambda/index.py
Due: python-syntax

fix(drs): Remove unsupported tags parameter from start_recovery API
  lambda/index.py
Due: python-syntax

feat: Complete Bug 12 fix and comprehensive session documentation
  .gitignore
  docs/API_GATEWAY_AUTH_INVESTIGATION.md
  docs/BUG_10_SNAPSHOT_SORTING_FIX.md
  docs/BUG_12_IMPLEMENTATION_PLAN.md
  docs/BUG_12_ROOT_CAUSE_ANALYSIS.md
  docs/BUG_3_DRS_TAGS_PARAMETER_FIX.md
  docs/BUG_4_WAVE_DEPENDENCY_ANALYSIS.md
  docs/BUG_5_WAVE_DEPENDENCIES_AND_SERVER_DATA.md
  docs/BUG_6_WAVE_DEPENDENCY_INITIATION.md
  docs/BUG_7_ROOT_CAUSE_ANALYSIS.md
  docs/BUG_9_RESOLUTION_FINDINGS.md
  docs/DRS_DRILL_LEARNING_SESSION.md
  docs/MASTER_IMPLEMENTATION_ROADMAP.md
  docs/MVP_COMPLETION_PLAN.md
  docs/PHASE_3_ENTERPRISE_ENHANCEMENTS_GUIDE.md
  docs/SESSION_57_PART_10_DEPLOYMENT_SUCCESS.md
  docs/SESSION_57_PART_11_DEPLOYMENT_COMPLETE.md
  docs/SESSION_57_PART_12_ALL_BUGS_FIXED.md
  docs/STEP_FUNCTIONS_DESIGN_PLAN.md
  docs/TEST_SCENARIO_1.1_FINAL_RESULTS.md
  docs/TEST_SCENARIO_1.1_PROGRESS.md
  test_results_20251128_183436.log
  test_results_direct_lambda_20251128_183518.log
  tests/python/monitor_drs_drill.py
  tests/python/standalone_drs_drill.py
  tests/python/test_results_None.json
  tests/python/test_results_failed.json
  tests/python/test_with_lambda_invoke.py
Due: python-syntax

feat: Complete Bug 12 fix and comprehensive session documentation
  .gitignore
  docs/API_GATEWAY_AUTH_INVESTIGATION.md
  docs/BUG_10_SNAPSHOT_SORTING_FIX.md
  docs/BUG_12_IMPLEMENTATION_PLAN.md
  docs/BUG_12_ROOT_CAUSE_ANALYSIS.md
  docs/BUG_3_DRS_TAGS_PARAMETER_FIX.md
  docs/BUG_4_WAVE_DEPENDENCY_ANALYSIS.md
  docs/BUG_5_WAVE_DEPENDENCIES_AND_SERVER_DATA.md
  docs/BUG_6_WAVE_DEPENDENCY_INITIATION.md
  docs/BUG_7_ROOT_CAUSE_ANALYSIS.md
  docs/BUG_9_RESOLUTION_FINDINGS.md
  docs/DRS_DRILL_LEARNING_SESSION.md
  docs/MASTER_IMPLEMENTATION_ROADMAP.md
  docs/MVP_COMPLETION_PLAN.md
  docs/PHASE_3_ENTERPRISE_ENHANCEMENTS_GUIDE.md
  docs/SESSION_57_PART_10_DEPLOYMENT_SUCCESS.md
  docs/SESSION_57_PART_11_DEPLOYMENT_COMPLETE.md
  docs/SESSION_57_PART_12_ALL_BUGS_FIXED.md
  docs/STEP_FUNCTIONS_DESIGN_PLAN.md
  docs/TEST_SCENARIO_1.1_FINAL_RESULTS.md
  docs/TEST_SCENARIO_1.1_PROGRESS.md
  history/checkpoints/checkpoint_session_20251128_162251_c71491_2025-11-28_16-22-51.md
  history/checkpoints/checkpoint_session_20251128_162817_d157fc_2025-11-28_16-28-17.md
  history/checkpoints/checkpoint_session_20251128_163421_d27560_2025-11-28_16-34-21.md
  history/checkpoints/checkpoint_session_20251128_165634_91e28b_2025-11-28_16-56-34.md
  history/checkpoints/checkpoint_session_20251128_210743_5ee05a_2025-11-28_21-07-43.md
  history/checkpoints/checkpoint_session_20251128_211507_f17dca_2025-11-28_21-15-07.md
  history/sessions/session_20251128_162251_c71491.json
  history/sessions/session_20251128_162817_d157fc.json
  history/sessions/session_20251128_163421_d27560.json
  history/sessions/session_20251128_165634_91e28b.json
  history/sessions/session_20251128_210743_5ee05a.json
  history/sessions/session_20251128_211507_f17dca.json
  test_results_20251128_183436.log
  test_results_direct_lambda_20251128_183518.log
  tests/python/monitor_drs_drill.py
  tests/python/standalone_drs_drill.py
  tests/python/test_results_None.json
  tests/python/test_results_failed.json
  tests/python/test_with_lambda_invoke.py
Due: python-syntax

fix(ui): resolve 5 critical Executions tab display bugs
  frontend/src/components/StatusBadge.tsx
  frontend/src/pages/ExecutionsPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

docs: comprehensive UI fixes documentation for Session 57 Part 17
  docs/SESSION_57_PART_17_UI_FIXES.md
Due: none

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  jsx-corruption-check: any of: \.(tsx|jsx)$
  verify-tsx-syntax: any of: \.(tsx)$
  cfn-lint: any of: ^cfn/.*\.yaml$
  python-syntax: any of: \.py$
