Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

.pre-commit-config.yaml:

# Pre-commit hooks for AWS DRS Orchestration
# Install: pip install pre-commit && pre-commit install

repos:
  # TypeScript/JavaScript validation
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Syntax Check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [commit]
        
      - id: jsx-corruption-check
        name: Check for JSX Corruption Patterns
        entry: scripts/check-jsx-corruption.sh
        language: script
        files: \.(tsx|jsx)$
        stages: [commit]
        
      - id: verify-tsx-syntax
        name: Verify TSX File Syntax
        entry: scripts/verify-tsx.sh
        language: script
        files: \.(tsx)$
        stages: [commit]

  # CloudFormation validation
  - repo: local
    hooks:
      - id: cfn-lint
        name: CloudFormation Linter
        entry: cfn-lint
        language: python
        files: ^cfn/.*\.yaml$
        stages: [commit]

  # Python validation
  - repo: local
    hooks:
      - id: python-syntax
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: \.py$
        stages: [commit]

  # General file checks
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^cfn/
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Prevent large files
  - repo: pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']

# To bypass hooks in emergency (NOT recommended):
# git commit --no-verify -m "emergency fix"

Add Repository Snapshots & Rollback section to README
  README.md
Due: none

Split CloudFormation validation into cfn-lint (required) and AWS CLI (optional)
  .gitlab-ci.yml
Due: none

Fix terminate instances progress - show success only when complete
  frontend/src/pages/ExecutionDetailsPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

Add DRS service limits and regional availability implementation plans
  README.md
  docs/implementation/DRS_REGIONAL_AVAILABILITY_UPDATE_PLAN.md
  docs/implementation/DRS_SERVICE_LIMITS_IMPLEMENTATION_PLAN.md
  docs/research/AWS_DRS_SERVICE_LIMITS_AND_CAPABILITIES_RESEARCH.md
Due: none

feat: Update AWS DRS regional availability to 28 commercial regions
  README.md
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  frontend/src/components/RegionSelector.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

fix: Improve DRS initialization and server discovery error messages
  frontend/src/components/ServerDiscoveryPanel.tsx
  lambda/index.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax

feat: Implement DRS Service Limits Compliance validation (Backend Phase 1)
  lambda/index.py
Due: python-syntax

feat: Implement DRS Service Limits Compliance (Frontend Phase 2)
  frontend/src/components/DRSQuotaStatus.tsx
  frontend/src/components/RecoveryPlanDialog.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/drsQuotaService.ts
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

docs: Update changelog and project status for DRS Service Limits Phase 2
  README.md
  docs/PROJECT_STATUS.md
Due: none

feat: Enhance Getting Started page with improved layout and guide
  frontend/src/pages/GettingStartedPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax

Fix Getting Started page card alignment with fitHeight and flex layout
  frontend/src/pages/GettingStartedPage.tsx
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax
