Repository johnjcousens/aws-elasticdrs-orchestrator: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, jsx-corruption-check, verify-tsx-syntax, cfn-lint, python-syntax

typescript-check:
  name: TypeScript Syntax Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false
  stages:
  - commit

jsx-corruption-check:
  name: Check for JSX Corruption Patterns
  entry: scripts/check-jsx-corruption.sh
  language: script
  stages:
  - commit

verify-tsx-syntax:
  name: Verify TSX File Syntax
  entry: scripts/verify-tsx.sh
  language: script
  stages:
  - commit

cfn-lint:
  name: CloudFormation Linter
  entry: cfn-lint
  language: python
  stages:
  - commit

python-syntax:
  name: Python Syntax Check
  entry: python -m py_compile
  language: system
  stages:
  - commit

fix: Add DecimalEncoder to async worker payload serialization
  lambda/index.py
Due: python-syntax

fix: Add camelCase transformation for execution list API
  lambda/index.py
Due: python-syntax

fix: Add camelCase transformation for execution details API
  lambda/index.py
Due: python-syntax

fix: Correct field name transformation for execution APIs
  lambda/index.py
Due: python-syntax

fix: Standardize field naming in execution details endpoint
  frontend/src/pages/ExecutionDetailsPage.tsx
  lambda/index.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax

fix: Add deep camelCase transformation for execution details nested objects
  lambda/index.py
Due: python-syntax

docs: Session 52 - Execution history cleanup complete
  docs/PROJECT_STATUS.md
  history/checkpoints/checkpoint_session_20251128_001940_a7b177_2025-11-28_00-19-40.md
  history/sessions/session_20251128_001940_a7b177.json
Due: none

docs: Session 52 - Execution history cleanup complete
  docs/PROJECT_STATUS.md
Due: none

docs: DRS execution fix planning and unified architecture design
  docs/DRS_EXECUTION_FIX_IMPLEMENTATION_PLAN.md
  docs/PROJECT_STATUS.md
  docs/guides/AWS_DRS_DRILL_EXECUTION_WALKTHROUGH.md
  docs/guides/AWS_DRS_RECOVERY_EXECUTION_WALKTHROUGH.md
  docs/guides/AWS_DRS_SOURCE_SERVER_CONFIGURATION_API_REFERENCE.md
  docs/guides/AWS_DRS_STATUS_MONITORING_API_REFERENCE.md
  implementation_plan.md
Due: none

docs: DRS execution fix planning and unified architecture design
  docs/DRS_EXECUTION_FIX_IMPLEMENTATION_PLAN.md
  docs/PROJECT_STATUS.md
  docs/guides/AWS_DRS_DRILL_EXECUTION_WALKTHROUGH.md
  docs/guides/AWS_DRS_RECOVERY_EXECUTION_WALKTHROUGH.md
  docs/guides/AWS_DRS_SOURCE_SERVER_CONFIGURATION_API_REFERENCE.md
  docs/guides/AWS_DRS_STATUS_MONITORING_API_REFERENCE.md
  history/checkpoints/checkpoint_session_20251127_173247_249c91_2025-11-27_17-32-47.md
  history/checkpoints/checkpoint_session_20251128_012415_387174_2025-11-28_01-24-15.md
  history/sessions/session_20251127_173247_249c91.json
  history/sessions/session_20251128_012415_387174.json
  implementation_plan.md
Due: none

feat(lambda): Phase 1 - Async execution refactoring for DRS timeout fix
  cfn/lambda-stack.yaml
  docs/archive/SESSION_53_LAMBDA_REFACTORING_ANALYSIS.md
  lambda/index.py
Due: cfn-lint, python-syntax

docs: Add Session 54 summary to PROJECT_STATUS.md
  docs/PROJECT_STATUS.md
Due: none

docs: Session 54 final snapshot and handoff document
  docs/PROJECT_STATUS.md
  docs/SESSION_55_HANDOFF.md
Due: none

fix: Update OrchestrationFunction timeout from 900s to 120s for async execution pattern
  cfn/lambda-stack.yaml
Due: cfn-lint

feat: Lambda routing fix + Phase 2 planning docs (Sessions 54-56)
  .gitignore
  AWS_DRS_Orchestration_Executive_Prototype_Summary.docx
  README.md
  docs/PHASE_2_IMPLEMENTATION_SUMMARY.md
  docs/PHASE_2_TESTING_PLAN.md
  docs/PHASE_2_TESTING_PLAN_CONTINUED.md
  docs/PROJECT_STATUS.md
  docs/dtr-tools-links.txt
  docs/guides/AWS_DRS_ADVANCED_STATUS_POLLING_REFERENCE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/WaveProgress.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  lambda/index.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax

feat: Lambda routing fix + Phase 2 planning docs (Sessions 54-56)
  .gitignore
  AWS_DRS_Orchestration_Executive_Prototype_Summary.docx
  README.md
  docs/PHASE_2_IMPLEMENTATION_SUMMARY.md
  docs/PHASE_2_TESTING_PLAN.md
  docs/PHASE_2_TESTING_PLAN_CONTINUED.md
  docs/PROJECT_STATUS.md
  docs/dtr-tools-links.txt
  docs/guides/AWS_DRS_ADVANCED_STATUS_POLLING_REFERENCE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ExecutionDetails.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/WaveProgress.tsx
  frontend/src/pages/ExecutionDetailsPage.tsx
  frontend/src/pages/ExecutionsPage.tsx
  frontend/src/pages/RecoveryPlansPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  history/checkpoints/checkpoint_session_20251128_013523_905c6f_2025-11-28_01-35-23.md
  history/checkpoints/checkpoint_session_20251128_014335_249f38_2025-11-28_01-43-35.md
  history/checkpoints/checkpoint_session_20251128_101613_e391fb_2025-11-28_10-16-13.md
  history/checkpoints/checkpoint_session_20251128_105356_431441_2025-11-28_10-53-56.md
  history/checkpoints/checkpoint_session_20251128_105828_8d491d_2025-11-28_10-58-28.md
  history/conversations/conversation_session_20251127_173247_249c91_2025-11-27_17-32-47_task_1764282620074.md
  history/conversations/conversation_session_20251128_001940_a7b177_2025-11-28_00-19-40_task_1764300622825.md
  history/conversations/conversation_session_20251128_012415_387174_2025-11-28_01-24-15_task_1764300622825.md
  history/conversations/conversation_session_20251128_013523_905c6f_2025-11-28_01-35-23_task_1764311215587.md
  history/conversations/conversation_session_20251128_014335_249f38_2025-11-28_01-43-35_task_1764311215587.md
  history/conversations/conversation_session_20251128_101613_e391fb_2025-11-28_10-16-13_task_1764311215587.md
  history/conversations/conversation_session_20251128_105356_431441_2025-11-28_10-53-56_task_1764343292929.md
  history/conversations/conversation_session_20251128_105828_8d491d_2025-11-28_10-58-28_task_1764345399941.md
  history/sessions/session_20251128_013523_905c6f.json
  history/sessions/session_20251128_014335_249f38.json
  history/sessions/session_20251128_101613_e391fb.json
  history/sessions/session_20251128_105356_431441.json
  history/sessions/session_20251128_105828_8d491d.json
  lambda/index.py
Due: typescript-check, jsx-corruption-check, verify-tsx-syntax, python-syntax

feat(scripts): Add AWS profile support to S3 sync script
  scripts/sync-to-deployment-bucket.sh
Due: none

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  jsx-corruption-check: any of: \.(tsx|jsx)$
  verify-tsx-syntax: any of: \.(tsx)$
  cfn-lint: any of: ^cfn/.*\.yaml$
  python-syntax: any of: \.py$
